[2018-02-06 03:02] #1410 closed

[2018-02-06 16:35] mcsaunders opened #1412 "sp_BlitzFirst - BlitzCache Output Table Error"
**Do you want to request a *feature* or report a *bug*?**
Bug - sp_BlitzFirst version 6.2 / 20180201

**What is the current behavior?**
In a clean database (i.e. First Responder Kit objects do not already exist), the first time sp_BlitzFirst is run with output table parameters an invalid object error is generated for the BlitzCache output table.

**If the current behavior is a bug, please provide

[2018-02-06 20:35] parlevjo2 commented on #1407
Hi @BlitzErik ,

How does it works with new CheckID's.
Can I use CheckID 58 for my code ?

[2018-02-06 20:36] BlitzErik commented on #1407
@parlevjo2 - Please [look here](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/Documentation/sp_Blitz%20Checks%20by%20Priority.md)

[2018-02-06 20:59] parlevjo2 commented on #1407
I would like to make a new CheckID with these characteristics. Open for a debate:

Priority | FindingsGroup | Finding | URL | CheckID
-------- | ------------- | ------- | --------------------------------------- | ----------------
230 | Security | Database Owner is Unknown | https://BrentOzar.com/go/owndbunknown | Current High CheckID + 1

It is based on CheckID 55 which is in the same category.

P

[2018-02-06 21:07] BrentOzar commented on #1407
Cool, go for it! Sounds good to me.

[2018-02-06 22:09] parlevjo2 commented on #1407
I have published the changes ("sp_Blitz Checks by Priority.md" and "sp_Blitz.sql") to branch 'issue_1407/parlevjo2'.
I have tested the new sp_blitz.sql on SQL Server 2008 R2 and SQL Server 2012

Example output:

FindingsGroup | Finding | DatabaseName | URL | Details | QueryPlan | QueryPlanFiltered | CheckID
-------- | ------------------------- | -------- | ------------------------------------- | -

[2018-02-07 00:02] BlitzErik commented on #1407
You're on the right track. When you're ready for us to see the code, create a pull request.

One other note: you're linking to a URL on our site that doesn't exist. You'll probably wanna use a link that exists instead, that way it's easier for us to drop the wording for the warning on that page (if you don't mind writing it -- I don't know what you'd tell people here that's actionable).

[2018-02-07 17:40] iwebsguy opened #1413 "Could not load file or assembly System.EnterpiseServices or one of its dependencies."
Followed the instructions on the first responder page. Ran the query to install, created the database, installed PowerBI, when I go to connect to the server I get the following error

![2018-02-07 09_38_21-](https://user-images.githubusercontent.com/34586483/35931802-aacb582e-0bea-11e8-9705-0e0fdb9cc07f.png)

**Which versions of SQL Server and which OS are affected by this issue? Did this work in

[2018-02-07 19:49] parlevjo2 commented on #1407
Hi Erik,

We have 3 options in my opinion.

1.

[2018-02-07 20:08] parlevjo2 commented on #1407
Hi Erik,

We have 4 options in my opinion:

1. Yan can copy the page https://www.BrentOzar.com/go/owndb to https://BrentOzar.com/go/owndbunknown. Replace "Database Owners <> SA" with "Database Owner is Unknown". Remove the section: "To Fix the Problem Long Term". New Text:
# sp_Blitz® Result: Database Owner is Unknown
When databases are created, the owner defaults to whoever created it. When the o

[2018-02-08 00:22] BlitzErik opened #1414 "sp_BlitzCache/QueryStore -- Checking sorts"
When we're looking at Sort operators to see if they're expensive, we could also see if any of the Sorting elements are [Expr1000] (or any numbered expression), since these signify that data altered on the fly is being sorted. This can happen with something as simple as CONVERT, but it can also happen with CASE expressions and other ugliness.

[2018-02-08 11:56] imajaydwivedi opened #1415 "String Data Getting Truncated Error - sp_BlitzCache"
I am executing below code in my active busy server, and its finishing with error -

## Code being Used
EXEC dbo.sp_BlitzFirst
  @OutputDatabaseName = 'FirstResponderKit',
  @OutputSchemaName = 'dbo',
  @OutputTableName = 'BlitzFirst',
  @OutputTableNameFileStats = 'BlitzFirst_FileStats',
  @OutputTableNamePerfmonStats = 'BlitzFirst_PerfmonStats',
  @OutputTableNameWaitStats = 'BlitzFirst_WaitStats

[2018-02-08 12:08] BrentOzar commented on #1415
Thanks for the parameters and the output messages. That helps get us started on troubleshooting.

Based on your input parameters, you're calling sp_BlitzFirst, which then calls sp_BlitzCache. It looks like the problem is inside sp_BlitzCache in the tables it's writing to disk.

Here's the tough part: from here, I can't tell which field is getting truncated. This is a notorious error from SQL Serve

[2018-02-08 12:09] BrentOzar commented on #1413
If you Google for that error message, it looks like a fairly common issue with Power BI. You can follow the steps from there to troubleshoot. (It's not an issue with the First Responder Kit, so closing.)

[2018-02-08 12:09] #1413 closed

[2018-02-08 12:18] BlitzErik commented on #1415
Make sure you're on the newest version of the procs. I've done a lot of work to fix these problems.

[2018-02-08 12:48] imajaydwivedi commented on #1415
Hi Brent/Erik,

Thanks for your help. Its resolved now. Yes I am using latest code from
github.

Following Brent's debugging suggestion, now its running successfully after
changing length of Column  [compile_time_value] from 128 to 250 in
[sp_BlitzCache] proc. The data I am getting is of 203 characters.

CREATE TABLE #stored_proc_info
(
    SPID INT,
SqlHandle VARBINARY(64),
    QueryHash BINARY(8

[2018-02-08 12:50] BlitzErik commented on #1415
Ajay -- if you were on the latest version, that table would have this definition.

![image](https://user-images.githubusercontent.com/11590415/35973800-bfd2b96e-0ca4-11e8-87d7-cf865b0b1688.png)

Time to get downloading, buddy ;)

[2018-02-08 12:51] #1415 closed

[2018-02-08 12:57] imajaydwivedi commented on #1415
Thanks Eric. Seems my mistake :). You people are awesome.

Best Regards,
Ajay Dwivedi

On Thu, Feb 8, 2018 at 6:20 PM, BlitzErik <notifications@github.com> wrote:

[2018-02-08 18:52] ktaranov opened #1416 "sp_Blitz Collation problem for CheckId 163 (Query Store Disabled) database name"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Run: `EXEC sp_blitz` and get for **CheckId 163** result - `? ? 17 Test` (Database name is `ಠ ಠ 17 Test`)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http://sqlfiddle.com**
You can create demo database from this script: htt

[2018-02-09 00:32] BlitzErik opened #1417 "sp_BlitzCache/BlitzQueryStore -- more memory stuff"
It seems like we could be doing better in this department.

For example, when I have 100GB of memory:

![image](https://user-images.githubusercontent.com/11590415/36004622-980d8442-0d01-11e8-8146-86a040ead2e2.png)

When I have 10GB of memory:

![image](https://user-images.githubusercontent.com/11590415/36005321-209e6774-0d05-11e8-9e88-d8bd237e7f46.png)

When I have 1GB of memory:

![image](https:/

[2018-02-09 19:06] BlitzErik commented on #1414
Canning this one,

[2018-02-09 19:06] #1414 closed

[2018-02-09 19:08] BlitzErik commented on #1397
Reducing the scope to just flagging m:m joins

[2018-02-09 19:09] BlitzErik commented on #1417
Closing this until I figure out what I'd wanna do with the information.

[2018-02-09 19:09] #1417 closed

[2018-02-09 20:06] #1397 closed

[2018-02-09 20:10] BlitzErik commented on #1404
Eh.

[2018-02-09 20:10] #1404 closed

[2018-02-09 20:15] BlitzErik commented on #1388
I have a blog post coming up about this, but the short of it is that when you use window functions in a view, cte, or derived table, predicates can't be pushed unless they're in the partition by clause of the WF.

In the case of lag, it's effectively partitioned in the function. In the RN one, it's only in the order by. That makes it ineligible to be safely pushed.

[2018-02-09 20:18] BlitzErik commented on #1407
Is the less than dot page yours, or someone elses?

[2018-02-09 20:19] BlitzErik commented on #1409
No word back, closing.

[2018-02-09 20:19] #1409 closed

[2018-02-09 20:48] parlevjo2 commented on #1407
Somebodies else page. I do not have a website.

[2018-02-09 21:36] iwebsguy opened #1419 "Invalid object name 'DBAtools.dbo.BlitzCache'."
Followed the directions from https://www.brentozar.com/first-aid/first-responder-kit-power-bi-dashboard/

Ran script to isntall SP, created DBAtools DB, ran the query below manually

[code]
The following is output upon first run, running it again does not produce the error.

Environment details, also had this same result with SQL 2017.

Microsoft SQL Server 2016 (SP1-CU4) (KB4024305) - 13.0.4446.0

[2018-02-09 21:46] BlitzErik commented on #1419
Please search for issues before filing

Dupe of #1412

[2018-02-09 21:46] #1419 closed

[2018-02-09 21:47] iwebsguy commented on #1413
You are correct, I was not running as local admin. Running it as admin resolved the issue. Thanks.

https://community.powerbi.com/t5/Desktop/Unable-to-Connect-to-SQL-Server/td-p/202262

[2018-02-09 21:51] BlitzErik commented on #1407
Okay, go ahead and leave the URL blank for now. I'll create a page with a script from scratch to use.

Thanks!

[2018-02-09 22:06] BlitzErik commented on #1416
I do not have that issue here! Do you have a ~weird~ collation?

![image](https://user-images.githubusercontent.com/11590415/36052396-869b0062-0dbb-11e8-9e29-40673d57b532.png)

[2018-02-09 22:07] BlitzErik commented on #1416
OOH YOU'RE RIGHT! Nevermind.

[2018-02-09 22:11] BlitzErik commented on #1416
Alright, just doing a ctrl+f through the code for `''?''`, I found a bunch of places where Unicode characters would get lost. Gonna expand the issue to tackle those, too.

[2018-02-09 22:16] #1416 closed

[2018-02-10 03:09] 619619 commented on #1406
Have you modified the relationships in the model or maybe clicked around to "Autodetect..." ?
There is no default relationship that includes "PercentCPUByType", so the error message makes no sense in the current committed version

![image](https://user-images.githubusercontent.com/1709105/36058039-2336993e-0e18-11e8-8641-e617f67c03c7.png)

Can you show me this same screen in your model?

[2018-02-10 09:09] BilliousBT commented on #1409
Sorry got distracted by an outage.   I normally use Ola's solution, so this isn't normally an issue for me.   Current client, however, was all over the place.

[2018-02-10 19:56] BlitzErik opened #1421 "sp_BlitzCache/BQS -- Stupid flaws in the index spool math"
Two dumb things were happening:
1. We weren't multiplying estimated rows by rebinds -- this gives a realistic number
2. We were multiplying cpu and io by rewinds, even if it was less than 0. We should only multiply if it's not < 1. Otherwise the costs are diminished.

[2018-02-10 19:58] #1421 closed

[2018-02-11 16:11] BlitzErik commented on #1412
You could even do this in one pass with the regular system views:

[code]

[2018-02-12 11:41] mcsaunders commented on #1412
Thanks Erik. I'm a bit of a newbie when it comes to Git/GitHub but I'd be more than happy to take a look at this.

[2018-02-12 12:33] BlitzErik commented on #1412
Sure! If you decide to take a pass on it, lemme know and I'll pick it up.

[2018-02-12 23:09] parlevjo2 commented on #1407
Hi @BlitzErik ,

I did probably something wrong.
As in the documentation was written I had made a fork from master.
I Created a Pull Request in Github desktop and ended up with these pull request: "parlevjo2  wants to merge 15 commits into BrentOzarULTD:dev from parlevjo2:issue_1407/parlevjo2"

[2018-02-14 04:11] rainyclouds opened #1424 "sp_Blitz - dangerous modules check misses DOS 8.3 filenames"
I'm using version 6.2 of the sp_Blitz script. The dangerous modules check picked up the `C:\ProgramData\Sophos\Web Intelligence\swi_ifslsp_64.dll` module but missed `C:\PROGRA~2\Sophos\SOPHOS~1\SOPHOS~2.DLL`, which happens to be `C:\Program Files (x86)\Sophos\Sophos Anti-Virus\sophos_detoured_x64.dll`.

The output of:
[code]
is:

company | description | name
------------ | ------------ | ---------

[2018-02-14 11:57] BrentOzar commented on #1424
Great, thanks for the heads up. Here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

Did you want to make the code change yourself? Just checking, wasn't quite clear from the issue. (I'm fine either way.)

[2018-02-14 12:00] BrentOzar commented on #1406
@EmanueleMeazzo thanks for chiming in.

@mikethedba - Emanuele is right, this isn't a relationship we built in the distributed Power BI, so I'm guessing you made a change in your Power BI file. I'm going to close the issue, but if you do want to follow Emanuele's instructions on adding this screenshot, go ahead. Thanks!

[2018-02-14 12:00] #1406 closed

[2018-02-14 12:01] BrentOzar commented on #1360
@js0505 sure, go ahead and make that change to the documentation. I'll assign you to it. I have to confess that I have no idea what you're talking about, hahaha, so I'll trust you on this. :-D

[2018-02-14 16:26] jfoudy opened #1425 "sp_BlitzBackup Bug - Doesn't push time_zone to listener"
**Do you want to request a *feature* or report a *bug*?**
Bug - sp_BlitzBackup v2.2

**What is the current behavior?**
When using the functionality to push backup history to the listener, it creates a table called backupset.  This includes a column called time_zone, but when the data is pushed to the table the time_zone column is not included.

This is required if you want to create a centralized

[2018-02-14 22:33] BlitzErik commented on #1425
Thanks for letting us know!

[2018-02-14 23:29] rainyclouds commented on #1424
Thanks @BrentOzar

I'm happy for you to make the change as you see fit.

[2018-02-15 10:20] Adedba opened #1429 "sp_BlitzFirst - Can get stuck on WAITFOR TIME with certain edge cases."
**Do you want to request a *feature* or report a *bug*?**
Not really a bug as such, more of an improvement

**What is the current behavior?**
If SQL gets to the IF block containing the WAITFOR TIME with just a few milleseconds and the WAITFOR TIME has a short delay spinning up a thread to start the internal counter this can cause the Procedure to hang with a wait type of WAITFOR as a result of @Fi

[2018-02-15 10:31] ShawnCrocker commented on #1181
Haven't forgotten about this. Well, I nearly did...

[2018-02-15 10:42] ShawnCrocker opened #1430 "sp_DatabaseRestore: add @CustomPostRestoreSQL parameter"
Each site may have some post-restore actions to carry out

Examples:
- ensure the database owner is "sa" (although could be a separate parameter)
- Invoke anonymisation script (I work for a Swiss bank)
- "Unlive" a database eg remove live email addresses or live paths from a database restored to a test server
- run a backup of the restored database

I don't think it should replace other parameters

[2018-02-15 11:25] BrentOzar commented on #1430
Why should sp_DatabaseRestore do that work? Why not do it in whatever tool is calling sp_DatabaseRestore, like an Agent job?

[2018-02-15 11:48] BrentOzar commented on #1429
Perfect, thanks for working through this, I really appreciate it. I'll get that code into the next release.

[2018-02-15 12:14] ShawnCrocker commented on #1430
Personal preference? I often prefer one-stop scripts and a simpler calling mechanism

Changing owner to sa could be in scope though.
This  is a one line commands that could be implemented as a new flag

[2018-02-15 13:38] BrentOzar commented on #1430
I hear ya, but the problem is error handling - something that sp_DatabaseRestore doesn't do well to begin with. To do it right, you'd also need to surface which part of the proc failed - the database restore, or the post script, and what the message was. Is that really something you wanna tackle?

(If so, I like where you're going with it - just worried about the supportability when the script fai

[2018-02-15 15:58] ShawnCrocker commented on #1430
Good points: it's way too ambitious for public use.

[2018-02-15 15:58] #1430 closed

[2018-02-15 21:02] Adedba commented on #1429
no problem at all, glad it was helpful.
So it happened again but this time we left it running to test a theory whether it would stop 24 hours later... and it did!!  so it doesn't get stuck as such, just waits for the next occurrence of the time to come around .

[2018-02-16 09:42] Dm1tr1ch commented on #1346
Hello guys!
I have tested on Microsoft SQL Server 2016 (SP1-CU7-GDR) (KB4057119) - 13.0.4466.4 (X64)   Dec 22 2017 11:25:00   Copyright (c) Microsoft Corporation  Standard Edition (64-bit) on Windows Server 2012 R2 Standard 6.3 <X64> (Build 9600: ) (Hypervisor)

My steps:

1. Created little database with https://github.com/ktaranov/sqlserver-kit/blob/master/Scripts/IN_Memory_Example_2014.sql
2. In

[2018-02-16 09:45] Dm1tr1ch commented on #1346
And another test:

Microsoft SQL Server 2014 (SP2) (KB3171021) - 12.0.5000.0 (X64)   Jun 17 2016 19:14:09   Copyright (c) Microsoft Corporation  Enterprise Edition: Core-based Licensing (64-bit) on Windows NT 6.3 <X64> (Build 9600: )

My steps:

1. Install sp_BlitzInMemoryOLTP on sql-server
2. Run sp: EXEC sp_BlitzInMemoryOLTP

**Result**
Msg 207, Level 16, State 1, Line 4
Invalid column name 'tem

[2018-02-16 15:17] nedotter commented on #1346
Thanks very much for the feedback -- I will have a look at this tonight.

- Ned

On Fri, Feb 16, 2018 at 4:45 AM, SQLCom <notifications@github.com> wrote:

[2018-02-17 02:03] jackmang opened #1435 "sp_DatabaseRestore: Option to create a clean restore script without executing"
This would be a new feature.

The current behavior is that @Debug = 1 currently generates a lot of extra output - AND - executes the restore.  There is no option to just generate the script without executing it.

I would propose adding a parameter @script = 1 that would print the restore commands, but inhibit the execution of all script related to performing the actual restore task.  Additionally,

[2018-02-17 02:15] jackmang opened #1436 "sp_DatabaseRestore: call sp_CommandLog for additional statements"
I'm not sure if this is a bugfix or a feature, but currently some of the key executed script items are not run through sp_CommandExecute, and therefore are not in the CommandLog table.

Specifically, these are the changes I suggest:
Change execution of the final RESTORE DATABASE WITH RECOVERY to use CommandExecute instead of sp_executesql.
Change execution of ALTER DATABASE SET RECOVERY SIMPLE to

[2018-02-17 05:58] nedotter commented on #1346
The bug you reported about "Invalid column name 'temporal_type_desc'" has
been fixed. I've created a pull request for Konstantin.

The warnings on SQL 2016 were expected.

On Fri, Feb 16, 2018 at 10:17 AM, Ned Otter <nedotter@gmail.com> wrote:

[2018-02-17 06:55] ktaranov commented on #1346
@Dm1tr1ch  Thank you very much for your testing and feedback! @nedotter, great thanks for quick fix - fixed via https://github.com/ktaranov/sqlserver-kit/pull/139

[2018-02-17 17:24] BlitzErik opened #1438 "sp_BlitzCache: Aggregate spills for procs"
In this section, we tally up stuff at the statement level and assign the totals for the procs that called them:

`RAISERROR(N'Attempting to aggregate stored proc info from separate statements', 0, 1) WITH NOWAIT;`

We should do the same thing for tempdb spills.

[2018-02-18 17:43] EmanueleMeazzo opened #1439 "[PowerBI] Add file stats, Perfmon counters to Power BI Dashboard"
## **Do you want to request a *feature* or report a *bug*?**
New Feature for PowerBI! Once (and if) pull request #1437 is merged, we'll have all the tools built in to power up our powerbi

## **What are you modifying?**
The existing features won't be touched (at the moment), I'm adding two additional pages for Perfmon and Filestats.
One additional query to get the data from the _Actuals_ Perfmon v

[2018-02-19 12:11] ShawnCrocker commented on #1435
This is similar to #1185 and #1191

[2018-02-20 07:59] mikhailshilkov commented on #1352
OK, another example of odd CPU Weights, now from a SQL Server 2014 database:

![image](https://user-images.githubusercontent.com/1454008/36412858-3cb3003a-161c-11e8-9f9c-76ea017b49a8.png)

[2018-02-20 12:57] rsotgia commented on #1324
WTF.... would be easier to update the version available for download. I'm struggling finding table creation as DKLinger wrote but cannot find it in the code of 3440 lines

[2018-02-20 13:05] BlitzErik commented on #1324
@rsotgia not sure what you're talking about. It was released and available for download in the zip file about a month ago.

Sorry that ctrl + f doesn't work on your computer. Perhaps that's operator error?

Best,
Erik

[2018-02-20 14:29] rsotgia commented on #1324
got it. After 5 mins of anger I red error in line 2987 was in sp_blitzcache and not in blitzfirst....

[2018-02-22 05:43] BrentOzar commented on #1435
@jackmang thanks for doing the issue! I know it's a little painful to hear this now that the PR has already been created, but going through this issue process first will help a lot (and you'll see why now, heh.)

Generally speaking, you want to avoid parameters that end up producing code like this, taken from a quick code review:

`IF (@Debug IN (0, 1) AND @Script = 0)`

The debug and script param

[2018-02-22 05:44] BrentOzar commented on #1439
Ooo neat, this looks really cool! I'm out on the road at SQLBits, but I'll look at it next week when I get back home.

[2018-02-23 16:25] MTDatat commented on #1412
I am brand new to GitHub.  I downloaded the FirstResponder Kit this week.  When I run sp_BlitzFirst with the parameter @OutputTableNameBlitzCache = 'BlitzCache' I get the following response in SSMS:
Setting up configuration variables
Now starting diagnostic analysis
Capturing first pass of wait stats, perfmon counters, file stats
Beginning investigatory queries
Finished running investigatory queri

[2018-02-23 17:30] yportes commented on #1439
Waoooo...love it...will be waiting for it

[2018-02-23 21:09] mcsaunders commented on #1412
@MTDatat The BlitzCache table is created by sp_BlitzCache, there is no need to run a separate script to create it.  This particular issue relates to sp_BlitzFirst trying to query the table before sp_BlitzCache has been called, so the first time it runs the table does not exist.  Now that you've run sp_BlitzFirst once, the table should exist in your DBATools database, and everything should be fine.

[2018-02-24 06:44] michalporeba commented on #1237
The FirstResponderKit is great at being a first responder kit. An estate management tools are already out there and perhaps could be leveraged to solve the problem. Installing / updating the sp_Blitz* stored procedures across multiple instances could be easily done using the dbatools (https://dbatools.io/functions/install-dbafirstresponderkit/) and it would be very easy to add another powershell c

[2018-02-26 13:29] BrentOzar opened #1441 "sp_Blitz: unsupported build check add 2016 pre-SP1"
**Do you want to request a *feature* or report a *bug*?**
Feature - builds under 13.0.4001 are now out of support.

[2018-02-26 15:45] BlitzErik opened #1445 "sp_BlitzCache - The Search For non-SARGability"
We can infer a lack of SARGability in certain scenarios when there's an index scan and an intrinsic function is invoked.

This is a stub, will add more later.

[2018-02-26 17:24] harvey635 opened #1446 "sp_BlitzFirst Plan Cache Erased Recently Finding"
**Do you want to request a *feature* or report a *bug*?**
Requesting an enhancement.

**What is the current behavior?**
The Plan Cache Erased Recently finding details indicates that DBCC FREEPROCCACHE was the cause.

**What is the expected behavior?**
Finding details indicate that execution of DBCC FLUSHPROCINDB(<dbid>) may also be the cause.

**Which versions of SQL Server and which OS are affect

[2018-02-26 18:32] BrentOzar commented on #1436
This all makes sense, and I like it.

When you do another pull request for it though, make sure the pull request only works on one particular feature at a time. I did a quick read through that pull request, and a lot of the code was unrelated (like debug checks). Keeping your code focused on one issue at a time just means it's easier to coexist with other developers working on other features.

[2018-02-26 19:38] BrentOzar opened #1447 "sp_Blitz: add container info for @CheckServerInfo = 1"
**Do you want to request a *feature* or report a *bug*?**
Feature. SQL 2017 CU4 added new undocumented DMV fields container_type and container_type_desc in sys.dm_os_sys_info. Add those to the output of @CheckServerInfo = 1 the same way we tell folks if they're running under virtualization.

[2018-02-27 14:41] harvey635 commented on #1446
I'm happy to code it, already been working on it. I have to say I like your style (code style at least, can't speak to your fashion sense ;).
The check for the "Plan Cache Erased Recently" finding uses sys.dm_exec_query_stats, to check the aggregate query plans on the instance. Which makes sense, the whole sp is intented to check the instance, not just the context database. As I mentioned in my ca

[2018-02-27 14:42] BrentOzar commented on #1446
I don't think so, but you're the one who asked for it. :-)

[2018-02-27 14:43] BrentOzar commented on #1446
The other thing you can look at is the check for recent DBCC commands - that might also catch it, and you may be able to reuse that logic.

[2018-02-27 18:07] thirster42 opened #1449 "SP_BlitzIndex - fails when running for all databases"
For Version 6.2 with version date 20180201, on a dev server of mine when I run the following command I get an error:

EXEC	[ozar].[sp_BlitzIndex_Updated]
		@Mode = 0,
		@GetAllDatabases = 1,
		@BringThePain = 1

The output generated (DB names redacted):

Starting run. sp_BlitzIndex(TM) v6.2 - February 01, 2018
Create temp tables.
Adding UQ index on #IndexSanity (database_id, object_id, index_id)

[2018-02-27 18:26] BlitzErik commented on #1449
Ah, interesting!

Been meaning to add better debugging for this, but for now can you ctrl + f for this line?

`/*This is for debugging*/ `

Then just unquote the select from the `#ComputedColumns` table and re-run BlitzIndex.

I think I see where the problem will be, but I need the output from that select to verify.

Thanks!

[2018-02-27 18:53] #1447 closed

[2018-02-27 18:54] thirster42 commented on #1449
is there a way for me to send it to you securely?

[2018-02-27 18:54] #1424 closed

[2018-02-27 18:55] BlitzErik commented on #1449
Feel free to email it to me, sure. [erik at brent ozar]

On Tue, Feb 27, 2018 at 1:54 PM, thirster42 <notifications@github.com>
wrote:

--
Erik Darling
Consultant
Brent Ozar Unlimited <http://www.brentozar.com/>

[2018-02-27 18:56] #1429 closed

[2018-02-27 18:56] #1441 closed

[2018-02-27 18:57] thirster42 commented on #1449
sent

[2018-02-27 18:57] #1412 closed

[2018-02-27 19:06] BlitzErik commented on #1354
Hi there! Just wanted to check in on this since we haven't heard from you in a while.

Are you still interested in contributing this code?

Thanks!

[2018-02-27 19:07] #1407 closed

[2018-02-27 20:45] jackmang commented on #1436
Agreed.  We'll try to do this incrementally.

[2018-02-28 08:52] reharmsen commented on #1354
It's still on my list.
Guess we better close this for now, when I get anything I will open a new issue and a pull request.

[2018-02-28 09:42] #1354 closed

[2018-02-28 11:29] BlitzErik commented on #1449
Howdy sir! Can you try the [version here](https://raw.githubusercontent.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/d4ea98bc8e00a2b64a1d492f6cf442e3895311ef/sp_BlitzIndex.sql)?

[2018-02-28 14:14] thirster42 commented on #1449
that worked!

On Wed, Feb 28, 2018 at 5:29 AM, BlitzErik <notifications@github.com> wrote:

--
It's all about the cursors
http://about.me/DavidForck/bio

[2018-02-28 14:15] Adedba opened #1452 "sp_Blitz - Add check to determine log backups have the ability to take on a secondary Replica."
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
A Check is conducted whether log backups have taken for each FULL recovery database within the last 7 days , If any databases are found meeting the above criteria then this will output 'Full Recovery Model w/o Log Backups' in the findings column but no check is conducted to check if any of the Avai

[2018-02-28 14:22] BrentOzar commented on #1452
This has been suggested several times in the past (you can search the closed issues). Here's the big problem: AGs can fail over anywhere, at any time. People may have changed the preferred backup flags. People might just be doing it wrong.

Until we can safely check the backup situation across the replicas, like doing linked server queries across all AG members, we're not going to dig deeper in sp

[2018-02-28 14:22] #1452 closed

[2018-02-28 18:11] #1449 closed

[2018-02-28 18:14] #1445 closed

[2018-02-28 18:15] #1438 closed

[2018-02-28 18:18] #1245 closed

[2018-02-28 18:18] BlitzErik commented on #998
Gonna close this for now. Feel free to reopen when you're ready to start coding.

Thanks!

[2018-02-28 18:18] #998 closed

[2018-02-28 18:19] BlitzErik commented on #1435
I'm going to close this as a near-dupe of #1185 and #1191 as @ShawnCrocker noted.

Please refer to those issues when working on this functionality.

Thanks!

[2018-02-28 18:19] #1435 closed

[2018-02-28 18:37] #1425 closed

[2018-02-28 19:57] PAPutzback opened #1455 "Error when running sp_BlitzFirst - Invalid column name 'min_spills' and many more similar errors"
Reporting a BUG
The Version of my First Responder Kit is 2.2

Executed the "Install-All-Scripts.sql in Master
Executed Install-Core-Blitz-No-Query-Store.sql in Master
Created a database named DBATools
Executed the following from the site.

 EXEC sp_BlitzFirst
  @OutputDatabaseName = 'DBAtools',
  @OutputSchemaName = 'dbo',
  @OutputTableName = 'BlitzFirst',
  @OutputTableNameFileStats = 'BlitzFirs

[2018-02-28 20:02] BlitzErik commented on #1455
Please search closed issues before filing.

#1381

[2018-02-28 20:02] #1455 closed

[2018-03-01 13:30] BrentOzar opened #1456 "sp_Blitz: add deadlocks per day to check 124"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Check 124 gives me the total number of deadlocks since startup, but doesn't say when startup was. To make my horrific life easier, let's divide those numbers out to also include deadlocks per day.

[2018-03-01 14:33] TomVergote opened #1457 "Fast Forward cursors inhibit parallelism"
Issue 1386 included a check for Dynamic cursors, but FAST_FORWARD cursors inhibit parallelism too; see https://blogs.msdn.microsoft.com/psssql/2013/08/28/sql-2012-query-plan-enhancement-i-want-to-know-why-my-query-is-not-parallelized/ and https://dba.stackexchange.com/questions/106454/sp-cursoropen-and-parallelism

For example [this plan](https://www.brentozar.com/pastetheplan/?id=BJct0YSdf)  list

[2018-03-01 23:24] BlitzErik opened #1459 "Checking for implicit transactions (multiple)"
A blog commenter named Dan pointed out that it's possible to identify implicit transactions in `sys.dm_tran_active_transactions` by looking at the `name` column.

This checks out -- if you run this:

[code]

You should see this (abridged)

![image](https://user-images.githubusercontent.com/11590415/36874318-767fa35e-1d79-11e8-85d5-92c32910ee40.png)

Thankfully this looks different from explicit tr

[2018-03-02 05:10] jackmang commented on #1436
So, I'm trying to learn the right way to contribute.  I think that before I submit the pull request I need to get agreement on what it looks like.  It is pretty simple.  I will replace the last 4 instances of
`EXECUTE sp_executesql @sql;`
with
`EXECUTE @sql = [dbo].[CommandExecute] @Command = @sql, @CommandType = 'XXXXXXXX', @Mode = 1, @DatabaseName = @Database, @LogToTable = 'Y', @Execute = 'Y';`

[2018-03-02 11:18] BrentOzar commented on #1436
OK, sounds good. I've never used CommandExecute, so I leave that part in your capable hands. ;-)

[2018-03-02 11:19] BrentOzar commented on #1459
THAT IS BANANAS
AND BY BANANAS I MEAN AWESOME

[2018-03-02 13:08] #1459 closed

[2018-03-02 13:08] #1181 closed

[2018-03-02 13:22] #1457 closed

[2018-03-03 18:34] ArloUSA commented on #1439
Looks very promising!  Any idea when these enhancements will make it into a release?  @EmanueleMeazzo - I'd be delighted to beta this for you if you can provide me with a link to the Power BI files?  Thanks!

[2018-03-06 09:39] Totty1973 opened #1465 "Bug Version 20180301 - Zeile 4841,4826,4829 Ungültiger Spaltenname 'database_id'."
**Do you want to request a *feature* or report a *bug*?**
Bug Version 20180301

**What is the current behavior?**
says "Meldung 207, Ebene 16, Status 1, Prozedur sp_Blitz, Zeile 4841 Ungültiger Spaltenname 'database_id'.
Meldung 207, Ebene 16, Status 1, Prozedur sp_Blitz, Zeile 4826 Ungültiger Spaltenname 'database_id'. Meldung 207, Ebene 16, Status 1, Prozedur sp_Blitz, Zeile 4829 Ungültiger Spal

[2018-03-06 09:41] Totty1973 opened #1466 "sp_Blitz should skip check 68 (no CHECKDB) for databases < 2 weeks old"
**Do you want to request a *feature* or report a *bug*?**
request a feature. It seems to me that check 68 does not check for newly created databases.

**What is the current behavior?**
says "Last good DBCC CHECKDB over 2 weeks old" when running "sp_Blitz Feb  1 2017 12:00AM"

**What is the expected behavior?**
should skip newly created databases or report is as "less severe".

**Which versions of

[2018-03-06 11:30] BrentOzar commented on #1465
Hola! Brent here. Because this is an open source script, and because we don't have remote access to the server, you can jump start the troubleshooting by opening the script and looking at what's being done on the lines where the error fires. Then, run that script by itself - outside of sp_Blitz - to figure out where the error is coming from.

Once you've found that out, come back here and report b

[2018-03-06 11:32] BrentOzar commented on #1466
Hmm, I'll try to rephrase the question to make sure I understand.

You're saying that if a database was created 3 weeks ago, and it still hasn't had a CHECKDB, that it isn't a big deal?

[2018-03-06 11:37] BrentOzar commented on #1466
Ahhh, wait, I think I see what you're saying. You're saying that if I do this:

[code]

Then check 68 reports that BrandNewDatabase has never had a CHECKDB.

OK, sure, that feature makes sense. [Here's the Contributing Guide](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md) that explains how to contribute new features or changes. You did the right thing

[2018-03-06 13:46] dbadave87 opened #1467 "sp_BlitzFirst - Distinguish "RESTORE" and "RESTORE VERIFYONLY""
This is a change request.

When running Ola's log backups with "@Verify = 'Y' " parameter with scheduled sp_bliztFirst job running in the background, this creates an entry in BlitzFirst table and subsequently raises unnecessary alarms for those monitoring PowerBI dashboard.

I have filtered out for now in PowerBI but this is only possible for QueryPlan XML (ergh!):

![image](https://user-images.gi

[2018-03-06 13:50] BrentOzar commented on #1467
Hmm, dumb questions here:

 - What result set are you trying to filter? Are you talking about a specific check in sp_BlitzFirst's main result set (the prioritized list of problems, like a backup running right now) or sp_BlitzCache's table?
 - Why are you trying to keep it out? Say it's the most resource-consuming query on the system - wouldn't you want to know that?
 - Are you only trying to filte

[2018-03-06 14:17] dbadave87 commented on #1467
Wow, speedy response.

Data is pulled from sp_BlitzFirst's main result set.  Using your PowerBI
template, the highlighted rows below are from backups with VERIFYONLY flag
turned on:

These don't specify they are merely verifying the backup but instead
suggest a genuine "Restore Running" on production server.

I still want to know if its consuming most resources but would like to
distinguish betwee

[2018-03-06 14:20] BrentOzar commented on #1467
OK, bad news: verifying a restore is pretty similar to the workload of running the actual restore. SQL Server rips through the entire restore process. It's a maintenance task just like running a backup, restore, or a checkdb.

I understand if it's a lower priority to you personally, but it's not a lower priority to the server itself. You can see by watching the server's utilization while the verif

[2018-03-06 14:44] dbadave87 commented on #1467
Fair point on workload being the same.

To clarify, with AOAG selecting "prefer secondary" would be a better option to reduce workload on primary node:
![image](https://user-images.githubusercontent.com/37111394/37038286-4d2ce166-214c-11e8-90c5-d58fdb47b5d1.png)

[2018-03-06 14:45] BrentOzar commented on #1467
OK, so do you want to do the coding & check it into Github, I'm totally fine with that, though. Is that something you want to do? If so, [here's the contributing guide](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md). If not, just let me know and I can close the issue.

[2018-03-06 14:46] dbadave87 commented on #1467
I withdraw my request. You can close :)

[2018-03-06 14:46] #1467 closed

[2018-03-06 16:52] BlitzErik opened #1468 "SQL Server 2017: sys.dm_os_sys_info new columns"
These may come in handy at some point.

![image](https://user-images.githubusercontent.com/11590415/37045848-e08d136c-2134-11e8-8a8a-1e968ddb610f.png)

[2018-03-06 17:25] HolisticDeveloper commented on #1357
From what I have seen, extended events like the deadlock event are always captured in UTC regardless of the server's local time zone.

[2018-03-06 21:22] HolisticDeveloper opened #1469 "sp_BlitzLock reports only 1 total deadlock for each object"
spBlitzLock version 'Mar 1 2018 12:00AM'

**What is the current behavior?**
Check_id 2 reports "This object was involved in 1 deadlock(s)." for each object detected, regardless of the actual number of deadlocks.

Here's a sqlfiddle that recreates the problem with the query (which seemed simpler than creating actual deadlocks):
http://sqlfiddle.com/#!18/e26d5/1

**What is the expected behavior?**

[2018-03-08 12:32] #1469 closed

[2018-03-09 16:20] JulieOKC opened #1471 "Backups on databases on Availability Group servers"
Bug - version sp_Blitz Feb  1 2018 12:00AM

Databases are participating in an Availability Group and backups are preformed on the Primary. Secondary servers show databases as not being backed up. Same with log file backups for databases that are in full recovery mode.

I have found the following on our servers:
For SQL 2016, secondary servers update full backup date for databases.
For SQL 2014, se

[2018-03-09 16:23] BlitzErik commented on #1471
This has been suggested a few times, most recently here: #1452

It's just not something we can feasibly do.

[2018-03-09 16:23] #1471 closed

[2018-03-10 16:15] mohdowais opened #1472 "sp_BlitzFirst parameters are incorrect in readme.md"
The Logging sp_BlitzFirst to Tables section in the readme.md refers to incorrect parameter names:

* @OutputTableName_FileStats = 'BlitzFirst_FileStats'
* @OutputTableName_PerfmonStats = 'BlitzFirst_PerfmonStats'
* @OutputTableName_WaitStats = 'BlitzFirst_WaitStats'
* @OutputTableName_BlitzCache = 'BlitzCache'

which should be (removed underscores):

* @OutputTableNameFileStats = 'BlitzFirst_FileS

[2018-03-10 17:39] BrentOzar commented on #1472
Great catch! Do you want to check in the fix? If so, here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

If not, let me know and I'll do it since it's easy. Thanks!

[2018-03-13 15:03] MisterZeus commented on #1465
Using a bit of sneaky T-SQL:
SELECT * FROM sys.messages WHERE message_id = 207
we see that in German-language builds of SQL Server, the "database_id" column referenced on line 4841 of sp_Blitz is considered invalid.

This seems to point to the sys.dm_exec_sessions DMV within Check #215.

I really hope Microsoft doesn't change system DMV column names between different-language SQL instances!

[2018-03-15 00:58] jobbish-sql opened #1474 "sp_blitz should ignore soft-NUMA for odd cores check"
**Do you want to request a *feature* or report a *bug*?**
I am reporting what I believe to be a bug in version 6.3 of sp_blitz.

**What is the current behavior?**
The check for odd number of cores in a NUMA node doesn't account for soft-NUMA. The comment for the section in question is:
/*Perf - Odd number of cores in a socket*/

**If the current behavior is a bug, please provide the steps to repro

[2018-03-15 01:24] BlitzErik commented on #1474
Sounds like a VM problem.

[2018-03-15 02:42] jobbish-sql commented on #1474
I'd like to speak to the manager.

[2018-03-15 03:35] JulieOKC opened #1475 "sp_Blitz enhancement - include information if server part of an Availability Group"
************************** Script included! **************************

 **Do you want to request a *feature* or report a *bug*?**
Enhancement: add information if server is a part of an Availability Group. Is the connection to a node or a listener. Is it a primary or secondary node.

 **What is the current behavior?** No information is given regarding AGs

 **Which versions of SQL Server and which

[2018-03-15 09:35] BrentOzar commented on #1474
Hello, and welcome to Blitz Burgers. I apologize for our front-line cashier. We have to hire whatever help is available here locally, and sometimes, like our meat, they're sub-prime.

Now that we've got that out of the way, as we say here, "Let's Go Get Blitzed!"

Yeah, I agree - I'm guessing that the original intent of this rule was to find NUMA nodes with odd (relative to the others) numbers of

[2018-03-15 09:37] #1472 closed

[2018-03-15 09:38] BrentOzar commented on #1472
I went ahead and fixed this. Thanks again for logging it!

[2018-03-15 10:00] BrentOzar commented on #1475
Howdy ma'am! Thanks for the contribution.

There's a problem though: a server can have multiple (indeed, many) rows in sys.dm_hadr_availability_states when multiple AGs are involved. Take this cluster:

![replicas](https://user-images.githubusercontent.com/245462/37456428-5796f5ac-280d-11e8-9c20-131f04b3bf11.png)

In that case, when it's run on different servers, it should list the role_desc, but

[2018-03-15 10:27] BrentOzar commented on #1466
@Totty1973 I didn't hear back from you, and I was in here this morning, so I coded it. Thanks again for reporting it! Should be in the next release of sp_Blitz.

[2018-03-15 12:47] isujinx opened #1478 "BlitzCache - Capitalization in the " CREATE TABLE #missing_index_pretty " section"
The column name "INCLUDE" is capitalized twice in the "ELSE inequality" section of the CREATE TABLE #missing_index_pretty statement.

This causes installation issues for those of us with case sensitive database collations.  SQL 2014 Std.

[2018-03-15 12:50] BlitzErik commented on #1478
I am one of the people with a case (and accent!) sensitive instance. Can you describe the problem you're running into, in the form of an error message?

Thanks!

[2018-03-15 12:52] isujinx commented on #1478
Sure thing!    When attempting to run BlitzCache, I get the following error.

Msg 207, Level 16, State 1, Procedure sp_BlitzCache, Line 1141 [Batch Start Line 2]
Invalid column name 'INCLUDE'.
Msg 207, Level 16, State 1, Procedure sp_BlitzCache, Line 1141 [Batch Start Line 2]
Invalid column name 'INCLUDE'.

Changing those two column names to 'include' rather than 'INCLUDE' allows for proper execut

[2018-03-15 12:57] BlitzErik commented on #1478
They're [already lowercase](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/sp_BlitzCache.sql#L1368) here, and as far back as I can remember, always have been.

![image](https://user-images.githubusercontent.com/11590415/37464373-8336dcb0-282e-11e8-8b48-f5a8a06c3627.png)

Can you let me know which version of BlitzCache you're running? I have a feeling that either someone (

[2018-03-15 13:00] isujinx commented on #1478
That must have been it!  ApexSQL Refactor changed it.  I just double checked the one I pulled from (this morning, front page of the github) - and its lowercase.  Sorry to bother.

[2018-03-15 13:04] BlitzErik commented on #1478
No problem! Happy Blitzing!

[2018-03-15 13:04] #1478 closed

[2018-03-15 14:51] JulieOKC commented on #1475
I am working on another issue today, but will have time next week to work on it then.

[2018-03-15 18:50] DanielGlidewell opened #1480 "sp_DatabaseRestore should restore databases with FILESTREAM Data files when @MoveFiles = 1"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.  When I try to restore a database with a "FILESTREAM Data" file type by calling `sp_DatabaseRestore` with `@MoveFiles = 1`, the procedure breaks. To clarify: I don't believe this is an issue if you are **not** moving the files to a different location. When I tested it without moving the files, everything seemed to work as expe

[2018-03-15 21:47] BrentOzar opened #1481 "sp_Blitz: add Azure Managed Instance compatibility"
**Do you want to request a *feature* or report a *bug*?**
Feature, doing some quick testing and seeing a few results that don't work as expected. Will flesh these out as I go.

**Check 93 - Backing Up to Same Drive Where Databases Reside** - showing "1104 backups done on drive HTT in the last two weeks, where database files also live. This represents a serious risk if that array fails." Need to ex

[2018-03-16 12:24] BrentOzar opened #1482 "sp_BlitzFirst: change wait stats details URL to SQLskills"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Wait types in sp_BlitzFirst currently point to BrentOzar.com's waits page, but we're not keeping that updated with new waits. Instead, let's point here:

https://www.sqlskills.com/help/waits/WAITSTATNAME/

As in:
https://www.sqlskills.com/help/waits/pageiolatch_sh/

Thankfully, it's not case-sensit

[2018-03-16 12:25] BlitzErik commented on #1482
Never heard of them. Are they trustworthy?

[2018-03-16 12:33] BrentOzar commented on #1482
One of them worked at Digital Equipment Corporation for a number of years, and that's always a good sign.

[2018-03-16 12:47] jobbish-sql commented on #1474
All of that sounds good. I took a quick look at the new code and see that you still use parent_node_id instead of memory_node_id. Do you mind explaining why?

[2018-03-16 12:49] BrentOzar commented on #1474
I don't have a reason off the top of my head - I'm vaguely remembering something about AMD CPUs having a gotcha with this, but I don't know well enough to say either way. Should we be using memory_node_id? I'll take your word if you say yeah.

[2018-03-17 11:53] jobbish-sql commented on #1474
Good point. There's something different about AMD but I couldn't tell you how that works. Never tested on that. As is, the code will throw the error if someone has a 2 X 22 with auto soft-NUMA. Is that ok?

[2018-03-17 18:34] #1466 closed

[2018-03-17 18:39] BlitzErik commented on #1436
Closed via #1463

[2018-03-17 18:39] #1436 closed

[2018-03-17 18:40] BlitzErik commented on #1482
It's important that equipment be digital so that it can beepboop at you when it's has to go potty.

[2018-03-17 18:49] BlitzErik opened #1483 "sp_Blitz -- Do we want CPU speed in the balanced power check?"
I semi-recently answered [this question](https://dba.stackexchange.com/questions/198045/how-to-get-the-cpu-speed-in-sql-server/198065#198065). So it's easy to get the CPU speed from the registry.

I'm thinking to include it in the power mode check since it also calls `xp_regread` and if someone wanted to skip checks that call it for whatever reason, it would be more simple to do two together. I kn

[2018-03-18 10:46] BrentOzar commented on #1474
OK, to reduce the back-and-forth (I'm totally tied up this week), can you write the change in the check that you would want to see, keeping in mind that we need to alert people when they have unevenly distributed cores in a VM? (I just had another user this past week with a VM with 4 cores in 1 CPU, and 3 cores in the 2 other CPUs.)

[2018-03-18 10:47] BrentOzar commented on #1483
That would be amazing!

[2018-03-18 10:51] BrentOzar opened #1484 "sp_Blitz, sp_BlitzFirst: add check for recent service restart"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
In Azure Managed Instances, failovers are pretty quick, and you may not notice that you've failed over. This affects wait stats, index stats, troubleshooting, etc. However, we don't have a quick way of telling people, and it should be kinda high priority.

**What is the expected behavior?**
Add a p

[2018-03-18 16:18] #1481 closed

[2018-03-18 16:18] #1482 closed

[2018-03-18 16:21] BrentOzar commented on #1465
@MisterZeus OK, great, thanks for the issue. Going forward, keep in mind that the folks on the other side of the screen are volunteers too. The more information you can give them to help things work better on your system, the faster you can get the results you want. Enjoy the free software, and hope it makes your job easier.

[2018-03-18 16:22] BrentOzar commented on #1360
@js0505 I'm going to go ahead and close this since you haven't done it, but if you change your mind and wanna do it, feel free to reopen this and do a pull request. Thanks!

[2018-03-18 16:22] #1360 closed

[2018-03-18 16:23] #1465 closed

[2018-03-18 16:27] BlitzErik commented on #1378
DItto this one. Doing some cleanup.

[2018-03-18 16:27] #1378 closed

[2018-03-18 16:40] #1483 closed

[2018-03-18 16:51] EmanueleMeazzo commented on #1439
@ArloUSA sorry for the absence!
Due to various events I guess that not much was going on relating this, I'll be really glad to get some feedback, I've uploaded the DEV template of the example [here](https://github.com/EmanueleMeazzo/SQL-Server-First-Responder-Kit/blob/dev/Power%20BI/FirstResponderDEV.pbit)

[2018-03-18 16:58] BlitzErik opened #1489 "sp_BlitzCache/BQS: Prioritize checks"
It has recently come to my attention that we check for a lot of stuff, and that it may be overwhelming to most people.

What I wanna do is take all the immediately and easily actionable checks and have them run no matter what, then take all the most obscure stuff and lump it under the `ExpertMode` parameter.

You know, that thing no one ever uses.

Heads up for @BrentOzar -- we may want to alter t

[2018-03-18 17:07] BrentOzar commented on #1489
That makes perfect sense, yeah.

[2018-03-19 00:42] isp0000 opened #1490 "sp_Blitz To report on different compatibility level than SQL server instance"
**Do you want to request a *feature* or report a *bug*?**
New **feature**

**What is the expected behavior?**

Report on any user database with compatibility level  different from SQL server instance (or master db?).

[2018-03-19 00:54] BrentOzar commented on #1490
Hmm, what action would you take, though? Changing compat levels comes with a risk (by breaking app T-SQL interpretation, or changing the cardinality estimator.) We're not big fans of adding new alerts on something where the user can't take a safe action.

[2018-03-19 00:54] #1490 closed

[2018-03-19 01:19] isp0000 commented on #1490
@BrentOzar, you are correct. In my experience most of the compatibility level downgrades are just lazy migrations where backup from older version of SQL Server was restored in new one without any consideration on what the compatibility level should be.

[2018-03-19 03:54] jobbish-sql commented on #1474
Sure. My earlier hesitation stemmed from not being able to test on AMD. As far as I understand it, memory_node_id is closer to a physical socket than node_id. Using it should work in the most common case: intel CPUs on a VM with or without auto soft-NUMA. My sources tell me that some AMD chips are effectively two chips glued together in a single socket, so you can get two different memory_node_ids

[2018-03-19 10:51] VasylPavuk opened #1491 "sp_Blitz Bug"
**-Bug-**

**What is the current behavior?**
I have message: Transaction Log Larger than Data File

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http://sqlfiddle.com**
Database *tempdb*

**What is the expected behavior?**
Exclude database *tempdb* from this check

**P.S. I have the following message:**
The database [tem

[2018-03-19 10:56] BrentOzar commented on #1491
Hi! That's not a bug - that's actually an interesting situation you probably want to dig into. My guess is that someone's been shrinking TempDB. 3GB is a little on the small side for TempDB. If you've been shrinking it, you may want to ease up on that practice.

[2018-03-19 10:56] #1491 closed

[2018-03-19 11:04] VasylPavuk commented on #1491
Dear Brent,
No one shrink tempdb :).
This database intensively used because there are many temporary tables and table variables.
That is why transaction log in tempdb is relatively big.
But I there no ablility to backup log on *tempdb* according to message in the procedure **sp_Blitz**

![image](https://user-images.githubusercontent.com/30172092/37591989-fce115fe-2b75-11e8-8381-2d3da3cb0165.png)

[2018-03-19 11:04] BrentOzar commented on #1491
Correct, and you may want to use larger TempDB data files. 348MB isn't that big. If the log has grown to 3.5GB, that means you probably need larger data files.

[2018-03-19 11:10] VasylPavuk commented on #1491
Thank you, Brent.
But message "This may indicate that transaction log backups are not being performed or not performed often enough" is irrelevant to **tempdb** database

[2018-03-19 11:11] BrentOzar commented on #1491
Vasyl - I understand and hear you completely. This will not be changed. Please fix your TempDB database file sizes. Further discussion will not be productive here. Thank you for reporting the issue, though.

[2018-03-19 16:03] BlitzErik opened #1492 "sp_BlitzLock -- track down when procs are presented as object and database id"
In some cases, I'm guessing when someone calls a proc that deadlocks from a different database, e.g.

`USE master
EXEC db.dbo.someproc`

It shows up in the input buffer XML as `[Proc @databaseid = 6 @objectid = 5534345387465`

I should just track these down and present them. This should be easy the table where I parse out the input buffer XML, but recreating it will be annoying if I'm wrong about

[2018-03-19 16:14] BlitzErik commented on #1492
This is what it looks like:
![image](https://user-images.githubusercontent.com/11590415/37607656-0345b2a8-2b6f-11e8-9a73-5325626d6e13.png)

[2018-03-20 20:08] BlitzErik opened #1494 "sp_Blitz -- Snag DBCC autopilot in results"
This runs when people are running DTA, and it's a good way to see if people are doing it when they shouldn't be.

Because really, you shouldn't be.

Thing is a stinkbomb.

[2018-03-20 20:20] abeljda opened #1495 "sp_blitz dbcc event counter includes replication logreader events"
**Do you want to request a *feature* or report a *bug*?**
bug in version 6.3

**What is the current behavior?**

dbcc events counter includes replication events for dbcc setinstance, dbcc incrementinstance, dbcc addinstance due to application name not specified

**What is the expected behavior?**
dbcc counter should exclude replication events for dbcc setinstance, dbcc incrementinstance, dbcc addi

[2018-03-21 13:14] abeljda commented on #1495
This is not needed, I dont think I had 1 instance updated to current code and had a version of SP_Blitz prior to the addition of the 3 dbcc set, increment and addinstance events last year. I ran a successful test without the code I just added so please close.

[2018-03-21 13:14] #1495 closed

[2018-03-21 21:08] BlitzErik opened #1496 "sp_BlitzLock - Compatify with 2017 CU5"
2017 CU5 added some stuff to the deadlock XML that we can present.

https://support.microsoft.com/en-us/help/4089473/better-intra-query-parallelism-deadlock-troubleshooting-sql-server2017

[2018-03-21 22:08] TheZenoParadox opened #1497 "sp_Blitz - filter Litespeed operations from DBCC Events findings group"
**Do you want to request a *feature* or report a *bug*?** Feature
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.

**What is the current behavior?** Quest Litespeed generated DBCC PAGE commands are listed as events of inte

[2018-03-21 22:12] BlitzErik commented on #1497
Cool, thanks. Right now, we filter on some applications [like this](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/commit/e390993de8f1b2195140bf20fe85a935bdfda13f#diff-45927e55fc4332260bd0ae9708e4ef62)

Can you provide the application name string you'd like filtered out, if you're not planning on coding this yourself?

Thanks!

[2018-03-21 22:17] TheZenoParadox commented on #1497
@BlitzErik  - the string should be '%LiteSpeed%' - I'd be happy to try doing the update myself but I'm a Git noob! Let me know if you want me to try it or if you want to just add the line.

[2018-03-21 22:19] BlitzErik commented on #1497
The only way to not be a n00b is to try it out.

If you don't wanna, I don't mind adding it. But I like to give people the opportunity to have their name on the contributing line :)

Lemme know what you wanna do.

[2018-03-21 22:21] TheZenoParadox commented on #1497
LOL! Right...ok let me give it a try.

[2018-03-21 22:46] TheZenoParadox commented on #1497
@BlitzErik - ok all set. Be gentle!

[2018-03-21 22:47] BlitzErik commented on #1497
Looks fine to me! Will get this into the next FRK release.

Thanks!

[2018-03-21 22:56] BlitzErik commented on #1489
Stuff I made Expert Mode:
- Unparameterized Queries
- Index DML
- Table DML
- Row estimate mismatch
- Busy loops
- TVF Join
- UDF computed column
- Index modifications
- Spatial indexes
- Index spools
- ColumnStore row mode
- Row goals
- Many to many merge joins
- Switch operators

I'm also adding a checks file for BLitzCache like Blitz and BlitzFirst have to make this easier to review. I'll proba

[2018-03-22 14:25] #1480 closed

[2018-03-22 14:33] #1496 closed

[2018-03-22 14:34] BlitzErik commented on #1497
Closed via #1498

[2018-03-22 14:34] #1497 closed

[2018-03-22 14:54] BlitzErik opened #1500 "sp_BlitzLock -- columnstore deadlocks need different XML parsing"
Live and learn!

For CS, the XML is different:

[code]

[2018-03-22 18:57] BlitzErik commented on #1492
As a POC:

Would wanna add a column to one of the temp tables and them update

[code]

![image](https://user-images.githubusercontent.com/11590415/37792116-4ee9b6c2-2de1-11e8-9cb1-080153893beb.png)

[2018-03-22 19:04] BlitzErik commented on #1494
I don't think this is as valuable as I used to. What I do want to do is start screening autopilot results out of the dbcc event count.

[2018-03-22 19:15] #1494 closed

[2018-03-23 18:31] BlitzErik opened #1504 "sp_????? -- low memory events"
I've been working on this query, with help from @jobbish-sql (who thankfully has a lot of memory problems).

It gives you some interesting stuff back, though I'm not sure where it would be most useful.

- Perhaps as a general warning in sp_Blitz with some information like number of low memory events, and what certain counters dipped down to
- A warning in sp_BlitzFirst if it's happening during a s

[2018-03-26 11:28] js0505 opened #1505 "sp_BlitzCache, sp_BlitzQueryStore - Add index creation syntax options to missing index requests"
Add index creation syntax options to missing index requests to both sp_BlitzCache and sp_BlitzQueryStore

[2018-03-26 15:44] #1489 closed

[2018-03-26 15:48] BlitzErik commented on #1446
We haven't heard back from you on this in a while. I'm going to close the issue out, but feel free to open a new one (or reopen this one) if you decide to work on it in the future.

Thanks!

[2018-03-26 15:48] #1446 closed

[2018-03-26 15:49] BlitzErik commented on #1505
Closed via #1506

[2018-03-26 15:49] #1505 closed

[2018-03-26 15:52] BlitzErik commented on #1183
@ShawnCrocker did you ever do this one? Not sure if you covered it in one of your PRs.

[2018-03-26 15:53] #1468 closed

[2018-03-26 16:19] #1456 closed

[2018-03-26 16:27] BlitzErik commented on #809
We have most of this from the precon. If there's something you want me to do with them, let's discuss.

[2018-03-26 16:27] #809 closed

[2018-03-26 16:28] BlitzErik commented on #447
This is a year and a half old. Do you wanna keep it open?

[2018-03-26 16:30] BlitzErik commented on #1484
What do you consider recent? We have a server/service restart checks. We could just promote one of them to a higher priority if it's within [your window here].

[2018-03-26 16:37] BlitzErik commented on #1504
I'm falling out of love with this.

[2018-03-26 16:37] #1504 closed

[2018-03-26 16:38] BlitzErik commented on #1492
Eh.

[2018-03-26 16:38] #1492 closed

[2018-03-26 17:12] BlitzErik commented on #1237
This has been open for a long time. Are we still pursuing it?

[2018-03-26 17:13] BrentOzar commented on #1237
No, I'm not. If someone wants to code it, they can. Closing.

[2018-03-26 17:13] #1237 closed

[2018-03-26 17:14] BrentOzar commented on #300
Closing this - we don't get a lot of questions around the tour stuff.

[2018-03-26 17:14] #300 closed

[2018-03-26 17:14] BrentOzar commented on #915
This proc didn't get a lot of traction, so closing.

[2018-03-26 17:14] #915 closed

[2018-03-26 17:15] BrentOzar commented on #1484
Yeah, I think we just say the date right now when CheckServerInfo = 1, but we don't have an explicit "the service was restarted within the last X hours" check.

[2018-03-26 17:17] BlitzErik commented on #1484
Yessireebob! How many hours back do we care about for a high level warning? 24?

[2018-03-26 17:18] BrentOzar commented on #1484
Yeah, I think that makes sense.

[2018-03-26 18:13] BlitzErik opened #1509 "sp_BlitzIndex -- Stats table column names should be MAX"
Brought up in the FRK Slack channel. Alrighty then.

[2018-03-26 18:31] #1509 closed

[2018-03-27 12:02] BlitzErik commented on #1475
@JulieOKC going to close this out for now. Feel free to reopen it when you're ready to work on it.

[2018-03-27 12:02] #1475 closed

[2018-03-27 12:52] BlitzErik opened #1511 "Skip implicit transaction checks in sp_BlitzFirst and sp_Blitz who in 08/08R2"
Need to only run these for 2012+

[2018-03-27 13:40] BlitzErik commented on #1511
I think BlitzWho is spared from this. The query works as-is.

[2018-03-27 13:45] #1511 closed

[2018-03-27 13:51] saketmittaldba commented on #221
I have modified code for Mode=4 to get output in table. Attaching code
[sp_BlitzIndex-Saket.zip](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/files/1852224/sp_BlitzIndex-Saket.zip)

[2018-03-27 13:57] BlitzErik commented on #221
Hi @saketmittaldba -- this isn't really how we take code contributions.

Please read the [contributing guide](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md) if you'd like to add code.

[2018-03-27 14:33] BlitzErik opened #1513 "sp_BlitzIndex doesn't handle unicode database names"
![image](https://user-images.githubusercontent.com/11590415/37974173-3d31a17a-31aa-11e8-8c05-f3ba1ef8fe83.png)

[2018-03-27 17:45] BlitzErik commented on #1513
Have additional changes to make...

[2018-03-27 18:05] BlitzErik opened #1516 "sp_BlitzCache -- unicode"
Thanks Brent.

[2018-03-27 18:07] #1516 closed

[2018-03-29 20:02] BlitzErik opened #1518 "sp_Blitz -- Implicit transaction check needs to be dynamic"
Done in BlitzFirst, but I forgot I had this in here too.

[2018-03-29 20:15] #1518 closed

[2018-04-03 10:10] Totty1973 opened #1519 "sp_Blitz: DBCC event counter (check 203) does not ignore TRACEON and TRACEOFF events generated by SQL 2014 Setup"
**Do you want to request a *feature* or report a *bug*?**
I think its a bug in sp_blitz in Version '6.0' / '20171201' and 'DEV',
I think it does report "benign" events
and it does count each of them twice
and it does report wrong time.

**What is the current behavior?**
Check 203 reports "6 DBCC events have taken place between Apr  3 2018 10:56AM and Apr  3 2018 10:56AM. This does not include CHEC

[2018-04-03 10:20] Totty1973 opened #1520 "sp_Blitz: add check for less than, say, 13 error logs"
**Do you want to request a *feature* or report a *bug*?**
request a feature. SP_BLITZ could check for "number of error logs":

**What is the current behavior?**
does not check  "number of error logs"

**What is the expected behavior?**
 i do not have complete control who restarts my server but I'm the one responsible for finding and fixing errors. This can get difficult if I do not have complete i

[2018-04-03 11:07] BrentOzar commented on #1520
Oh, also, one note on the implementation - you would want to make sure it wasn't due to the server just being recently installed from scratch.

You don't have to test it in AWS RDS or Azure Managed Instances if you don't have access to those - as long as it works as designed in an on-premises instance, we can work out the rest.

[2018-04-03 11:08] Totty1973 opened #1521 "SP_BLITZ Check 78 reports "[distributionA].[dbo].[sp_MSdelete_dodelete] has WITH RECOMPILE in the stored procedure code, which may cause increased CPU usage due to constant recompiles of the code." when setting up a distribution publisher on SQL 2014"
**Do you want to request a *feature* or report a *bug*?**
maybe its a bug, maybe an improvement. Version "sp_Blitz Apr  1 2018 12:00AM"

**What is the current behavior?**
SP_BLITZ Check 78 reports "[distributionA].[dbo].[sp_MSdelete_dodelete] has WITH RECOMPILE in the stored procedure code, which may cause increased CPU usage due to constant recompiles of the code." when setting up a distribution

[2018-04-03 11:08] BrentOzar commented on #1519
Sure, sounds good! You're free to start coding it per the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

If you've got any questions, holler. Thanks! If you didn't plan on coding it yourself, just let me know and I can close the issue - we don't really take requests, but you might be able to recruit someone else to code it for you in

[2018-04-03 11:09] BrentOzar commented on #1521
Makes sense! You're free to start coding it per the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

If you've got any questions, holler. Thanks! If you didn't plan on coding it yourself, just let me know and I can close the issue - we don't really take requests, but you might be able to recruit someone else to code it for you in the #F

[2018-04-03 11:11] Totty1973 commented on #1519
I dont know how to debug check 203, looks rather complicated, and I really think its a bug, Its a newly installed SQL-server on a newly installed Windows-Server running only AdventureWorks and nothing else.

[2018-04-03 11:13] Totty1973 commented on #1520
I propably do not have time for coding right now,
If anyone else feels inclined, feel free.
Otherwise it can probably be "closed for now".

[2018-04-03 11:14] Totty1973 commented on #1521
I propably do not have time for coding right now,
If anyone else feels inclined, feel free.
Otherwise it can probably be "closed for now".

[2018-04-03 11:15] BrentOzar commented on #1519
I understand, but the way open source works is that we're all volunteers here. I totally get where you're coming from - "Brent's script has a bug, he needs to drop everything and fix it" - but in this case, the bug isn't really a big deal for me personally. If it's a big deal to you, and you want to devote the effort to fixing it, great! Go for it. Otherwise, I'm going to let this one be as-is.

E

[2018-04-03 11:16] BrentOzar commented on #1521
No problem, understood. I close it for now. Thanks anyway for reporting it!

[2018-04-03 11:16] #1521 closed

[2018-04-03 11:16] BrentOzar commented on #1520
OK, thanks for taking the time to suggest it anyway! Have a good week.

[2018-04-03 11:16] #1520 closed

[2018-04-03 11:38] BrentOzar commented on #1519
Closing this based on the other issues. Thanks though!

[2018-04-03 11:38] #1519 closed

[2018-04-03 13:29] Totty1973 commented on #1520
would calling master.sys.xp_instance_regread be okay?
something along like
DECLARE @NumErrorLogs int;
EXECUTE master.sys.xp_instance_regread
    'HKEY_LOCAL_MACHINE',
    'SOFTWARE\Microsoft\\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQLServer',
    'NumErrorLogs',
    @NumErrorLogs OUTPUT;
SELECT @NumErrorLogs;

[2018-04-03 13:30] BrentOzar commented on #1520
Yep, if you do a search in the code, I wanna say we're already doing that. The tricky part is figuring out the right registry location, of course.

[2018-04-03 15:39] Totty1973 commented on #1520
the code from https://sqlandme.com/tag/registry-path-sql-server/ seems to work

CREATE TABLE #tempInstanceNames
(
      InstanceName      NVARCHAR(100),
      RegPath           NVARCHAR(100)
      DefaultDataPath   NVARCHAR(MAX)
)
INSERT INTO #tempInstanceNames (InstanceName, RegPath)
EXEC   master..xp_instance_regenumvalues
       @rootkey = N'HKEY_LOCAL_MACHINE',
       @key     = N'SOFTWARE\\Mi

[2018-04-03 15:43] BlitzErik commented on #1520
Be careful -- code from blog posts (and other people's websites) is sometimes copyrighted, or not licensed for open source distribution. If you're going to write something like that, you'll have to do it from scratch, or get the author's permission.

Thanks!

[2018-04-05 15:22] BrentOzar opened #1522 "sp_BlitzCache - sort second result set by Priority, FindingsGroup, Finding"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The second result set (anti-patterns list) is sorted by priority, but then the rest are random, I think:

![sp_blitzcache sorting](https://user-images.githubusercontent.com/245462/38375193-3a86c9a6-38bb-11e8-8037-fe2ec34e6908.png)

[2018-04-05 15:25] BlitzErik commented on #1522
We order by priority and check ID. Did you want something else?

[2018-04-05 15:26] BrentOzar commented on #1522
Yeah, let's go by Priority, Findings Group, Finding. (Just so that way it
looks nice on the screen.)

On Thu, Apr 5, 2018 at 10:25 AM, BlitzErik <notifications@github.com> wrote:

--
Brent Ozar
Brent Ozar Unlimited <https://www.brentozar.com/>
Our new SQL ConstantCare®
<https://www.brentozar.com/product/sql-constantcare/> turns you into a
database expert.

[2018-04-06 10:19] achepak opened #1523 "sp_BlitzCache possible bug"
From time to time we get the following error when running sp_BlitzCache (ver 6.2 and 6.3), see below a copy of the output produced by sp_BlitzCache:

...
Parsing conversion info
Updating variables inserted procs
Inserting variables for other procs
Updating procs

**Msg 537, Level 16, State 3, Procedure sp_BlitzCache, Line 3145
Invalid length parameter passed to the LEFT or SUBSTRING function.
The

[2018-04-06 13:29] BlitzErik commented on #1523
Okay, sorry about that! I've made a lot of adjustments around that section of code.

The thing is, it's really hard to know which changes to make from here. Can you try running it with @Debug = 1 enabled and seeing if you can spot the temp table data that causes this issue?

Thanks!

[2018-04-06 13:53] DBAKen opened #1524 "(sp_Blitz) Add @MaxHistoryReport parameter for Errors Logged Recently in the Default Trace"
I would like to add the parameter @MaxHistoryReport to sp_Blitz in order to keep from seeing the same error reported everyday for 30 days.  This is a great script and I have it scheduled to run on every SQL Server I manage every morning and then I get an aggregated report emailed to me.

The stored procedure declaration would look like:
	@MaxHistoryReport INT = 30,

The code under /* Reliability -

[2018-04-06 13:59] BrentOzar commented on #1524
Ooo, that's interesting. Things to think about:

- This affects a LOT of existing checks (backups, checkdb, etc). You would want to know which checks were affected, and which ones weren't. If you want to do this, you'll need to make a list of the existing checks in sp_Blitz along with their current number of days back to check, and whether or not the new parameter will modify that.
- I'd name the

[2018-04-06 14:09] DBAKen commented on #1524
Yeah, I started looking at everywhere DATEADD is used and found some -7, -14 and -30 day values.  BTW, I am using the 20180101 version.   I started to just change it in my copy and then thought that I then have to keep track so I change it in the next version I implement.  I understand that there are different date sensitivities for different activities.  I guess I could post-process the results b

[2018-04-06 14:29] BrentOzar commented on #1524
You bet! Yeah, whatever you do, don't try to work on this without installing Github and following the directions there. Your code will drift out of sync fast - we do checkins on this every couple/few weeks. Here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

I'm going to assign the issue to you, but that's just so folks know you

[2018-04-10 17:29] BrentOzar opened #1525 "sp_BlitzCache - "Busy Loops" shows as "Frequently executed operators" in the decoder ring results"
**Do you want to request a *feature* or report a *bug*?**
Bugture

**What is the current behavior?**
Run a query with busy loops, and the top warning section says "Busy Loops", but the decoder ring section says "Frequently executed operator" - just need to get 'em to match.

![1](https://user-images.githubusercontent.com/245462/38573148-c863fb2e-3cba-11e8-8fc0-9aa94a765e5a.png)

[2018-04-10 18:33] BlitzErik opened #1526 "sp_BlitzCache -- cached parameters needs to handle predefined entities"
Reserved XML characters make this look wonky.

[2018-04-10 22:40] dpolivy commented on #293
Are there any plans to finally implement this in sp_BlitzFirst?

[2018-04-10 22:42] BrentOzar commented on #293
Me? No, that’s why it’s closed. You’re welcome to give it a shot though.

[2018-04-11 21:33] BlitzErik opened #1527 "sp_BlitzFirst -- Wait times bug"
@TaraKizer discovered a bug in summing wait stats.

We should be maxing them.

This will fix it... May also be able to remove the order by, too.
https://gist.github.com/BlitzErik/dc04060e21cfb850c5defc8e8738f011

[2018-04-13 09:46] RichBenner opened #1528 "sp_BlitzCache - throw more elegant error on SQL Version 2017 that isn't patched to CU3"
**Do you want to request a *feature* or report a *bug*?**
I guess it's a bug, but it's definitely not a surprise

**What is the current behavior?**
sp_BlitzCache chucks out syntax errors if people are on SQL 2017 but haven't patched up to CU3 because MS added cool new stuff into some dmv's that sp_BlitzCache takes advantage of.

**What is the expected behavior?**
With the amount of times this has

[2018-04-13 18:24] BrentOzar commented on #1524
Yeah, makes sense. I love the idea, but it's a ton of work. Thanks anyway!

[2018-04-16 16:30] achepak commented on #1523
Well, we are still on the same version but the error disappeared at the moment. I will add more information if or when we get it again.

[2018-04-16 21:19] jeffreymergler opened #1530 "sp_BlitzCache throws Table DML warning on Temporary Table usage"
Originally reported here: https://dba.stackexchange.com/questions/204106/sp-blitzcache-throws-table-dml-warning-on-temp-tables

Recap: I get a warning on a procedure that creates, uses, then drops a Temporary Table.  No other tables are created or dropped.

The is how the warning is described:
FindingsGroup	Finding	URL	Details
Table DML	Tables were created or dropped	https://www.brentozar.com/blit

[2018-04-20 03:41] BlitzErik opened #1531 "sp_BlitzWho -- Fix parameter sniffing column"
Add a column that returns the dbcc freeproccache command needed to remove a plan from cache.

[2018-04-20 14:41] amtwo opened #1532 "sp_BlitzIndex doesn't include "{datatype maxbytes}" for DESC columns"
**Do you want to request a *feature* or report a *bug*?**
Bug in sp_BlitzIndex 6.4 (20180401)

**What is the current behavior?**
When an index definition includes a column that is specified as DESC, sp_BlitzIndex does not include the "{datatype maxbytes}" designation for that column in the "Definition" column of the resultset

**If the current behavior is a bug, please provide the steps to reprodu

[2018-04-20 14:44] amtwo commented on #1532
![image](https://user-images.githubusercontent.com/9381581/39057685-daedc2e6-4487-11e8-958d-af14e9cac3c9.png)

[2018-04-20 20:47] #1531 closed

[2018-04-20 20:48] #1528 closed

[2018-04-20 22:01] BlitzErik commented on #1532
Oh that's weird.

[2018-04-20 22:48] BlitzErik commented on #1523
Alright, cool. If you run into it again, feel free to reopen this issue or start a new one with more information.

[2018-04-20 23:01] #1522 closed

[2018-04-20 23:01] #1525 closed

[2018-04-20 23:10] #1527 closed

[2018-04-21 00:16] BlitzErik commented on #1526
I don't think this is possible using CDATA, which is the only way we can avoid a lot of errors. Just have to add it as a known limitation.

[2018-04-21 00:27] BlitzErik commented on #1474
After talking with Joe, I think the best thing to do (with minimal changes) is to add an EXISTS check to the query. This is tough because I don't have a machine I can easily mimic the issue on.

When I try to change VMs to have lopsided CPUs, Hyper V and Virtual Box seem to thwart me and put things where they should be.

[code]

[2018-04-21 00:28] BlitzErik commented on #1183
Going to close this out for now. When you're ready to work on it, feel free to reopen the issue.

[2018-04-21 00:28] #1183 closed

[2018-04-21 00:28] BlitzErik commented on #1185
Going to close this out for now. When you're ready to work on it, feel free to reopen the issue.

[2018-04-21 00:28] #1185 closed

[2018-04-21 00:34] jobbish-sql commented on #1474
Have you tried using CPU affinity to put one of the schedulers offline?

[2018-04-21 00:44] BlitzErik commented on #1474
That's what I did to test the original code, but that seems to not be what you're after here?

[2018-04-21 02:31] BlitzErik commented on #1532
FOUND IT! Case expression end gone rogue.

![image](https://user-images.githubusercontent.com/11590415/39079526-8569aeee-44ea-11e8-80e8-c621d8ed9571.png)

[2018-04-21 02:34] #1532 closed

[2018-04-21 02:48] BlitzErik commented on #950
@BrentOzar I found a [command line tool](https://superuser.com/questions/689056/how-can-i-convert-github-flavored-markdown-to-a-pdf#722374) called `grip` that can work some Magick with Markdown files.

If you run `grip <path\to.md -b>` it'll open the file in your browser, and from there you can print to pdf. Attached the output.

Does this work for you, or did you want something simpler?

[sp_Blit

[2018-04-21 02:55] BlitzErik commented on #950
Looking at the output, the links aren't clickable as a PDF, but... I can export it to HTML and it is.

I can't put a .html file in here, but if you change the extension on this one, it works and the links are clickable.

[sp_BlitzGuide.txt](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/files/1934092/sp_BlitzGuide.txt)

[2018-04-21 12:46] BrentOzar opened #1537 "sp_Blitz: change CMEMTHREAD check warning if 8048 is already applied"
**Do you want to request a *feature* or report a *bug*?**
Bughancement

**What is the current behavior?**
Check 162 looks for CMEMTHREAD waits on boxes with >8 cores per NUMA node, and then recommends trace flag 8048. However, it doesn't check to see if 8048 is already applied.

**What is the expected behavior?**
If 8048 is already applied, change the warning from this:

To this:

[2018-04-21 16:31] BlitzErik commented on #950
This is a stinkbomb! Alright, here's what I've tried:
- Converting the README to html then to pdf
- Converting the README to pdf

Programs I've tried:
- wkhtmltopdf
- pandoc
- grip
- Like 30 different websites
- Skipped Adobe because they wanted a credit card

Going directly from md to pdf doesn't pan out. The internal links all point to links on Github. That's not helpful at all.

Going to html c

[2018-04-21 16:44] #1537 closed

[2018-04-21 17:10] BrentOzar commented on #950
Ouch. So, wanna close it for now? I'm down with closing it - we can always revisit it later if we stumble across something amazing.

[2018-04-21 17:11] BrentOzar commented on #958
We're no longer actively using this ourselves in production, so closing the issue. If the folks using it in production wanna pursue it, they can check in their changes & move forward. I wouldn't wanna make further changes on this branch knowing that there are other active versions of the code out there.

[2018-04-21 17:11] #958 closed

[2018-04-21 17:11] BrentOzar commented on #1000
We're no longer actively using this ourselves in production, so closing the issue. If the folks using it in production wanna pursue it, they can check in their changes & move forward. I wouldn't wanna make further changes on this branch knowing that there are other active versions of the code out there.

[2018-04-21 17:11] #1000 closed

[2018-04-21 17:12] BrentOzar commented on #1009
We're no longer actively using this ourselves in production, so closing the issue. If the folks using it in production wanna pursue it, they can check in their changes & move forward. I wouldn't wanna make further changes on this branch knowing that there are other active versions of the code out there.

[2018-04-21 17:12] #1009 closed

[2018-04-21 17:13] BrentOzar commented on #1352
Closing this for now - if other folks want to tackle the code, that's cool, but I feel guilty leaving it open when I reported it and I'm not actively working on it.

[2018-04-21 17:14] BrentOzar commented on #447
No, closing - since we don't have an active AG lab, it doesn't make sense for us to develop these.

[2018-04-21 17:14] #447 closed

[2018-04-21 17:17] BlitzErik commented on #950
Yeah, I'm out of quick ideas.

[2018-04-21 17:17] #950 closed

[2018-04-21 17:20] BrentOzar opened #1539 "New script proposal: generate a table with SQL Server versions"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We don't currently have a way to check to see if there are updates available for a SQL Server. We do have an "unsupported version" warning in sp_Blitz, but that only checks for truly unsupported - not whether there's an update available.

To build something really reusable, I'm proposing we create

[2018-04-22 19:43] EmanueleMeazzo commented on #1539
I was thinking, maybe the list of versions can be automatically created by fetching the data from sqlserverupdates.com (or wherever this dataset is) with a powershell script (or whatever) when releasing each version, as opposed to maintaining it manually.

[2018-04-23 13:14] jadarnel27 commented on #1539
What should be in the minor version column?  As an example, the version number for SQL Server 2016 SP1 CU7 is: `13.0.4466.4`

Assuming major version is 13, is minor version everything else (0.4466.4)?  I know in general .NET assembly versioning, those four parts are major, minor (I think only 2008 R2 used this), build (SP / CU), and revision (hotfixes).

Maybe it would make sense to have just one

[2018-04-23 13:18] BlitzErik commented on #1539
We usually just grab the four digit number as the minor version -- so 4466.

Thanks and hi!

[2018-04-23 14:09] jadarnel27 commented on #1539
Got it, Erik - thanks (and hi)!

[2018-04-24 02:13] natiki opened #1541 "[FEATURE] Maximum history for output results table...."
Hi,

To complement the existing @Output* parameters that allow outputs to be written to a table could I suggest that we add an additional option of: @OutputMaxRunCount

This would automatically remove old records from @OutputTableName when the number of "runs logged" to the table is exceeded? That way table growth can be managed as part of the script execution.

This parameter could default to 0 w

[2018-04-24 05:04] natiki opened #1542 "[FEATURE] sp_BlitzCache - Suppress explanation table...."
Hi,

Is it possible to suppress the second result set? We have an antiquated tool that does not like multiple result sets coming back. I realise I could go and edit the necessary SQL but....

Perhaps adding a column to the first result set that links back to an explanation somewhere (like the other SP's do).

[2018-04-24 09:35] BrentOzar commented on #1542
What antiquated tool?

[2018-04-24 10:07] BrentOzar commented on #1541
Which table are you referring to? If it's sp_BlitzFirst, for example, have you looked at the @OutputTableRetentionDays table?

[2018-04-24 22:27] natiki commented on #1542
It's an inhouse command line tool that we use for automation. So not directly related to SQL Server specifically.

[2018-04-24 22:34] BrentOzar commented on #1542
Ah, gotcha. Okay, probably start by hitting the documentation and reading the code - check out the @HideSummary parameter. If it doesn't do what you want, here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

[2018-04-24 22:35] BrentOzar commented on #1541
Gotcha. No, sp_BlitzFirst has @OutputTableRetentionDays, but sp_Blitz doesn't. If you'd like to copy that logic from sp_BlitzFirst over to sp_Blitz, and use the same parameters & functionality, that makes sense.

Here's the contributing guide to get started:
https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

If you didn't want to write the code, no problem, j

[2018-04-25 21:15] jadarnel27 commented on #1539
I'd be glad to take this issue.

I'm assuming the resulting code should be added to the repo as a newfile.  So let me know if you'd prefer to have it in one of the other scripts / install files!

[2018-04-25 21:18] BlitzErik commented on #1539
@jadarnel27 awesome, thanks! Let's see what you come up with first.

[2018-04-26 12:45] BlitzErik opened #1543 "sp_BlitzCache: Catch up with 2016SP2"
Service Pack 2 back ported a lot of stuff from 2017, like tempdb spills and row goals. We should get this for people who are cool enough to update.

[2018-04-26 12:46] BlitzErik opened #1544 "sp_BlitzQueryStore: Parity with BlitzCache"
I let this slide for a release, but I need to add ExpertMode, and fix some of the URL details.

[2018-04-26 16:02] goochjj opened #1545 "BlitzFirst introduces Single-Use Plans"
Run sp_BlitzFirst:
EXEC dbo.sp_BlitzFirst  @OutputDatabaseName = 'DBATools',
  @OutputSchemaName = 'dbo',
  @OutputTableName = 'BlitzFirst',
  @OutputTableNameFileStats = 'BlitzFirst_FileStats',
  @OutputTableNamePerfmonStats = 'BlitzFirst_PerfmonStats',
  @OutputTableNameWaitStats = 'BlitzFirst_WaitStats',
  @OutputTableNameBlitzCache = 'BlitzCache',
  @OutputTableRetentionDays = 14;

(Adjust dat

[2018-04-26 16:05] BlitzErik commented on #1545
How many single use plans does it introduce, exactly?

[2018-04-26 16:16] BlitzErik commented on #1545
This is going to be a bit awkward to fix. It doesn't look like option recompile will work, here.

[code]

This might be something we just have to Deal With®

[2018-04-26 16:24] goochjj commented on #1545
If the PK constraint names were explicit, and consistent, probably half of these would go away.
As for the inserts, can't you use sp_executesql to pass the value as a parameter instead?  Or a variable? i.e.
IF EXISTS(SELECT * FROM [DBATools].INFORMATION_SCHEMA.SCHEMATA WHERE QUOTENAME(SCHEMA_NAME) = '[dbo]') INSERT [DBATools].[dbo].[BlitzFirst] (ServerName, CheckDate, CheckID, Priority, FindingsGr

[2018-04-26 16:25] BlitzErik commented on #1545
Okay, can you test out that that's the case? I'd hate to put a bunch of work into coding it to find it doesn't fix anything for you.

Thanks!

[2018-04-26 16:26] goochjj commented on #1545
I mean, you could also just recommend people locate the function in a database with forced parameterization on - unless you can recommend setting it on master won't cause other problems.

[2018-04-26 16:29] BlitzErik commented on #1545
That's something else for you to test, yeah, if FP would parameterize contraint names. It may not.

Looking forward to your findings!

[2018-04-26 16:31] goochjj commented on #1545
FP Fixed nothing.
(@0 int,@1 int,@2 int)insert [DBATools] . [dbo] . [BlitzFirst_WaitStats] ( ServerName , CheckDate , wait_type , wait_time_ms , signal_wait_time_ms , waiting_tasks_count ) select 'PRODSQL16V01\PRODSQL16V01' , '2018-04-26 12:25:00.9412856 -04:00' , wait_type , wait_time_ms , signal_wait_time_ms , waiting_tasks_count from #WaitStats where Pass = @0 and wait_time_ms > @1 and waiting_

[2018-04-26 16:36] BlitzErik commented on #1542
Closing this out, since we have a parameter that covers it.

[2018-04-26 16:36] #1542 closed

[2018-04-26 16:40] BlitzErik commented on #1530
@jeffreymergler haven't heard back from you in a while on this one. If you decide to pick it up, feel free to reopen the issue.

Thanks!

[2018-04-26 16:40] #1530 closed

[2018-04-26 16:41] BlitzErik commented on #1541
Just to minimize issue clutter, I'm going to close this out. If you decide you want to code it, feel free to reopen the issue.

[2018-04-26 16:41] #1541 closed

[2018-04-26 16:43] BlitzErik commented on #1545
Great -- when you settle on code that does what you want it to do, let us know. I'll help you either make the contribution yourself, or set up a branch for you to test with.

Thanks!

[2018-04-26 16:43] BlitzErik commented on #1545
Oops, wrong button.

[2018-04-26 17:41] #1543 closed

[2018-04-26 18:28] goochjj commented on #1545
@BlitzErik  you're up. :)

[2018-04-26 21:05] #1544 closed

[2018-04-26 21:06] #1388 closed

[2018-04-26 21:06] #1396 closed

[2018-04-26 21:06] #1389 closed

[2018-04-26 21:16] #1474 closed

[2018-04-26 21:18] BlitzErik commented on #1439
@EmanueleMeazzo just checking -- can this be closed, or do you need to work on something for this still?

[2018-04-26 21:19] BlitzErik commented on #296
Where do you want this documented, exactly?

[2018-04-26 21:25] BlitzErik commented on #1439
@EmanueleMeazzo thanks for getting back quickly. I haven't worked on the PowrBI stuff at all, so I'm leaving the best route on that to @BrentOzar.

[2018-04-26 21:31] BlitzErik commented on #1545
Looks good! Nice job!

[2018-04-26 21:31] #1545 closed

[2018-04-26 22:11] BlitzErik opened #1550 "IIF isn't a function in 2008 or 08R2"
PR #1540 breaks on older versions of SQL Server.

@EmanueleMeazzo - just a heads up, I have to replace this with a case expression.

[2018-04-27 09:57] BrentOzar commented on #296
In the sp_BlitzIndex page and in readme.md would be cool, just something we can point people to.

[2018-04-29 10:50] BrentOzar commented on #1539
Added fields for Major Version Name, Minor Version Name.

[2018-04-29 15:00] namraja opened #1552 "SP_Blitz: Check #176 Returns an unwanted row?"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using SP_Blitz (version 6.4) on SQL Server 2014 SP2 CU11 and SQL Server 2017 CU6, check #176 includes an XE session named 'sp_server _diagnostics session', but the predicate to ignore it is called 'sp_server_diagnotics' (maybe the session name has changed over time?)

**If the current behavior is a bug

[2018-04-29 15:28] BlitzErik commented on #1552
Ah, this is fun. It looks like it got not-fixed in #1393 when #1116 was trying to get fixed.

Thanks for letting us know.

[2018-04-30 11:58] #1552 closed

[2018-04-30 16:39] jadarnel27 commented on #1539
Got it!  I should have an initial PR for you all in the next couple days.

[2018-04-30 21:13] BlitzErik commented on #1539
@jadarnel27 that's awesome! thanks for hopping on this. It would have taken us years.

[2018-05-01 18:01] jefowler2 opened #1554 "Syntax Error in sp_Blitz"
**Do you want to request a *feature* or report a *bug*?**
Bug in version 6.5 - syntax error

**What is the current behavior?**
The stored procedure has a syntax error preventing it from getting altered:
Msg 102, Level 15, State 1, Procedure sp_Blitz, Line 4280 [Batch Start Line 3]
Incorrect syntax near 'AlwaysOn_health'.

There is an "extra left and right parentheses in a list of values that shoul

[2018-05-01 18:03] BlitzErik commented on #1554
Howdy! Thanks for opening the issue. We already got a report of it on the blog. There was an issue with the GitHub merge of the fix. If you re-download, it'll be taken care of.

Thanks!

[2018-05-01 18:03] #1554 closed

[2018-05-02 10:02] zahidhanif opened #1555 "Syntax error in [dbo].[sp_Blitz] of version 6.5 release"
Version 6.5 of the [dbo].[sp_Blitz] stored procedure has a syntax error on line 4282 of the script file. The WHERE [name] NOT IN clause has 2 bracketed sets that are causing a syntax error when compiled in Visual Studio. I am using Visual Studio 2015 and SQL Data Tools 14.0.61712.050.

[2018-05-02 10:28] BlitzErik commented on #1555
Duplicate #1554

[2018-05-02 10:28] #1555 closed

[2018-05-02 10:41] BlitzErik opened #1556 "FRK blog posts need support instructions"
We get a lot of blog comments with bug reports and support requests. I should add instructions to the beginning of the post with a link here. Adding as an issue here to put the text in the release process.

[2018-05-02 13:58] BrentOzar opened #1557 "sp_BlitzFirst: in CPU usage "more details" XML, add recent history"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The priority 250 CPU usage only shows the last entry from the ring buffer.

**What is the expected behavior?**
Show all entries sorted by time so you can see if something was wrong recently.

[2018-05-02 14:50] janwillemaikens commented on #1178
Hi,
Thanks for sp_blitzquerystore.
I'm not sure if you've already decided on this.
Could you create a couple of parameters @SortBy (Colnumber) SortOrder (A[scending]/D[escending])
So, ordering by last_executiondate desc would be @SortBy=38, @SortOrder='D'

[2018-05-03 02:34] #1556 closed

[2018-05-03 10:55] EmanueleMeazzo commented on #1539
@jadarnel27 I remember reading that if you call Microsoft support they'll ask you to update to the latest CU before they examine your issue in case it has been already fixed by a CU.
So it's not really "out of support", but neither "fully supported"

[2018-05-03 22:38] BlitzErik commented on #1526
With a point in the right direction from Mikael Eriksson, I got this sorted out.

[2018-05-03 23:00] #1526 closed

[2018-05-04 19:16] jadarnel27 opened #1560 "AMD Processors mess up the Power Plan / CPU check"
**Do you want to request a *feature* or report a *bug*?**
Report a bug (version 6.5, 2018-05-01)

**What is the current behavior?**
I am getting an odd-looking result from sp_Blitz CheckID 211 (Power Plan).  Here's the details column:

<sub>sad trombone...I'm in balanced power mode</sub>

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of th

[2018-05-04 19:47] jadarnel27 commented on #1560
No problem!  Least I can do considering this free script just pointed out I'm in balanced power mode.

I'll send that PR after I go chat with my VM admin...😜

[2018-05-04 19:52] BlitzErik commented on #1539
@BrentOzar can you assign this to @jadarnel27? He doesn't show up when I try to do it, and he has something in the works.

[2018-05-04 19:59] BrentOzar commented on #1539
Huh - he doesn't show up to me either.

[2018-05-04 20:03] BrentOzar commented on #1539
@jadarnel27 DAAANG, nice work, sir! That's phenomenal.

[2018-05-04 21:27] BlitzErik commented on #1523
We got a user to help us track this down. Turns out if there's a CASE expression as part of implicit conversion, it can be way longer than 258 characters. Increasing the column length here.

[2018-05-04 21:31] #1523 closed

[2018-05-06 13:49] BlitzErik opened #1562 "BlitzCache/BQS -- get set options in clickable"
In the clickable column for cached execution parameters, I wanna get the SET options in there too.

I know they're in a DMV, but they're also conveniently stored in the plan XML. I'm likely going to opt for that instead here.

[2018-05-06 13:55] BlitzErik opened #1563 "BlitzCache/BQS: Some warnings are dumb"
In #1489 I moved a bunch of checks to only fire under Expert Mode. I'd like to revisit some of the stuff we check for in there, starting with warnings.

This is the full list:

![image](https://user-images.githubusercontent.com/11590415/39673958-01507bd0-5113-11e8-85ce-fbf5f69d981d.png)

Of those, only columns with no stats, no join predicate, and plan affecting convert are in cached plans.

1. No

[2018-05-06 15:39] #1562 closed

[2018-05-06 15:39] #1563 closed

[2018-05-07 02:25] jadarnel27 commented on #1539
Thanks, @BrentOzar!

By the way, I'm sourcing my support date information from here:

https://support.microsoft.com/en-us/lifecycle/search?alpha=SQL%20Server

The only thing missing there is SQL 2016 SP2.  I don't know how long it usually take Microsoft to update that page.

[2018-05-07 12:34] #1560 closed

[2018-05-07 13:52] BlitzErik commented on #1557
I had a little time to work on this:

[code]

[2018-05-08 10:32] BrentOzar commented on #1557
Nice, that looks awesome!

[2018-05-08 15:04] GiorgioBe opened #1567 "In sp_BlizFirst CheckData is stored with the proper UTC but searched with UTC+0"
**Do you want to request a *feature* or report a *bug*?**
sp_BlitzFirst 6.5

**What is the current behavior?**
When I try to search the result database with
EXEC sp_BlitzFirst using @AsOf I get no results.
This happens because data is stored with UTC+2, but is searched with UTC+0 after

![image](https://user-images.githubusercontent.com/39093741/39765122-62b31cc8-52e1-11e8-8837-352f29fce949.png)

[2018-05-09 01:39] jadarnel27 opened #1568 "BlitzLock - Add "Priority" to the output"
**Do you want to request a *feature* or report a *bug*?**
Request a feature.

**What is the current behavior?**
The first resultset of sp_BlitzLock does not include the deadlock priority of the processes / queries involved in the deadlock.

**What is the expected behavior?**
It would be nifty if the resultset *did* include the priority, since that's one of the main factors in victim choice.  This

[2018-05-09 01:40] jadarnel27 opened #1569 "BlitzLock - filter out check id 2 for index deadlocks on heaps"
**Do you want to request a *feature* or report a *bug*?**
Report a bug (at least I think it's a bug...probably something Erik could fix while drinking on an airplane).

**What is the current behavior?**
If you have a page deadlock on a heap, an odd-looking row is reported in the second resultset in the check_id 2 section.  It's an index named "UNKNOWN," probably due to the null entry in sys.indexe

[2018-05-09 01:55] BlitzErik commented on #1568
If you're interested in coding this, it should be as easy as adding the priority attribute.

Ctrl + F for `/*Parse process and input buffer XML*/`  to find the code that does it.

[2018-05-09 01:58] BlitzErik commented on #1568
This should be pretty easy to code, if you wanna do it.

Ctrlf + F for `/*Check 2 continuation, number of locks per index*/`

We identify heaps as UNKNOWN in sp_BlitzIndex, which is why I did it here. If you think it would be more helpful to users to do something else, that's totally cool.

[2018-05-09 04:40] BrentOzar commented on #1569
Howdy, and welcome to the First Responder Kit repo!

The "UNKNOWN" row refers to the heap. (Heaps are technically indexes in the sense that they're stored in sys.indexes as index id 0 for that table.)

If you want to remove that row, that's probably fair - I don't think any of us would fight you too hard on that. I'm fine with the row being in there, or not being there, either way.

To see the con

[2018-05-09 08:35] #1567 closed

[2018-05-09 08:35] GiorgioBe commented on #1567
Found that giving the full date (not up to the minute as in the examplesù9 it works.

[2018-05-09 11:45] jadarnel27 commented on #1568
That sounds good, sign me up!  I'll take a look soon.

[2018-05-10 16:47] GrumpyVader commented on #1539
I've been working on sprocs to pull system information using SERVERPROPERTY and the like. Would this version table be a manual update for the time being or is anyone working on an automated way to get the latest build info? I know with SQL 2017 there will no longer be SPs and the CUs will be released monthly.

[2018-05-10 17:11] GrumpyVader opened #1570 "DatabaseRestore does not support URL pathing"
New Feature? The DatabaseRestore script currently does not support cloud backups using the URL and credential options.

**What is the current behavior?**
Currently the only paths supported are drive letter and UNC path.

**What is the expected behavior?**
The BackupPaths should support URL and a new parameter should be added for the Credential to use.

**Which versions of SQL Server and which OS a

[2018-05-10 17:13] jadarnel27 commented on #1539
@GrumpyVader I wrote a scraper app that generated the script using the information on these two pages:

- [How to determine the version, edition, and update level of SQL Server and its components](https://support.microsoft.com/en-us/help/321185/how-to-determine-the-version-edition-and-update-level-of-sql-server-an)
  - For the build numbers, release dates, and related branch names (CU1, SP3, etc)

[2018-05-10 17:15] BlitzErik commented on #1570
Great idea!

The thing is, none of us are using those, so we wouldn't be able to develop or test the code.

If you want to take franchise of it, that's fine with us. Just let me know here and I'll assign the issue over to you.

Make sure to read the [contributing guide](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md) first

If not, that's fine too -- it's

[2018-05-10 17:27] GrumpyVader commented on #1570
I'm taking a look at what changes would be needed and I will read the guide as well then I will let you know if I can take it on. :)

[2018-05-10 17:28] BlitzErik commented on #1570
Sounds good. I'll assign it to you without a milestone. No pressure, just whenever you make a decision on it, let me know.

Thanks!

[2018-05-10 17:32] GrumpyVader commented on #1539
Cool @jadarnel27. I'm interested for sure. It would help for keeping inventory on the servers I support.

[2018-05-11 13:58] smcnaughton opened #1571 "sp_BlitzFirst, [dbo].[BlitzFirst_WaitStats] Hard coded table value issue"
**Do you want to request a *feature* or report a *bug*?**
BUG
Version: Dev and Master Current

**What is the current behavior?**
sp_BlitzFirst Fails to create view  test_BlitzFirst_WaitStats_delta due to non-default table name

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http://sqlfiddle.com**
--Using default code from

[2018-05-11 14:26] BrentOzar commented on #1571
To be clear, it's around line 3270 of the dev branch. Below, dbo.BlitzFirst_WaitStats shouldn't be hard-coded.

[code]

[2018-05-11 14:34] smcnaughton commented on #1571
Sorry the line 380 was in reference to sp_blitzfirst, although the issue seems to be across the board in the installs and sp_blitzfirst. As to the pull, I am fairly new to using github so I'd rather not mess with things I don't know quite yet, but thank you for the prompt attention to this!

[2018-05-11 19:41] #1569 closed

[2018-05-14 07:40] EmanueleMeazzo commented on #1571
This is my fault, introduced with the last pull request, I'll take care of it.

[2018-05-14 19:09] BlitzErik opened #1574 "sp_BlitzCache: Fix plan cost math"
Bug:
We're matching on QueryHash and QueryPlanHash now, which can result in false-positives for databases that have matching schema and queries, as well as stored procs that share similar queries.

[2018-05-14 19:10] #1574 closed

[2018-05-14 19:16] BlitzErik opened #1576 "sp_BlitzCache (and probably BQS): Database trigger names don't resolve"
![image](https://user-images.githubusercontent.com/11590415/40018268-c54f1cb8-5789-11e8-9d82-d9074610b0f0.png)

BOO! BOO THIS MAN!

[2018-05-15 22:49] BlitzErik opened #1577 "sp_BlitzCache etc. -- Populate set options and variables for statements"
No reason not to do this.

[2018-05-15 23:09] #1577 closed

[2018-05-17 08:13] EmanueleMeazzo opened #1579 "[PowerBI] Troubleshoot by analyzing the Waitstats/Perfmon counters deviation from standard values"
![image](https://user-images.githubusercontent.com/1709105/40164602-54f53a14-59ba-11e8-8711-6a09b898bbf9.png)

![image](https://user-images.githubusercontent.com/1709105/40164833-e448465c-59ba-11e8-86a2-7e322db28483.png)

**Do you want to request a *feature* or report a *bug*?**
Yet another enhancement for PowerBI, two additional pages

**What do you want to do?**
Adding two pages to use the exist

[2018-05-17 10:45] dbadave87 opened #1580 "sp_BlitzFirst @BlitzCacheSortOrder changed to "memory grant" on less than 20GB free memory"
**Do you want to request a *feature* or report a *bug*?**
Bug (typo?) in sp_BlitzFirst - (v6.5)

**What is the current behavior?**
When triggering sp_BlitzFirst as part of a SQL Agent job, this fails at the same time every day with this error:

While this error is valid based on the triggered query (i.e. sp_BlitzCache @SortOrder = 'memory grant'), as this server is version 12.0.4522.0, it prompted

[2018-05-17 10:53] BrentOzar commented on #1580
Howdy! Dang it, I was so excited when I read this because I love your troubleshooting process, but it turns out the code is correct. Here's that section of code:

[code]

The first line is checking to make sure you have at least 20GB of RAM. We don't want to complain about free memory on tiny servers.

The second line is checking where free memory is >= 30% of your total memory.

So if you had exa

[2018-05-17 10:54] BrentOzar commented on #1580
Well, I say that - but now that I read the page more closely, I think you're right!

[2018-05-17 15:28] #1580 closed

[2018-05-18 13:47] bmistiaen opened #1582 "sp_BlitzCache - The database you specified is not readable, but status is online"
Reporting bug in sp_BlitzCache
Version = '6.5';
VersionDate = '20180501';

**What is the current behavior?**
1. Executing sp_BlitzCache
Input:
exec sp_blitzcache @DatabaseName='AX2012R3_SAV_PROD'

Output:
Checking @MinutesBack validity.
Creating temp tables for results and warnings.
Checking database validity
Msg 50000, Level 16, State 1, Procedure sp_BlitzCache, Line 775
The database you specifie

[2018-05-18 13:50] BrentOzar commented on #1582
Working OK here. Make sure you've got the database name configured *exactly* as the real database is - case sensitivity, hidden characters, etc. Sometimes it's easier to do a SELECT * FROM sys.databases, and copy/paste it into the sp_BlitzCache parameter.

If that still doesn't work, include screenshots showing the list of databases, the output of SELECT * FROM sys.databases, and the sp_BlitzCache

[2018-05-18 14:11] bmistiaen commented on #1582
Database name is exactly the same.
Did the copy-paste from sys.databases, still gives same error.
Requested screenshots attached.
![1582_listofdatabases](https://user-images.githubusercontent.com/25608894/40239341-124df712-5ab6-11e8-8a60-c9a50ffca363.png)
![1582_select_from_sysdatabases](https://user-images.githubusercontent.com/25608894/40239343-126b8d04-5ab6-11e8-8fac-a1e05e70e532.png)
![1582_sp

[2018-05-18 14:20] BrentOzar commented on #1582
Thanks for that quick turnaround! I know this is going to sound paranoid, so please bear with me. You might be the world's most qualified SQL Server professional, but I just have no idea, so I have to kinda check the basics first.

I really appreciate the screenshot of the excerpt, but it's not quite the whole relevant script. Try this:

[code]

I'm particularly interested in the DB_ID() portion,

[2018-05-18 14:29] bmistiaen commented on #1582
First query:
![1582_trim](https://user-images.githubusercontent.com/25608894/40240309-9444e8dc-5ab8-11e8-8208-9fc9be9668e9.png)

Second query:
![1582_databasepropertyex](https://user-images.githubusercontent.com/25608894/40240315-9adeea62-5ab8-11e8-94e3-c269e7b73e57.png)

[2018-05-18 14:31] BrentOzar commented on #1582
Thanks for that! The first query's success means that the code inside sp_BlitzCache is running properly.

I really hate to say this, but that leaves me with only one conclusion: that somehow the installed version of sp_BlitzCache has been modified. Go ahead and drop your existing sp_BlitzCache, and reinstall it from the official version here. Make sure to check the databases & schemas that you're

[2018-05-18 15:05] bmistiaen commented on #1582
Checked all databases.
sp_BlitzCache only exists in master.
Dropped it.
Re-created it in master, from SQL-Server-First-Responder-Kit-dev.zip
And lo and behold: it works now!
SQL Server sure works in mysterious ways sometimes...
Thank you very much for your swift help and quick responses!

[2018-05-18 15:09] BrentOzar commented on #1582
No problem, glad we could help!

[2018-05-18 15:09] #1582 closed

[2018-05-19 12:52] rsocol opened #1583 "Overall Events DBCC Events: Exclude DBCC USEROPTIONS"
**Do you want to request a *feature* or report a *bug*?**

feature for version 6.4 (20180401)

**What is the current behavior?**

The check for overall DBCC events returns warnings for DBCC USERINFO.

**What is the expected behavior?**

I think DBCC USERINFO is fairly benign, as it only shows the current values of the SET options, without changing them.

**Which versions of SQL Server and which OS

[2018-05-19 12:54] BrentOzar commented on #1583
Great idea, and makes total sense. If you wanna contribute the code for it and see your name in lights, here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

If you're not comfortable with Github or you don't have the time, no worries - this change is easy enough that I can tackle it really quickly. Just let me know either way - w

[2018-05-19 13:02] rsocol commented on #1583
Thanks for the very fast response, I didn't expect such a quick reaction!
I'm not familiar with using git, maybe I'll try to install it (and see my name in lights) the next time I have an idea for sp_Blitz (maybe it will be a bit more substantial).

[2018-05-20 20:07] BlitzErik commented on #1576
This is weird.

![image](https://user-images.githubusercontent.com/11590415/40283155-e12bb672-5c47-11e8-8298-ce985f5922c9.png)

[2018-05-21 20:48] LinkOps opened #1584 "Ignore TempDB on CheckId 80"
In accordance with TempDB advice taken from Kendra Little TempDB should be set to a static size in a multi-file configuration and have auto-growth turned off. This is to prevent one tempdb file being used more preferably over the others.

Therefore TempDb should be excluded from CheckId 80 (Max File Size Set) as it highlights a red herring.

[2018-05-21 21:11] BrentOzar commented on #1584
I'm going to play devil's advocate here. I'm guessing that Kendra's talking about a specific volume dedicated to TempDB - in which case you grow the files out to fill up the volume. In that case, it doesn't matter whether auto-growth is on or off - it has no effect.

If, on the other hand, you've got TempDB on a volume that isn't dedicated just to it, how do you know what the right max size is? Fi

[2018-05-21 21:11] #1584 closed

[2018-05-22 11:36] #1583 closed

[2018-05-22 13:35] BrentOzar commented on #1439
@EmanueleMeazzo thanks so much for this, and sorry for the delay. I think I'm missing something obvious about setting up the new measure in this page: http://tsql.tech/creating-a-perfmon-and-filestats-reports-in-powerbi-part-2/

I recorded a quick video showing it:
http://14days.brentozar.com.s3.amazonaws.com/PowerBI20180522.mp4

What am I missing?

[2018-05-22 18:13] EmanueleMeazzo commented on #1439
Hey @BrentOzar , that's weird, you're not missing anything; I've tried myself to copy and paste the measure text from my website back to PowerBI and it worked, I've recorded it [here](https://www.screencast.com/t/3uvEx2RZ5)

Maybe it's something related to the differences in the newline character in MacOSX vs Windows that causes some hidden character to make a mess?

You should be able to generate

[2018-05-22 18:18] EmanueleMeazzo commented on #1579
@BrentOzar I've tried to copy/paste these measures too, all works fine, it's maybe a character war between OSX and Windows

[2018-05-22 18:50] BrentOzar commented on #1439
OK, great, added in the other issue #1579 - check out those changes, and feel free to add stuff to the file in that pull request until this weekend.

[2018-05-23 11:58] #1539 closed

[2018-05-23 11:59] #1571 closed

[2018-05-23 11:59] #1579 closed

[2018-05-23 12:00] BlitzErik commented on #1439
I think this is closed via the other PR, please reopen if I'm wrong.

[2018-05-23 12:00] #1439 closed

[2018-05-23 12:01] BlitzErik commented on #1346
@ktaranov we haven't heard from you in a while on this. Do you want us to keep the issue open?

[2018-05-23 12:05] BlitzErik commented on #1570
@GrumpyVader were you still interested in taking this on? Just checking in on open issues.

Thanks!

[2018-05-23 15:23] ktaranov commented on #1346
Hi, @BlitzErik .

We have completed the revision of the procedure in February 2018  according to issues from @Nelo-cool and @Dm1tr1ch  and also fixed some another bugs. The latest version of the procedure is in the same place: https://github.com/ktaranov/sqlserver-kit/blob/master/Stored_Procedure/sp_BlitzInMemoryOLTP.sql

We use it on regular basis on our production and development systems.

If yo

[2018-05-23 15:29] ktaranov commented on #1254
Hi, @jobbish-sql , @BrentOzar .
I think https://github.com/NikoNeugebauer/CISL Niko Neugebauer can help to create this procedure. Also I can start to create first dirty version (If it is still interesting for community).

[2018-05-23 15:30] BlitzErik commented on #1346
I'm ready if you are. Go ahead and create a pull request for me to merge it in.

[2018-05-23 15:30] BrentOzar commented on #1346
Is there any documentation on how to use it?

Also, just FYI - on Azure SQL DB, it returns this:

[code]

On SQL Server 2017, it doesn't appear to work with nvarchar database names:

sp_BlitzInMemoryOLTP @dbName = '¯\_(ツ)_/¯'

Result:

[code]

Those aren't showstoppers, just letting you know. (The documentation would be kind of a big deal though.)

[2018-05-23 15:39] nedotter commented on #1346
Gents,

The heading in the script is clear: "NOT tested on Azure SQL Database"

I'll tend to the dbname issue tonight, thanks for the feedback (although I
thought we nailed down stuff with your sneaky db names a while ago).

Will get to the documentation shortly.

Thanks,

Ned

On Wed, May 23, 2018 at 11:30 AM, Brent Ozar <notifications@github.com>
wrote:

[2018-05-23 16:32] BrentOzar commented on #1346
Great question - it should be yours, since you'd be doing the support for it. (I wouldn't want people coming to BrentOzar.com thinking we'd be a good resource for it, heh.)

[2018-05-24 08:00] ktaranov commented on #1346
Hi, @BrentOzar . This works for Unicode name, try to run with **N** prefix `EXEC sp_BlitzInMemoryOLTP @dbname = N'¯_(ツ)_/¯'`
Also updated stored procedure to better handle this situation https://github.com/ktaranov/sqlserver-kit/commit/54a49fe151b2c65dbecc2b4d8b143a40dbc9d59f:
[code]

[2018-05-24 08:02] ktaranov commented on #1346
I will try create new test Azure account in this holidays for testing this procedure on Azure instance.

[2018-05-24 08:13] ktaranov commented on #1346
@nedotter , could you prepare extended version of your original post (http://nedotter.com/archive/2017/10/in-memory-oltp-diagnostic-script/) with detailed documentation about using this stored procedure (i can help you with this)? Also if you have some time for testing on Azure that will be cool.

[2018-05-24 08:19] Nelo-cool commented on #1346
Ha ha, @dbname = N'¯_(ツ)_/¯' is made my day, thanks you guys! :) But is logical that ツ is unicode symbol.

[2018-05-24 11:36] tatormills commented on #1582
I also received this error in SQL Server 2016 and sp_blitzcache version is 6.5, Date is 2018-05-01.

I install sp_blitz stuff in the master database.
My current  database is DevDB, i.e. not master.

I tried to use the @DatabaseName filter for sp_blitzcache, like:

exec sp_blitzcache @sortorder='average reads', @DatabaseName=N'DevDB'

but I get the following error:

Checking @MinutesBack validity.

[2018-05-24 12:27] nedotter commented on #1346
Konstantin et al,

I started to test on Azure SQL db last night, and also began a new blog
post. I have not yet tested on Azure Managed Instance.

So it will take me a few days to get this together.

On Thu, May 24, 2018 at 4:19 AM, Nelo-cool <notifications@github.com> wrote:

[2018-05-24 14:52] BlitzErik commented on #1504
I'm sticking this in here in case I want it for something else again:

[code]

[2018-05-25 19:17] BrentOzar opened #1588 "sp_BlitzIndex: clarify Aggressive Indexes warning"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We have an Aggressive Indexes warning, and it includes the number of indexes on a table. Some folks in the audience connect those dots right away by saying if there are 0-3 indexes, the table's probably under-indexed. If there are 10+ indexes, it's probably over-indexed. However, that requires thou

[2018-05-25 20:48] jadarnel27 opened #1590 "sp_BlitzLock - Add a column for the full graph"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
Running `sp_BlitzLock` produces awesomeness.

**What is the expected behavior?**
Running `sp_BlitzLock` produces awesomeness, *and* a column to view the full deadlock graph.

This would make it easier to save the deadlock graph to a folder, or send it to someone else to troubleshoot, look

[2018-05-25 20:58] BlitzErik commented on #1590
Totally, go for it!

[2018-05-26 19:23] Tisit opened #1592 "duplicate rows when checking for recompiled procedures"
**Do you want to request a *feature* or report a *bug*?**
Bug. Version 6.5

**What is the current behavior?**

When there are 2 or more stored procedures with option recompile and same name but different schemas sp_Blitz returns duplicate warnings.

Simple reproducer:
CREATE SCHEMA S1
GO
CREATE SCHEMA S2
GO

CREATE PROC S1.A WITH RECOMPILE AS
SELECT 1
GO

CREATE PROC S2.A WITH RECOMPILE AS
SELECT

[2018-05-26 19:32] BrentOzar commented on #1592
OK, great! I added a quick and dirty fix with a SELECT DISTINCT, but if you wanted to code another fix, you're welcome to check out the contributing guide and make a pull request. Thanks!

[2018-05-26 20:17] Tisit commented on #1592
Took a look at the code and I think it could be fixed in another way. Give me a day or 2 to figure out the whole github thing.

[2018-05-27 22:51] #1588 closed

[2018-05-27 22:51] #1592 closed

[2018-05-27 23:08] BlitzErik commented on #1576
What sucks about this is that the only way to get the trigger info is from `sys.triggers`, which is per-database. I don't think it's worth writing a lot of extra code to get this. I'm fine with it as a known limitation.

We don't see folks using database triggers all that often. Even when we do, they're hardly the worst thing in the plan cache.

We'll just have to leave the nice people of the worl

[2018-05-27 23:08] #1576 closed

[2018-05-28 11:37] tompazourek opened #1595 "Warnings from sp_BlitzCache start with a space character"
When calling `sp_BlitzCache`, the values in the `Warnings` column always start with a space character.

I'm using version 6.5, to reproduce this, just run `sp_BlitzCache` on any database so that it produces some Warnings in the results.

The expected behavior would be that the text in the `Warnings` column wouldn't start with the unnecessary initial space.

I've made a PR to fix this: #1594

[2018-05-29 22:28] BlitzErik commented on #1595
Thanks!

[2018-05-31 03:50] nedotter commented on #1346
Hi Everyone,

I've attached a Word doc that would be the foundation for the blog post
I'll update, for sp_BlitzInMemoryOLTP.

All feedback welcomed.

Thanks,

Ned

On Tue, May 29, 2018 at 2:50 PM, BlitzErik <notifications@github.com> wrote:

[2018-05-31 11:00] BrentOzar commented on #1346
Howdy sir - I think you replied to a Github email, but that doesn't include the attachments in the issue. (I was kinda surprised that it didn't - Github usually seems to do everything else pretty automagically.) If you can't upload it here, you can email it to help@brentozar.com if you want and both Erik & I will get it. I don't think you can upload it in the community Slack - that keeps running o

[2018-05-31 15:38] Alansoft-BR opened #1596 "Hard coded table name: [dbo].[BlitzFirst_WaitStats]"
Line ~18945 of Install-Core-Blitz-No-Query-Store.sql has the following:

`                + '        FROM [dbo].[BlitzFirst_WaitStats]' + @LineFeed
`
Which causes the following issue when the parameter has a different table name than the default:
Invalid object name 'dbo.BlitzFirst_WaitStats'.

This line should have the following:
`                + '        FROM ' + @OutputSchemaName + '.' + @Out

[2018-05-31 15:44] BrentOzar commented on #1596
Hi, and thanks for reporting it. Whenever you report an issue, just search first to see if the issue already exists - especially if it's closed because it's already been fixed:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/issues/1571

Thanks though!

[2018-05-31 15:44] #1596 closed

[2018-05-31 15:50] Alansoft-BR commented on #1596
Thanks @BrentOzar. But, if it was closed, why doesn't the code reflect that fix?

[2018-05-31 15:53] BrentOzar commented on #1596
The way open source projects work is that there's often a development branch (where active development is happening, with frequent changes) and then a master/stable branch (which is released on a regular basis, and stays stable for a while.) If you'd like to get the most recent version, check the development branch. Click Code at the top of the screen, look at the "Branch" dropdown to make sure yo

[2018-05-31 15:57] Alansoft-BR commented on #1596
Of course! My bad since I didn't look around before, came here directly - will take a look.
Thank you for all this amazing code.
Best,
Alan

[2018-05-31 16:12] MrTCS opened #1598 "sp_BlitzWho Doesn't Report Open Transactions Correctly"
**Do you want to request a *feature* or report a *bug*?**
Bug.  Version 6.5

**What is the current behavior?**
sp_BlitzWho is not correctly reporting open transactions with sleeping SPIDs.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http://sqlfiddle.com**
BEGIN TRAN
SELECT * FROM Table

OR
BEGIN TRAN
UPDATE TABLE SET.

[2018-05-31 16:53] BlitzErik commented on #1598
Thanks for letting us know. Is this something you had planned on coding?

If so, please check out the [contributing ](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md) guide.

[2018-05-31 16:54] #1590 closed

[2018-06-01 19:48] CCUMan opened #1600 "SP_Blitz Arithmetic overflow line 595"
Have latest downloadable version from FirstAid kit.

sp_Blitz @IgnorePrioritiesAbove = 50, @CheckUserDatabaseObjects = 0
Msg 8115, Level 16, State 2, Procedure sp_Blitz, Line 595 [Batch Start Line 0]
Arithmetic overflow error converting expression to data type int.
The statement has been terminated.

EXEC dbo.sp_Blitz @CheckUserDatabaseObjects = 1, @CheckServerInfo = 1, @Debug = 1
Setting @MsSince

[2018-06-01 20:29] CCUMan commented on #1600
[cid:image001.png@01D3F9C5.A0EDD110]

From: BlitzErik <notifications@github.com>
Sent: Friday, June 1, 2018 4:26 PM
To: BrentOzarULTD/SQL-Server-First-Responder-Kit <SQL-Server-First-Responder-Kit@noreply.github.com>
Cc: Will Hall <Will.Hall@corningfcu.org>; Author <author@noreply.github.com>
Subject: Re: [BrentOzarULTD/SQL-Server-First-Responder-Kit] SP_Blitz Arithmetic overflow line 595 (#1600)

[2018-06-01 20:31] BlitzErik commented on #1600
Sorry, the image didn't come through via email.

[2018-06-01 20:34] CCUMan commented on #1600
![image](https://user-images.githubusercontent.com/39840608/40862157-9af1bd52-65b9-11e8-887d-e5ee78ec236f.png)

[2018-06-01 20:40] BlitzErik commented on #1600
Alright, one more! Can you just paste the number in, though, if it works?

[code]

[2018-06-01 20:48] CCUMan commented on #1600
![image](https://user-images.githubusercontent.com/39840608/40862777-92981244-65bb-11e8-9475-1995d6ac9f3c.png)

[2018-06-01 21:23] BlitzErik commented on #1600
Thanks -- can you test the version here?

https://gist.github.com/BlitzErik/df087cc5abf6d54dfb2bb649a20f7f67

[2018-06-01 21:30] BlitzErik commented on #1570
@GrumpyVader Haven't heard back from you in a while, so going to close this out. Feel free to reopen if you decide to pursue it in the future.

[2018-06-01 21:30] #1570 closed

[2018-06-01 22:11] GrumpyVader commented on #1570
Sorry about that. I’ve been busy with server migrations. I will work on it when I get some free time.

Thank you,
    Eric Ritzie

Sent from my iPhone

On Jun 1, 2018, at 2:30 PM, BlitzErik <notifications@github.com<mailto:notifications@github.com>> wrote:

@GrumpyVader<https://github.com/GrumpyVader> Haven't heard back from you in a while, so going to close this out. Feel free to reopen if you de

[2018-06-02 11:29] BrentOzar opened #1602 "sp_Blitz, sp_BlitzFirst: new ignorable AG waits"
**Do you want to request a *feature* or report a *bug*?**
Feature. Microsoft blogged about a new set of ignorable waits:

https://blogs.msdn.microsoft.com/sql_server_team/sql-server-20162017-availability-group-secondary-replica-redo-model-and-performance/

* PARALLEL_REDO_WORKER_WAIT_WORK
* PARALLEL_REDO_DRAIN_WORKER
* PARALLEL_REDO_LOG_CACHE
* PARALLEL_REDO_TRAN_LIST
* PARALLEL_REDO_WORKER_SYNC

[2018-06-02 11:49] BrentOzar opened #1604 "sp_BlitzInMemoryOLTP: add documentation pointers"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Ned just added sp_BlitzInMemoryOLTP (yay!), so need to add a few things:

* Readme.txt - include description of what it does
* License.md - include copyright pointer
* Readme.md in the Github repo - include call parameters, support links

[2018-06-02 13:03] #1604 closed

[2018-06-02 13:32] BlitzErik commented on #1598
@MrTCS can you verify which version you're on, etc.? I'm testing a blocking scenario like the one you described and it's showing correctly for me.

![image](https://user-images.githubusercontent.com/11590415/40876793-e2337d84-6647-11e8-85f5-456cf0690315.png)

[2018-06-02 14:12] #1602 closed

[2018-06-02 14:28] #1595 closed

[2018-06-02 14:29] #1346 closed

[2018-06-02 15:37] #1600 closed

[2018-06-04 12:22] CCUMan commented on #1600
Resolved

[2018-06-04 14:24] BlitzErik opened #1608 "sp_BlitzIMOLTP -- gracefully bail on unsupported versions"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
When this proc runs, it doesn't do any version checking to make sure someone is on a version of SQL Server that support IMOLTP, or some of the T-SQL constructs that are used. When someone goes to install our scripts from a bulk create module on a non-supported version, a bunch of errors are thrown.

[2018-06-04 14:32] BlitzErik commented on #1608
I see up a the top that @nedotter and @ktaranov have added version checking, but it looks like `THROW` wasn't added to T-SQL until 2012.

[2018-06-04 14:35] nedotter commented on #1608
I will address this tonight, thanks for the catch --

On Mon, Jun 4, 2018 at 10:32 AM BlitzErik <notifications@github.com> wrote:

[2018-06-04 14:37] BlitzErik commented on #1608
Cool, thanks. This is how I do it in `sp_BlitzQueryStore`. I realize you have other exceptions, but it should just be a matter of using `RETURN` instead.

[code]

[2018-06-04 14:38] nedotter commented on #1608
Much appreciated --

On Mon, Jun 4, 2018 at 10:37 AM BlitzErik <notifications@github.com> wrote:

[2018-06-04 15:28] BlitzErik opened #1609 "sp_BlitzCache & BQS: Fix updates for cached params"
I was AND IDOOT when I wrote this and didn't filter the updates correctly.

[2018-06-04 15:47] BlitzErik commented on #1609
Closing in dev yolo

[2018-06-04 15:47] #1609 closed

[2018-06-04 16:13] BlitzErik commented on #1598
Closing this for now. Feel free to reopen it when you have a working repro script.

Thanks!

[2018-06-04 16:13] #1598 closed

[2018-06-04 17:12] way0utwest opened #1610 "Add sp_rename code for DTA indexes in SpBlitzIndex"
One thing that might be nice is if you added the sp_rename code for indexes that might be dups for the _dta_% indexes. These may be good indexes, but they are poorly named. You could start them as IX_col_col_col names, with the user then overriding the name if needed.

Dropping isn't great to provide the code, but the rename (as in lab 1 of the Index Tuning class) is nice.

If you want to, maybe a

[2018-06-04 22:59] nedotter commented on #1608
Sir Erik,

Just testing on SQL 2012 Enterprise, and the proc can't even be created,
because sys.databases doesn't have the resource_pool_id column.

So I'm wondering if we need to exit gracefully from that which we cannot
invoke....

Thanks,

Ned

On Mon, Jun 4, 2018 at 10:38 AM Ned Otter <nedotter@gmail.com> wrote:

[2018-06-04 23:08] BlitzErik commented on #1608
HI Ned,

You can't run it, but that doesn't mean people won't try to install it. We still get questions about why things won't run/install on 2000/2005. Heh.

I hit that error when I had your script in the bulk install scripts in our repo (we package everything up together a few different ways for folks who only wanna hit F5 once), and started testing against older but still supported versions.

I

[2018-06-04 23:14] nedotter commented on #1608
Hi Erik,

So it seems that I can simply place a modified version of your code at the
top of the script, and then the creation of the proc is never attempted.

Think I'll go with that --

Thanks,

Ned

On Mon, Jun 4, 2018 at 7:08 PM BlitzErik <notifications@github.com> wrote:

[2018-06-04 23:26] BlitzErik commented on #1608
Hey Ned,

That code was contributed some time ago by someone working heavily in Azure. I don't do anything with Azure, so if you find the code is incorrect in some way, I'd be happy to update it. I don't have any Azure instance to look at, even.

Thanks,
Erik

[2018-06-04 23:29] nedotter commented on #1608
Hey Erik,

I've got an Azure db in front if me (not an Azure instance), and SELECT
SERVERPROPERTY ('ENGINEEDITION') returns 5.

So I would think that would confirm that the logic is incorrect....

Best,

Ned

On Mon, Jun 4, 2018 at 7:27 PM BlitzErik <notifications@github.com> wrote:

[2018-06-05 15:45] bertwagner opened #1612 "Incorrect SET syntax in sp_BlitzCache Cached Execution Parameters column"
sp_BlitzCache Version 6.6 20180601, running on SQL Server 2017 (14.0.3026.27) SSMS 17.7

When running sp_BlitzCache, the Cached Execution Parameters column returns SET commands with an equal sign:

SET ANSI_NULLS = ON

These commands shouldn't have an equal sign, instead they should return as:

SET ANSI_NULLS ON

[2018-06-05 16:37] #1612 closed

[2018-06-05 16:38] #1608 closed

[2018-06-05 18:01] BlitzErik opened #1615 "sp_BlitzCache -- all sort has some problems"
When you run BlitzCache with sort order all or all avg, it returns double results.

It should also identify which pattern the query was detected sorting by.

[2018-06-07 12:19] BlitzErik opened #1617 "sp_BlitzIMOLTP -- Fix multiple @Version declares"
This one was my bad, I had written a PowerShell script to update or add this part -- we have it in all the scripts we produce so people can easily find the version number and date.

@nedotter @ktaranov sorry about that!

[2018-06-07 12:44] nedotter commented on #1617
So any time the script is modified, we should increment the ScriptVersion
and VersionDate?

On Thu, Jun 7, 2018 at 8:24 AM BlitzErik <notifications@github.com> wrote:

[2018-06-07 12:45] BlitzErik commented on #1617
Ned -- no, I only increment this when I do the FRK releases. You don't have to worry about touching it.

[2018-06-07 12:46] nedotter commented on #1617
ok, cool

On Thu, Jun 7, 2018 at 8:45 AM BlitzErik <notifications@github.com> wrote:

[2018-06-08 10:12] PsPsam opened #1619 "Bug PowerBi report"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.
Using the latest powerbi template from github

**What is the current behavior?**
![image](https://user-images.github

[2018-06-08 10:22] BrentOzar commented on #1619
Hi! That looks like you haven't upgraded to the latest sp_BlitzFirst and sp_BlitzCache. You might be using the newest Power BI Dashboard, but not those scripts. Update those so they can create the underlying BlitzFirst_PerfmonStats_Actuals.

[2018-06-08 13:53] PsPsam commented on #1619
Thanks @BrentOzar I made a mistake of updating in the wrong db. Forgot to change from master to DBAtools when I ran the script before trying the new Report :(

It now fetching the data correctly.

Thanks for the help and all the work of this great tool.

And also thanks for the podcast! Its very interesting and fun to listen to.

[2018-06-08 13:54] BrentOzar commented on #1619
Awesome, great! Glad you enjoy it. Thanks!

[2018-06-08 13:54] #1619 closed

[2018-06-08 20:52] AAvella opened #1620 "sp_Blitz - Power Plan is not retrieved correctly if set by Group Policy in Windows"
**Do you want to request a *feature* or report a *bug*?**
sp_Blitz 6.5

**What is the current behavior?**
Results incorrectly say that the server is on a power plan that it is not necessarily on.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http://sqlfiddle.com**

**What is the expected behavior?**
Script needs to chec

[2018-06-08 20:52] BrentOzar commented on #1620
Oh no, sorry to hear that! Can you let us know which spot to check? (Obviously your server has something different than what we've got.)

[2018-06-09 11:56] #1620 closed

[2018-06-09 12:03] BrentOzar commented on #1620
@AAvella congrats on the awesome issue and the pull request! I'd like to give you something to say thanks - can you email us at help@brentozar.com when you have a chance? Thanks!

[2018-06-12 08:09] stgioia opened #1622 "Maintenance Tasks Running warning for a Log-shipped database"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if

[2018-06-12 08:10] #1622 closed

[2018-06-12 08:10] stgioia commented on #1622
Opened it with insufficient details. Reopening it.

[2018-06-12 08:21] stgioia opened #1623 "Maintenance Tasks Running warning for a Log-shipping task"
@Version = '6.5';
@VersionDate = '20180501';

sp_BlitzFirst "Maintenance Tasks Running" finding is listing log-shipping restore commands. I'm using the procedure for a NOC dashboard and every 30 minutes the warning comes up.

Suggestion: ignore it or split and create a low-priority finding specific for log-shipping (if RESTORE LOG + JOIN msdb..log_shipping_secondary_databases table).

[2018-06-12 09:07] BrentOzar commented on #1623
Sure, that makes sense! Here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

You've successfully done the first step, filing an issue, and the issue makes sense. I don't think anyone would argue with that request. Next, the contributing guide describes how to get started making the change that you want.

Github can be a kinda

[2018-06-12 10:27] BrentOzar commented on #1623
I agree, makes sense!

[2018-06-12 21:13] BlitzErik opened #1624 "sp_BlitzCache and BQS: @digitalohm: `Target string size is too small to represent the XML instance`"
@digitalohm reported an error back filling xml.

[2018-06-12 21:16] #1624 closed

[2018-06-13 20:53] BrentOzar opened #1626 "sp_BlitzIndex: add page_io_latch_wait_in_ms to @Mode = 2 output"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We're not including the page_io_latch_wait_in_ms field from sys.dm_db_index_operational_stats in @Mode = 2 output. Later, we can think about setting thresholds or giving people advice on it, but for now, let's just start collecting it.

[2018-06-13 21:08] BlitzErik commented on #1626
I think these would generally be interesting:

- page_latch_wait_count
- page_latch_wait_in_ms
- page_io_latch_wait_count
- page_io_latch_wait_in_ms

[2018-06-14 17:05] OmnipotentOwl opened #1627 "sp_BlitzQueryStore Azure SQL Managed Instance version check failure"
**Bug Report**
sp_BlitzQueryStore v2.5 version date: 20180501

**What is the current behavior?**
Currently on an Azure SQL Managed Instance database set at compatibility version 130 when attempting to use sp_BlitzQueryStore the following error message is displayed "Sorry, sp_BlitzQueryStore doesn't work on Azure Data Warehouse, or Azure Databases with DB compatibility < 130." Looking inside the SP

[2018-06-14 17:08] BrentOzar commented on #1627
Sure, sounds good - go for it. Here's the contributing guide explaining how to make the change:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

[2018-06-14 17:43] OmnipotentOwl commented on #1627
Hopefully, I followed the process correctly for updating the TSQL code in GitHub. Please let me know if you need anything else for this.

[2018-06-14 18:27] #1627 closed

[2018-06-14 18:28] BlitzErik commented on #1627
That looks perfect, thanks @OmnipotentOwl

[2018-06-15 15:59] Jimixter opened #1629 "High levels of CPU and reads when executing sp_BlitzFirst"
On our production SQL Server 2014 Web Edition instance, sp_WhoIsActive has highlighted that sp_BlitzFirst is resulting in up to 3 million reads and a CPU overhead of up to 62,000 each time it is executed (it takes nearly 30 seconds to complete each time). I wondered if you might please have any thoughts on this?

We have configured a SQL Agent job to run the following every 15 minutes:

EXEC dbo.s

[2018-06-15 16:12] BlitzErik commented on #1629
Hi,

Yeah, there's not a lot we can do there. That's sp_BlitzCache processing query plan XML. On some servers it's fast (1-5 seconds), and on other servers it's slower.

The main hurdles are:

1. Plan size: Larger plans take longer to explore the XML in
2. Server size: Smaller servers that are already overloaded take more time to work through XML generally

You didn't include which version of the

[2018-06-16 12:38] ubidev opened #1630 "Feature request: Please remove hard dependency to Ola's scripts being installed in Master DB"
Hi!
Since both of the fantastic tools (Olas maintenance scripts and SSFRK) can be installed to another database than master, it would be great if SSFRK could be configured to point to Olas scripts accordingly.

ubidev :)

[2018-06-16 12:40] BrentOzar commented on #1630
Sure, that isn't something we need at the company, but it'd be a welcome contribution if you need that functionality. Here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

If that's something you want to tackle, feel free to go for it! Otherwise we'll close this if we don't hear back from you.

[2018-06-16 14:35] #1629 closed

[2018-06-16 15:27] BrentOzar opened #1631 "sp_Blitz: add patch check based on SqlServerVersions.sql"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We don't know how far behind a server is in patching.

**What is the expected behavior?**

- If they've created the dbo.SqlServerVersions table
- And the structure matches what we expect
- And there are patches present in the table newer than this server's build
- Raise a warning that we need to pa

[2018-06-16 15:43] BrentOzar commented on #1631
Also, while I'm in there:

- Check master, DBAtools, and the current database for this table
- In the warning for tables in the master database, don't warn on this table

[2018-06-16 17:34] #1631 closed

[2018-06-17 15:04] BrentOzar opened #1633 "sp_Blitz and sp_BlitzFirst: warn about userstore_tokenperm memory size"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
We've seen situations where the plan cache is just continuously empty even though there's plenty of memory available. This feedback item suggests that it might be related to userstore_tokenperm size grows to 5GB, but I'm not going to be able to build a repro quickly:

https://feedback.azure.com/fo

[2018-06-17 16:38] klitzkrieg opened #1635 "@Version and @VersionDate mismatch between bundles and individual scripts"
For example, the sp_Blitz within the Install-All-Scripts bundle has last months version
[code]
Where the individual script file for sp_Blitz has the current version
`	SET @Version = '6.6';
	SET @VersionDate = '20180601';
`

Otherwise the code matches.

This is consistent across all individual script files and all bundles that I checked.

[2018-06-17 16:41] BlitzErik commented on #1635
Weird -- try running this PowerShell script:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/Documentation/Development/Merge%20Blitz.ps1

See if that resolves it.

[2018-06-17 17:02] klitzkrieg commented on #1635
Thanks! Recombining the individual scripts with your merge ps1 did the trick.

Looks like all ALTER PROCEDURE statements have the latest version except sp_AllNightLog. But at least the bundle matches the individual script now.

Changes in the merge diff for Install-All-Scripts were
All but one instance of the SET @version and SET @VersionDate
AND
This line was also different :
Install-All-Scripts

[2018-06-17 17:07] BlitzErik commented on #1635
Yeah, ANL hasn't gotten any updates in quite a while. We haven't gotten any issues on it, so we're guessing adoption wasn't very high.

It looks like I forgot to re-run the merge after bumping the version numbers. The code itself should have been bumped when I did the first round of testing though.

Thanks!

[2018-06-17 17:07] #1635 closed

[2018-06-18 11:44] Jimixter commented on #1629
Hi Erik,

Thank you for your prompt reply, apologies I couldn't get back to you
sooner. I'd already left the office for the weekend when you responded, and
was on baby/Father's Day duties all weekend!

We are using version 6.4 of the FRK (i.e. two version behind). Looking at
sp_BlitzCache v6.6, I can see new BEGIN END blocks around some of the
checks, with IF @ExpertMode = 1. So we will look to im

[2018-06-18 11:47] BlitzErik commented on #1629
Hi James,

Unfortunately, we can't rely on something we're looking for being in the first occurrence of an xml path or node. There can be many occurrences that we need to check.

Thanks,
Erik

[2018-06-18 11:53] Jimixter commented on #1629
Hi Erik,

Yes I thought that may be the case. We were just surprised how much of a
difference this made to the query plan and performance.

Thanks for your help.

James

On 18 June 2018 at 12:47, BlitzErik <notifications@github.com> wrote:

[2018-06-18 12:12] BlitzErik commented on #1629
In a year or so when we no longer have to support 08 and 08R2, I may revisit [selective XML indexes](https://brentozar.com/archive/2016/12/selective-xml-indexes-not-bad/).

The trouble is that sometimes creating them takes as long as just running the query, and we have many different paths to explore, so choosing the right one(s) would be quite an exercise.

[2018-06-18 15:20] #1623 closed

[2018-06-18 16:35] stgioia opened #1638 "Add @IgnorePrioritiesBelow and @IgnorePrioritiesAbove to sp_blitzFirst"
Current version:
SET @Version = '6.5';
SET @VersionDate = '20180501';

Self-explanatory title. Maybe we could @IgnorePrioritiesBelow and @IgnorePrioritiesAbove parameters for sp_blitzFirst (similar to sp_Blitz).

[2018-06-18 17:20] BrentOzar commented on #1638
Sure, makes sense. You can probably pretty much copy paste the logic out of sp_Blitz if you want. In there, I’m not really skipping the checks - just not showing the output to the end user. I would understand if you want to skip running the checks altogether, but that’d be a lot more work - your call, either way that you want to code it is fine.

---
Tiny glass keyboard
Typos flowing like rivers
A

[2018-06-18 18:07] stgioia commented on #1638
Well, since there are quite a few heavyweight checks I was thinking about
skipping it, but I'll evaluate how much work needs to be done.

Thanks

On Mon, Jun 18, 2018, 18:20 Brent Ozar <notifications@github.com> wrote:

[2018-06-19 02:09] ubidev commented on #1630
I was afraid you'd gently nudge me in that direction lol
Guess I'll finaly start contributing to a project after all :)
I'll tackle this later this summer on my spare time.
So please keep this thread open.

[2018-06-19 04:44] william001 opened #1639 "Install_All_Scripts.sql contains outdated version of sp_BlitzCache"
The zip file available for download on the website has version 6.6 (date: 20180601) in the sp_BlitzCache.sql file but the Install_All_Scripts.sql file has version 6.5 (date: 20180501).

[2018-06-19 04:48] william001 opened #1640 "sp_BlitzCache: Target string size is too small to represent the XML instance"
Applies to: sp_BlitzCache version 6.5 & 6.6

When running exec sp_BlitzCache @SortOrder = 'cpu', on SQL Server 2014 Web edition, I get the following error:
**Msg 6354, Level 16, State 10, Procedure sp_BlitzCache, Line 3504 [Batch Start Line 0]
Target string size is too small to represent the XML instance**

Here is the full list of messages generated:
Checking @MinutesBack validity.
Creating temp

[2018-06-19 11:05] BlitzErik commented on #1640
This was also reported in #1624 and fixed in dev. It's helpful to search closed issues before filing new ones.

Thanks!

[2018-06-19 11:05] #1640 closed

[2018-06-19 11:40] BlitzErik commented on #1633
@jadarnel27 found a repro and it turns out we should be using `dm_os_memory_clerks` instead.

[2018-06-19 13:17] lehase opened #1641 "Install-All-Scripts.sql has a May version"
Hi!
I was pulled June Release from github, and try to update all scripts with Install-All-Scripts.sql
But @VersionDate = '20180501'; is from May release. In single files it's OK, But InstallAllScript is very comfortable to upgrade all stuff.

[2018-06-19 13:18] BrentOzar commented on #1641
Thanks, but before you file an issue, make sure you search past issues. This was already filed and will be fixed in the next release:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/issues/1635

[2018-06-19 13:18] #1641 closed

[2018-06-19 13:55] #1626 closed

[2018-06-19 16:24] BrentOzar opened #1643 "sp_Blitz: update Amazon RDS compatibility"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When you run it on Amazon RDS, you get an error:

[code]

**What is the expected behavior?**
We should be skipping those checks on RDS.

**Which versions of SQL Server and which OS are affected by this issue? Did this work in previous versions of our procedures?**
Yeah, worked in previous versions, but

[2018-06-19 16:40] #1643 closed

[2018-06-19 17:06] #1633 closed

[2018-06-20 13:17] BlitzErik commented on #1610
I like this idea, but what we run into a lot on consulting gigs is DTA indexes with lots of key columns. It's possible for rename to fail if we don't chop the new name to 128 chars.

- Chopped names leave us with a choice
  - Chopped column names with no _Includes indicator
  - Further chopped column names with _Includes indicator

@way0utwest - Do you have any input on which would be preferable?

[2018-06-20 13:50] way0utwest commented on #1610
What I might lean towards is chopping the names at (all columns) - tablename - _Includes

[2018-06-20 13:52] BlitzErik commented on #1610
Maybe a count of columns? `ix_table_name_12_key_columns_and_96_includes`

[2018-06-20 14:23] digitalohm opened #1645 "add @Execute flag for printing commands only"
**What is the current behavior?**

Currently the sp_DatabaseRestore prints lots of info, but sometimes people want to just copy/paste the restore commands.  This does make it easy to see what the script is actually running.  I think it's mostly a trust issue 👯‍♂️

**What is the expected behavior?**

Per our discussion on slack, adding the `@Execute` flag can accomplish this.  When set to `Y` (whic

[2018-06-20 16:24] digitalohm commented on #1645
I pushed this to a dev branch on my fork

https://github.com/digitalohm/SQL-Server-First-Responder-Kit/tree/issue-1645

Not sure if it's ready for a pull request.  I'm going to test it on our sandbox performing automated restores for a couple days.

[2018-06-20 21:45] Brianc-DBA opened #1646 "Sp_BlitzCache: XML size issue"
**Do you want to request a *feature* or report a *bug*?**
Bug;  Version 20180601

**What is the current behavior?**
-- This is the output when running the query in the next step:
Checking @MinutesBack validity.
Creating temp tables for results and warnings.
Checking database validity
Checking sort order
Cleaning up old warnings for your SPID
Cleaning up old plans for your SPID
Creating temp tables

[2018-06-20 21:47] #1646 closed

[2018-06-20 22:22] mightymouse84 opened #1647 "Memory Dumps reported by sp_blitz"
sp_blitz is reporting Memory Dumps that happened 11 months ago.
Could there be a default period for reporting these.
I run regularly so I'm well aware of them1

That ain't good. I've had 5 memory dumps between Jul 24 2017  8:30AM and Jul 24 2017  8:44AM!

Version of blitz is sp_Blitz Jun  1 2018 12:00AM

[2018-06-20 22:28] BlitzErik commented on #1647
You can [skip checks](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/README.md#skipping-checks-or-databases) if you don't care about them. Hit the link to view the readme.

If you'd like to change how far back we look for dumps, what period of time makes sense to you?

Adding a configurable period of time to look back would be more work than is worth it, given the number

[2018-06-20 22:51] mightymouse84 commented on #1647
I get email alerts of events like that, so anything over 2 weeks (say I was on holiday and wasn't around to check) isn't really of use. A month would be safe, I guess but everyone's different.
I wouldn't want to skip the check to lose old results as not all servers I audit are mine to 'manage' , I often report findings to others.

Thank you

[2018-06-20 22:53] BlitzErik commented on #1647
Okay, cool. Have a look at the [contributing guide](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md) to get started on how to get your code added to the project.

[2018-06-20 23:09] roy-tate opened #1648 "sp_BlitzIndex - spelling mistake in error message"
**Do you want to request a *feature* or report a *bug*?**
Minor annoyance bug in version 6.5 of sp_BlitzIndex

**What is the current behavior?**

Msg 50000, Level 16, State 1, Procedure sp_BlitzIndex, Line 1483 [Batch Start Line 0]
FOO database failed to process. @Filter only **appies** when @Mode=0 and @TableName is not specified. Please try again.

**If the current behavior is a bug, please prov

[2018-06-20 23:11] BlitzErik commented on #1648
Thanks for letting us know. Did you want to code the fix yourself?

[2018-06-21 08:59] way0utwest commented on #1610
Hmmm, Is this in the case where there are many columns? Or in all cases? I'd like to think that we might have the first one or two most SARGable columns listed and then perhaps the others.

`ix_table_name_CustomerKey_CustomerStatus_12_key_columns_and_96_includes`

[2018-06-21 16:18] mschelstrate commented on #1381
Actually, there are probably many users of sp_BlitzFrist who can't  update all of their SQL Server to CU3 easily, including me.
Can I revert back to an older version to eliminate this error?

[2018-06-21 16:21] BlitzErik commented on #1381
@mschelstrate Actually, you should try updating your FRK. A fix was made to avoid this error back in April, in #1529

[2018-06-23 19:36] BlitzErik opened #1650 "sp_BlitzCache -- Missing Index clickable shows dupes if there are multiple plans"
Bugzilla:

SQL Query Stress has a funny habit of creating multiple plans in the cache if you run unparameterized SQL. The queries will have the same SQL Handle and Query Hash, but different numbers of executions, so I'm using that to differentiate. It's totally possible at some point to have two plans with the same number of executions but I don't have a good way to differentiate that would be 100

[2018-06-23 19:39] #1650 closed

[2018-06-25 09:52] visionthroughdesign opened #1652 "sp_BlitzIndex - Collation Conflict in Azure SQL DB"
**BUG:**
Currently running sp_BlitzIndex on
Database Edition: Premium
Azure SQL Version: Microsoft SQL Azure (RTM) - 12.0.2000.8

**What is the current behavior?**
When running sp_BlitzIndex it fails on Check_id 11: Total lock wait time > 5 minutes (row + page) with long average waits. The following error is presented - Msg 451, Level 16, State 1, Procedure sp_BlitzIndex, Line 2177 - Cannot resolv

[2018-06-25 10:48] ShawnCrocker opened #1653 "sp_databaserestore should use xp_dirtree not xp_cmdshell"
Enumerating UNC folders for backup files fails when no permissions on the share or root folder of the UNC path.

This can happen in some cases where the backup folder is a child of some other non-dedicated share

Imagine a folder `\\server\share\folder1\SQLServerBackups\FULL`
- SQL Server NTFS permissions are introduced (granted) on folder1
- The root folder of the share has some other permissions

[2018-06-25 10:53] ShawnCrocker commented on #1653
I already have this working locally.

Other changes needed
- @BackupPathFull datatype changes to nvarchar(260). Also @BackupPathDiff and @BackupPathLog
- @FileList has depth and file columns added

xp_dirtree doesn't support nvarchar(max) but backup device names are limited anyway to 259 characters as per "Limitations" at https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/sql

[2018-06-25 12:28] BrentOzar commented on #1652
OK, good news and bad news: the bad news is that Azure SQL DB isn't supported. This may not be the only problem you run into as you try different parameters.

The good news is that you can probably fix this if you want - it involves a collation difference between your user database and TempDB. You can fix it by explicitly naming collations on both sides of that query involved, like using the datab

[2018-06-25 14:07] mike-halford opened #1654 "sp_Blitz - not reporting last backups correctly on SQL 2014/2016 Developer Edition"
We are having issues with out two Developer Edition servers.

sp_blitz is reporting Priority 1 (Finding - Backups Not Performed Recently)(Details - Last backed up never) when we can confirm the databases are backup up. This is happening on both the 2014 and 2016 developer editions of SQL Server and for every database on these servers.

[2018-06-25 14:09] BrentOzar commented on #1654
Sorry to hear that! Go ahead and look in the code for the query sp_Blitz is using to check for backups, and then run that on your own servers separately to see what's going on. (Every time I've worked with folks on this, they've either been surprised that the backups weren't really happening, or they had a configuration issue like the database names didn't match in MSDB, or the server names didn't

[2018-06-25 14:13] mike-halford commented on #1654
Can confirm that the following code reports successful backups and backup files are being created.

COALESCE(CONVERT(VARCHAR(12), MAX(bus.backup_finish_date), 101),'-') AS LastBackUpTime
FROM sys.sysdatabases sdb
LEFT OUTER JOIN msdb.dbo.backupset bus ON bus.database_name = sdb.name
GROUP BY sdb.Name

[2018-06-25 14:18] BrentOzar commented on #1654
Keep digging - without seeing the data, I can’t really take this as a bug report because it’s working great here. If you’re on a case sensitive server, for example, pay particular attention to the cases on both the database names AND the server names.

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2018-06-25 14:29] mike-halford commented on #1654
We have subsequently run the procedures again on the servers and this time they are not reporting missing/failed backups. Not sure why but we will continue to monitor.

Thanks

[2018-06-25 14:29] #1654 closed

[2018-06-25 14:33] ShawnCrocker commented on #1630
Neither my SSFRK or Ola's scripts are in master  (both are in a "DBA" database) and just work.
None of the SSFRK scripts have a USE except sp_foreachdb.sql

What do you see as the problem exactly?

[2018-06-25 15:17] visionthroughdesign commented on #1652
Thanks for the response Brent,

Will take a look into it in a few days, I've tried across a few different instances of Azure SQL and same issue. Just seems to be the Aggressive Indexes checks that are failing.

[2018-06-25 16:52] digitalohm commented on #1645
Created pull request https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/pull/1656

[2018-06-26 11:44] #1653 closed

[2018-06-26 11:47] #1645 closed

[2018-06-26 11:53] #1648 closed

[2018-06-26 11:54] BlitzErik commented on #1647
Haven't heard back from you on this, so I'm going to close the issue out for now. If you decide you want to work on it later, feel free to reopen it.

Thanks!

[2018-06-26 11:54] #1647 closed

[2018-06-26 12:51] ShawnCrocker opened #1657 "sp_DatabaseRestore should use CommandExecute throughout"
Change #1436 added CommandExecute but #1181 just uses EXEC(@SomeString)

This brings #1181 code up to #1436 standards

[2018-06-26 14:23] #1657 closed

[2018-06-27 17:04] BlitzErik commented on #1638
@stgioia haven't heard back from you in a while on this. I'm going to close it out for now, but feel free to reopen it when you're ready to work on it. Thanks!

[2018-06-27 17:04] #1638 closed

[2018-06-27 19:54] #1610 closed

[2018-06-28 17:05] kimchipantload opened #1662 "sp_DatabaseRestore sanity check folders with xp_dirtree"
*BUG*
sp_DatabaseRestore v6.7

It appears as though the switch from xp_cmdshell to xp_dirtree has caused an issue with the empty directory detection.

Currently xp_dirtree will return 0 records when the directory is empty, but the script is assuming at least 1 result of NULL, which is the normal result of an empty directory using xp_cmdshell

IF (
		SELECT COUNT(*)
		FROM @FileList AS fl
		) = 1

[2018-06-28 22:30] BlitzErik commented on #1662
Hi! Thanks for letting us know! Couple questions:

1. Were you going to submit a fix yourself?
2. If not, can you let us know what would fix it?

[2018-06-29 12:42] reharmsen opened #1663 "Add a primary key to SqlServerVersions"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
SqlServerVersions does not contain a primary key, this won't allow us to replicate this table through our central DBADA database.

**What is the expected behavior?**
SqlServerVersions should contain a primary key.

**Which versions of SQL Server and which OS are affected by this issue? Di

[2018-06-29 12:44] BrentOzar commented on #1663
I wouldn't add a field since the table's out already in the wild, but you're welcome to add the clustered key. For implementation, you'd just want to either only do it when the table is created, or else add a check for the existing table to see if the key exists, and make sure no duplicate data exists, then add it.

Here's the contributing guide for instructions on making the change:
https://githu

[2018-06-29 12:47] BlitzErik commented on #1663
I disagree -- if you want this modification made, you should create an issue on @jadarnel27 's repo for the project:

https://github.com/jadarnel27/SqlServerVersionScript

[2018-06-29 13:40] reharmsen commented on #1663
@BlitzErik I'll file an issue @jadarnel27 's repo

[2018-06-29 13:41] #1663 closed

[2018-06-29 20:34] kimchipantload commented on #1662
@ShawnCrocker I like the idea of handling both situations. What if, instead of a parameter, we do a check for xp_cmdshell being enabled? If enabled, use it, else use xp_dirtree.

over simplified example

`IF (
	SELECT CONVERT(INT, value_in_use)
	FROM sys.configurations
	WHERE name = 'xp_cmdshell'
) = 1
BEGIN
	PRINT 'use xp_cmdshell'
END
ELSE
	PRINT 'xp_cmdshell not enabled. using xp_dirtree'`

[2018-06-30 14:57] BrentOzar opened #1664 "sp_Blitz - don't alert on WITH RECOMPILE for sp_AllNightLog%"
**Do you want to request a *feature* or report a *bug*?**
Feature: Stealthiness

**What is the current behavior?**
Check 78 (Stored Procedure WITH RECOMPILE) reports that:

[master].[dbo].[sp_AllNightLog]   has WITH RECOMPILE in the stored procedure code, which may cause increased   CPU usage due to constant recompiles of the code.

**What is the expected behavior?**
Ignore our terrible code.

[2018-06-30 15:43] BlitzErik opened #1666 "sp_BlitzCache: add SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;"
Just to be safe, I want to add this to queries that touch system views and global temp tables.

[2018-06-30 15:57] #1664 closed

[2018-06-30 15:57] #1666 closed

[2018-07-03 00:51] ubidev commented on #1630
Sorry for the delay, was in vacation.
If you look at the following installation script https://raw.githubusercontent.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/dev/Install-All-Scripts.sql

then search for "master", you'll come accross the following comment for a starter:

[2018-07-03 00:52] BrentOzar commented on #1630
Oh sure, so it's just a documentation change? If that's the only thing you need, you can do that pretty easily, right? Is there anything else you need changed?

[2018-07-03 01:35] ubidev commented on #1630
I was just answering the previous poster, in the hope that I didn't need to quote the full code under the comment...
Now since that attempt obviously failed, here it is...
``

[2018-07-03 01:36] BrentOzar commented on #1630
OK, no problem - to contribute the change, please follow the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

If that's something you want to tackle, feel free to go for it! Otherwise we'll close this if we don't hear back from you.

[2018-07-03 06:38] ShawnCrocker commented on #1630
ah, I don't use Install-All-Scripts.sql so I wouldn't have seen this.
I would suggest that that the checks confirm "in the same database" instead of "in master"

[2018-07-03 11:54] VasylPavuk opened #1668 "sp_BlitzQueryStore bug"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Msg 50000, Level 15, State 10, Procedure sp_BlitzQueryStore, Line 2057 [Batch Start Line 0]
FlexService_HelloFlexPeople database failed to process. 'TRY_CONVERT' is not a recognized built-in function name.

SQL Server 2016 SP1 Build 9600
Database in compatibility mode 100

[2018-07-03 12:54] VasylPavuk commented on #1668
Thank you

Вт, 3 лип. 2018, 15:26 користувач BlitzErik <notifications@github.com> пише:

[2018-07-03 14:13] vdaya commented on #1347
Hi Brent
I had the same problem and noted a couple of things...
1. The sp_BlitzFirst does not always create the "BlitzFirst_PerfmonStats_Actuals" view. I followed same setup process on two servers in an AlwaysOn pair. The secondary created has the view but the primary doesn't.  So I created it manually on the primary... however, it runs really slow now when doing a data refresh.
2. Although I run

[2018-07-03 14:28] BrentOzar commented on #1347
@vdaya if you have issues, please create a new issue. Create one separate issue per problem that you're running into. You may also want to chat in the #FirstResponderKit channel at http://sqlslack.com - when you have usability problems, that can be a little quicker to avoid back-and-forth problems.

[2018-07-03 15:44] BrentOzar opened #1669 "sp_Blitz - change Instance Stacking warning wording"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Check 212 says "Your Server has 2 Instances of SQL Server running. More than one is usually a bad idea. Read the URL for more info"

But that's not really true. We're just checking to see if the instances are installed, not necessarily running.

**What is the expected behavior?**
Change wording to say

[2018-07-03 21:10] lionicsql opened #1671 "Feature Request: sp_RestoreDatabase: Allow restore standby for full and differential database restore"
Currently the standby parameters:
@StandbyMode, @StandbyUndoPath are used to affect @LogRecoveryOption and are ignored otherwise.
Adding the standby options to @sql will make the behavior consistent for log, differential and full restores.

[2018-07-03 21:32] marcingminski opened #1672 "sp_DatabaseRestore fails to restore from multiple (split) backup files"
Hello lovely folks, sorry I have found a bug or a now known limitation, depends how you look at it :)

### sp_DatabaseRestore version:
6.7

### What is the current behavior?
When restoring databases that has been backed up to multiple (split) files the procedure fails with the following error:
[code]

### Steps to reproduce:
1. Backup database using Olla Hallengren's solution with @NumberOfFiles s

[2018-07-03 21:36] BlitzErik commented on #1672
Yep, this is just a limitation. If you'd like to code the feature, you're more than welcome to. We don't use this procedure enough to code it ourselves.

[2018-07-03 23:46] BlitzErik commented on #1671
This is a good idea! Thanks.

To get the obvious stuff out of the way: were you planning on coding this, or did you want someone else from the community to do it?

[2018-07-04 19:50] reharmsen opened #1673 "@StandbyMode = 1 in sp_Databaserestore is broken"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.
Version = '6.7';
VersionDate = '20180701';

**What is the current behavior?**
@StandbyMode = 1, does not properly set @LogRecoveryOption, and therefore the restore always uses NORECOVERY

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http://sqlfiddle

[2018-07-04 19:52] reharmsen commented on #1673
Can be fixed by changing 'IF @Execute = 'Y'..... '  into:

			BEGIN
				IF @Execute = 'Y' OR @Debug = 1 RAISERROR('The file path of the undo file for standby mode was not specified. Logs will not be restored in standby mode.', 0, 1) WITH NOWAIT;
			END;

But there might be other stuff broken in the procedure to.

[2018-07-04 19:58] BrentOzar commented on #1673
Thanks for reporting it! We don't use this stored proc actively as a company - we're just maintaining the open source repo - so you're welcome to submit bug fixes, and talk about them with the community here.

Here's the contributing guide that explains how to get started with contributing your fixes:
https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

If you

[2018-07-04 20:19] reharmsen commented on #1673
See PR #1674

[2018-07-05 13:20] lionicsql commented on #1671
I have a fix working locally. I'd be happy to work on a pull request!

On Tue, Jul 3, 2018, at 6:47 PM, BlitzErik wrote:

Links:

  1. https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/issues/1671#issuecomment-402322497
  2. https://github.com/notifications/unsubscribe-auth/Am6o7p4nPRZAI573uemgIlRC6wkqPRfNks5uDAJ3gaJpZM4VBocr

[2018-07-05 13:57] ShawnCrocker commented on #1662
I'll do it. Summary:
- new parameter @SimpleFolderEnumeration bit default = 0
- if set to 1 or xp_cmdshell disabled, use my new code and skip checks

[2018-07-05 13:58] BlitzErik commented on #1662
You're the man, man.

[2018-07-05 19:16] ChrisTuckerNM opened #1676 "Bug: Msg 9420 Procedure sp_BlitzFirst Line 3147 illegal xml character"
Details:
Server 2016 clustered VM Single Host. Build 14.0.3025.34
Processors 8 Memory: 40GB

Messages including error and procedure command

EXEC sp_BlitzFirst
  @OutputDatabaseName = 'admin',
  @OutputSchemaName = 'dbo',
  @OutputTableName = 'BlitzFirst',
  @OutputTableNameFileStats = 'BlitzFirst_FileStats',
  @OutputTableNamePerfmonStats = 'BlitzFirst_PerfmonStats',
  @OutputTableNameWaitStats =

[2018-07-05 19:32] ChrisTuckerNM commented on #1676
Output of: EXEC dbo.sp_BlitzFirst @Seconds = 5, @OutputXMLasNVARCHAR = 1

Priority	FindingsGroup	Finding	URL	Details	HowToStopIt	QueryText	QueryPlan
0	sp_BlitzFirst 2018-07-01 00:00:00.0000000 +00:00	From Your Community Volunteers	http://FirstResponderKit.org/	<?ClickToSeeDetails --   We hope you found this tool useful.   -- ?>	NULL	NULL	NULL
1	Query Problems	Long-Running Query Blocking Others	htt

[2018-07-05 20:42] BlitzErik commented on #1676
When you have a moment, can you try the version here, and let me know if this fixes the issue?

https://gist.github.com/BlitzErik/9d91300c5f52ea8b4d18d0162a41d196

Thanks!

[2018-07-06 09:44] ShawnCrocker opened #1678 "Reformat sp_DatabaseRestore"
A minor change but doing this in a feature change will generate too many changes in the pull request

- fix line endings to Windows CRLF (currently *nix LF)
- trim trailing spaces
- indent code to follow nesting level
- remove some blank lines
- ...and whatever I see

[2018-07-06 14:11] lionicsql commented on #1671
PR #1675 added.

[2018-07-07 14:15] #1669 closed

[2018-07-07 14:15] #1662 closed

[2018-07-07 14:17] #1673 closed

[2018-07-07 14:17] #1671 closed

[2018-07-09 11:43] ChrisTuckerNM commented on #1676
@BlitzErik , That worked in test and production.

Thanks

[2018-07-11 06:58] jeffchulg opened #1679 "Procedure parameter OutputType - "NONE" without output"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.

feature

**What is the current behavior?**

sp_Blitz has the ability to set a value of `NONE` to its parameter `@Ou

[2018-07-11 07:35] jeffchulg opened #1680 "sp_BlitzFirst - Add @CheckServerInfo parameter (default value: 1)"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.
Feature

**What is the current behavior?**
No way to tell sp_BlitzFirst not to return server information in its data

[2018-07-11 09:30] BrentOzar commented on #1680
Sure, sounds good - as long as the parameter is the same as sp_Blitz, takes the same inputs, has the same behaviors, and defaults to the same thing it does today (outputting server info), this makes sense.

This does mean that the two procs will have different default behaviors:

- sp_Blitz CheckServerInfo defaults to 0
- sp_BlitzFirst CheckServerInfo (new) would need to default to 1 - that way it

[2018-07-13 05:54] ShawnCrocker opened #1681 "sp_DatabaseRestore @RestoreDiff = 0 should set @BackupPathDiff to NULL"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When @BackupPathDiff is specified and no file is found an error is thrown.
Even when @RestoreDiff = 0

It's perfectly reasonable to not find any DIFFs, and in any case we shouldn't enumerate @BackupPathDiff when @RestoreDiff = 0

**If the current behavior is a bug, please provide the steps to reproduce

[2018-07-13 09:30] BrentOzar commented on #1681
Makes sense. If you want it to run automatically, option 3 is good because sometimes it'll run and just not happen to find diffs.

[2018-07-14 10:57] BrentOzar commented on #1652
This morning, I tried repeatedly to reproduce this, and I haven't been able to. If you want to work on it again at some point, feel free to reopen the issue. Thanks anyway!

[2018-07-14 10:58] #1652 closed

[2018-07-14 11:00] BrentOzar opened #1682 "Updating copyright dates"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Our scripts are wearing last year's pants.

[2018-07-14 11:12] BrentOzar commented on #1680
I went ahead and coded this one since it's pretty easy. Hope that helps!

[2018-07-14 11:13] BrentOzar commented on #1679
Jeff - did you want to work on this, or do you want us to close it?

[2018-07-14 11:14] BrentOzar commented on #1678
Normally we go all ☹️  when people try that, but it makes sense here since you're doing a lot of maintenance on it. I know I like maintaining stuff more when it's formatted the way I like too, hahaha. I don't think anybody else has active work pending on this proc, so you can reformat it and do a PR whenever works for you. Thanks sir!

[2018-07-17 05:57] jeffchulg commented on #1680
Hi Brent,

this is a way to do it.

Thanks!

By the way, do I need to close this thread or will you do it?

[2018-07-17 05:58] jeffchulg commented on #1679
Hi Brent,

I will take care of the development of this as soon as possible.

[2018-07-17 09:23] BrentOzar commented on #1680
You're welcome. It'll get closed when Erik merges this code later this month.

[2018-07-17 11:47] BrentOzar opened #1685 "sp_BlitzIndex: split heap forwarded-fetch and deleted-records into 2 warnings"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Right now, if a heap has either forwarded fetches or deletes, we're throwing the same alert. We don't usually take immediate action on heaps with deletes - that doesn't necessarily indicate a problem, because they might have had inserts to go along with it, and there may not be a page density probl

[2018-07-17 13:47] BrentOzar commented on #1685
Code to test the new changes:

[code]

[2018-07-17 22:01] josh-simar opened #1687 "sp_Blitz AD as linked server shows blank"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When you have AD configured as a linked server that line shows as empty in the Details column because the ASsDSOObject does not have a data source in the data_source column.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http

[2018-07-17 23:04] #1685 closed

[2018-07-17 23:05] #1687 closed

[2018-07-18 12:37] Adedba opened #1689 "sp_BlitzFirst - Request to add memory grant and query workspace information to xml clickables"
Would be great to add memory grant and query workspace information to sp_Blitzfirst to show the following information:

Total Query grant in MB
Total Requested Query grant in MB
Total workspace for SQL instance in MB
Granted percentage of total workspace
Reuqested percentage of total workspace
Oldest outstanding grant in seconds
Total Grants outstanding
Total Grants pending

Below is sample code t

[2018-07-18 12:39] BlitzErik commented on #1689
Sweet! Thanks! Were you going to do the coding to add it? Just don't wanna assign you if you're not.

[2018-07-18 12:45] Adedba commented on #1689
Yeah sure! more than happy to code it.

[2018-07-18 12:57] BlitzErik commented on #1689
Awesome, thanks. I've assigned it to you. Make sure to read the [Contributing](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md) guide. I'll leave off a milestone for now. No pressure.

[2018-07-18 18:46] marcingminski commented on #1672
Hi @BlitzErik, apologies for the delay but testing also revealed another bug with `@StandbyMode` which is simply omitted and always runs WITH NORECOVERY. Adding BEGIN and END as in the below fixes the issue. I will raise this as new issue and submit a separate fix.

[code]

this seems to work OK so far:
[code]

[2018-07-18 18:54] marcingminski commented on #1672
ah, already addressed, good deal :)

[2018-07-20 21:02] AGSHoward opened #1691 "Resolution: PowerBI "key didn't match" error"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.

Bug with PowerBI template as posted on github from May 28th

**What is the current behavior?**
When you first load

[2018-07-20 21:04] BrentOzar commented on #1691
OK, just to be clear - you're not proposing a change to the Power BI doc, just explaining how you fixed this on your system? (I'm guessing you're using a different database name, perhaps? It's not clear what the issue was on your system.)

[2018-07-20 21:14] AGSHoward commented on #1691
Correct, I used a database name of FirstResponderKit and a FQDN for the server instance. The job references that database and all of the First Responder sprocs and views are in that database. So nothing outside the ordinary from the details of deployment per your doc, it all works bar those two queries in PowerBI.

Totally agree could be peculiar to my system, hence not proposing you change anythi

[2018-07-23 18:34] MrTCS commented on #1598
Erik,

I got busy with some stuff and missed the notifications for this.  I'm not specifically talking about blocking here, just SPIDs with an open transaction but are sleeping.  I found a little bit of time to look into it and the problem is with dm_exec_requests only showing active sessions.  I believe a join to dm_tran_session_transactions would solve this issue.

Haven't worked with GIT but I

[2018-07-23 19:04] BlitzErik commented on #1598
Cool, I'm open to the change! Just give a holler when you've got something you're ready to show us.

If you need help, the [#FirstResponderKit Slack channel](https://sqlcommunity.slack.com/messages/firstresponderkit/) is usually faster.

If you need a free invite, hit [SQLslack.com](http://SQLslack.com/).

[2018-07-26 11:08] btammenga opened #1694 "sp_BlitzLock fails when a Indexname [<Name of Missing Index, sysname,>] is involved"
Bug using sp_BlitzLock  v 1.7

Following errormessage is shown:
Msg 9415, Level 16, State 1, Procedure sp_BlitzLock, Line 170
XML parsing: line 66, character 95, well formed check: no '<' in attribute value

After diving into the code of sp_BlitzLock i found that the error occurs on the following part (Line 174):
SELECT CONVERT(XML, event_data) AS deadlock_xml
             FROM   sys.fn_xe_file_ta

[2018-07-26 11:58] BlitzErik commented on #1694
This is a general bug with how Microsoft handles the xml: https://feedback.azure.com/forums/908035-sql-server/suggestions/33731290-correctly-escape-predefined-entities-in-deadlock-x

[2018-07-26 11:58] #1694 closed

[2018-07-26 21:29] josh-simar opened #1695 "sp_Blitz Check 86 Arithmetic Overflow"
**Do you want to request a *feature* or report a *bug*?**
Bug - Version from 7/19/2018

**What is the current behavior?**
Msg 220, Level 16, State 1, Line 7
Arithmetic overflow error for data type smallint, value = 34994.

Have a member_principal_id over 32,767

**What is the expected behavior?**

Not error on this check. The issue seems to stem from the fact that the query is still using the sysm

[2018-07-31 19:12] alekseybochkov opened #1697 "sp_BlitzIndex - partitions check"
Seems like the script checks for total partition count even when it is being executed for a single table.
Does it seem reasonable to add filter by current table in this check?
Here is an example when script fails for non-partitioned table.
`EXEC master.dbo.sp_BlitzIndex @DatabaseName='bizproj', @SchemaName='dbo', @TableName='userLastEvent'`
[code]

[2018-07-31 19:17] BlitzErik commented on #1697
Sure, sounds good. Did you wanna code this yourself?

Thanks!

[2018-08-02 11:39] MisterZeus opened #1698 "sp_Blitz - new check to find SQL Modules created with ANSI_NULLS / QUOTED_IDENTIFIER OFF"
**Do you want to request a *feature* or report a *bug*?**
Feature: New check to find SQL Modules (views, sprocs, functions, etc.) that have accidentally been created with ANSI_NULLS OFF or QUOTED_IDENTIFIER OFF. Creating objects with these settings OFF is dangerous because if you ever want to add a filtered index or other advanced features to tables used within the objects, they will break.
For ex

[2018-08-02 11:51] BrentOzar commented on #1698
Neat idea! Sure, that sounds like a great code contribution. Here's our contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

Just be careful in the error warning - a lot of folks will read this and say, "This looks safe, I'll just run that recompile code," and then something can break. You don't want the warning to look like it's complet

[2018-08-03 13:52] MisterZeus commented on #1698
After thinking about it, I think I best *not* give people any T-SQL to run, as this should be an object-by-object fix, best left up to the users.

Was instead going to show a "summary" per DB, that would say something like "Your XXXX database has 99 objects that were created with dangerous ANSI_NULL or QUOTED_IDENTIFIER options. These objects can break when using filtered indexes, indexed views an

[2018-08-03 16:55] BlitzErik commented on #1698
I'd probably put priority at 100 or 150. Findings would be performance it sounds like?

Anyway, I'm cool with the summary, but what we'd wanna do is set up a URL (if you have a blog, we can point a go code at it), or have you write up some information on why they're bad settings to put on our site, along with the query to find which modules have these settings.

[2018-08-10 13:27] #1676 closed

[2018-08-10 13:29] #1695 closed

[2018-08-10 13:49] BlitzErik opened #1703 "sp_BlitzFirst - Divide by zero error in memory analysis"
Hit this with a client last week. Turned out that their workspace memory / 1024 was 0. Heh!

[2018-08-11 14:40] BlitzErik opened #1705 "sp_BlitzIndex - Overall check for NC index counts"
I've noticed in a couple places where we tally NC indexes, we don't filter out disabled and hypothetical indexes. Need to do a once over to make sure we take those into account where possible.

[2018-08-11 14:43] BrentOzar commented on #1705
Ooo, wow, really good catch.

On Sat, Aug 11, 2018 at 7:40 AM, BlitzErik <notifications@github.com> wrote:

--
Brent Ozar
Brent Ozar Unlimited <https://www.brentozar.com/>
Our new SQL ConstantCare®
<https://www.brentozar.com/product/sql-constantcare/> turns you into a
database expert.

[2018-08-11 14:51] BlitzErik opened #1706 "sp_BlitzCache - Warn about compilation metrics"
We collect compile time, CPU, and memory from plan XML. I would like to warn on when these metrics are "high".

What's high? Great question!
 - For compile time or CPU, we flag anything over 5 seconds in sp_BlitzQueryStore
 - For compile memory, maybe anything > 1% of max server memory?

Feel free to discuss!

[2018-08-11 14:57] BlitzErik opened #1707 "sp_BlitzCache -- Skip checks on certain plan sizes?"
We collect the `Cached Plan Size (KB)` for each plan, but we do it kind of late in the game.

If we move this up, we could skip over large plans (> 512 KB?) which are an XML nightmare.

Ideas:
 - Only analyze these if `@ExpertMode = 1`
 - Supply a specific command to focus on this one plan
 - Both?

[2018-08-12 12:36] BlitzErik opened #1708 "sp_BlitzFirst -- Wait stats queries/Ignorable waits"
Right now, the first and second pass queries that look at wait stats filter out a static list of ignorable waits.

We should be using the global temp table that gets built, like this:

[code]

[2018-08-12 12:37] BrentOzar commented on #1708
SMART.

[2018-08-13 01:53] rabryst commented on #1706
1% of max server memory is probably fine assuming that setting has been configured. I'd also do a fixed lower bound for servers with under 128 GB physical RAM, of say 1 GB. Then for 2016+, replace with info from that DMV.

[2018-08-13 21:35] gephartr opened #1710 "dacpac based deployment - VS SSDT project"
I work at a shop where all of our database code is in SSDT projects and are deployed incrementally through the sqlpackage/msbuild/tfs methods.  I have had my own maintenance project for a decade or so, but it is far easier to stay current by using the great code of the community.  My first step was replacing my own indexing/consistency checks with Ola's - and I would like to replace my performance

[2018-08-13 21:48] BrentOzar commented on #1710
That's a great question. The tough part is that we need to be able to deploy the updated scripts every month in as little time as possible. Is there an automated way that we could do this without anyone else's involvement?

(I'd hate to have people get hooked on it, and then if you're busy or on vacation, have the monthly release get delayed. I'd also hate to have an out-of-date deployment kit sit

[2018-08-14 02:28] gephartr commented on #1710
"Is there an automated way?"  Sure - scripting will let you do anything you want to do, assuming the proper tooling is available.

"In as little time as possible."  So, there is nothing faster than just executing a script.  The question is, how fast is fast enough - and do the benefits outweigh the difference in deploy time.  So, say that you can deploy the script in 50 ms and a dacpac deploy woul

[2018-08-14 11:59] BrentOzar commented on #1710
So what you're saying is, we need to start doing the additional process. That's the part where I need to hit the brakes - we already do a ton of volunteer work for the community, and we can't take on additional work as part of a monthly release process at this time. If it isn't an automated solution that doesn't require additional work on our part, then we need to take a pass.

That's totally okay

[2018-08-14 11:59] #1710 closed

[2018-08-14 14:48] #1708 closed

[2018-08-14 14:49] BlitzErik commented on #1706
@rabryst Yeah, was thinking total server memory or max server memory, whichever is lower. That work?

[2018-08-14 17:51] BrentOzar opened #1712 "sp_BlitzIndex - shows duplicate keys alert for indexes in different databases"
**Do you want to request a *feature* or report a *bug*?**
Bug. Not really big bug, like a West-Nile-infested Miami mosquito, and not even a cockroach. Just one of those insects where you go, "Oh hey, I don't really want you in the house, but I'm going to watch you hang out for a minute." Maybe like a ladybug.

**What is the current behavior?**
If you have 2 databases where object IDs are the same

[2018-08-14 19:40] JulieOKC opened #1713 "sp_Blitz - Add information if connected to an Availability Group"
**New Feature**
**What is the current behavior?**
No information is listed about AGs

**Which versions of SQL Server and which OS are affected by this issue?**
I've run the following code against SQL 2005 - 2016, some containing SQL AGs of SQL 2012, 2014 & 2016.

--------------------- Code Below --------------------------
-- Will notify user if the server is an Availability Group server and if the

[2018-08-14 19:42] BlitzErik commented on #1713
You would have to make this dynamic to make sure that those views and columns exist. We still have to support 2008/R2 for another year.

[2018-08-14 19:54] BlitzErik commented on #1705
I ended up making some cosmetic changes in here while I was digging
 - Lined up some elements of the script
 - Added recompile hints
 - Formatted long one liners
 - Added semicolons

Lessons learned: any query to #IndexSanity alone has to be filtered for hypothetical and disabled, but any that join to #IndexSanitySize don't because those don't have a size.

[2018-08-15 17:36] TaraKizer opened #1716 "FORCED PARAMETERIZATION on/enabled in two findingsgroup"
**Do you want to request a *feature* or report a *bug*?**
BUG - when FORCED PARAMETERIZATION is enabled, sp_Blitz will report it in the "non-default database config" section and in the "Performance" section. Probably just need it in the "non-default database config" section.

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/16884153/44162982-cebedc80-a076-11e8-9

[2018-08-15 18:18] JulieOKC commented on #1713
Need to remove the @@ServerName, from the first SELECT statement and '', from the second.

[2018-08-16 12:44] RichBenner commented on #1712
I've made a test case for this and tried to replicate it but it's not reporting the issue you mentioned. Could you share the parameters that might be causing this?

[2018-08-16 12:45] BrentOzar commented on #1712
It's sp_BlitzIndex @GetAllDatabases = 1, @Mode = 4.

[2018-08-16 12:46] RichBenner commented on #1712
Yeah, that's what I've been trying but it's not showing the issue on mine. I'll keep working to see if i can replicate.

[2018-08-16 12:46] BrentOzar commented on #1712
(And I totally agree - a straightforward repro isn't doing it, but we've got the data seeing it in action, so I just gotta figure out what the underlying data is that's causing it. Not sure what yet. I wish I could share the client data, but can't do that.)

[2018-08-16 12:47] RichBenner commented on #1712
Totally understood. I've got quite a few development servers that have duplicated object id's (copies of the same backup for testing) so i'll test it on any I can find. Hopefully narrow it down if I can find one of the little buggers

[2018-08-16 15:50] TheUsernameSelectionSucks opened #1719 "sp_Blitz - Table in model database reports as msdb database"
**Do you want to request a *feature* or report a *bug*?**
BUG
Script version sp_Blitz Aug  1 2018 12:00AM

**What is the current behavior?**
I have a table in the "model" database, but the DatabaseName columns says "msdb" database, as the "Finding" column reports.

![image](https://user-images.githubusercontent.com/26902750/44219393-828c9e80-a141-11e8-941a-c03befeff446.png)

**If the current behav

[2018-08-17 11:06] RichBenner commented on #1719
it's a typo at line 2079

    SELECT  29 AS CheckID ,
    'msdb' AS DatabaseName ,
    200 AS Priority ,
    'Informational' AS FindingsGroup ,
    'Tables in the Model Database' AS Finding ,

[2018-08-20 19:24] osumatt opened #1721 "sp_BlitzWho -- 2017 Memory grants"
Version = '6.8'

Current Behavior:  Much like #1402, sp_BlitzWho also needs updated for SQL Server 2017.  Sadly, all the cool memory grant columns are missing :(

Expected Behavior:  All the cool memory grant columns are returned!

I will create a pull request.

[2018-08-20 19:26] BlitzErik commented on #1721
Did you run it with expertmode = 1?

On Mon, Aug 20, 2018, 3:24 PM osumatt <notifications@github.com> wrote:

[2018-08-20 19:28] osumatt commented on #1721
I did!  I am making the PR in a few.  The change that needs made is:

SELECT @EnhanceFlag =
	    CASE WHEN @ProductVersionMajor = 11 AND @ProductVersionMinor >= 6020 THEN 1
		     WHEN @ProductVersionMajor = 12 AND @ProductVersionMinor >= 5000 THEN 1
		     WHEN @ProductVersionMajor = 13 AND	@ProductVersionMinor >= 1601 THEN 1
			 **WHEN @ProductVersionMajor > 13 THEN 1**
		     ELSE 0
	    END

[2018-08-20 21:03] rabryst commented on #1706
Yup.

[2018-08-21 11:13] philipthatcher opened #1723 "Feature request: Can sp_Blitz include the details of the SQL Server version and edition in it's 'informational' output?"
**Do you want to request a *feature* or report a *bug*?**
Feature request:

Can sp_Blitz include the details of the SQL Server version and edition in it's 'informational' output?
i.e The output of SELECT @@VERSION.

I run sp_Blitz across an estate of SQL servers of different versions and editions, and this addition would be useful in the output.

[2018-08-21 11:30] BrentOzar commented on #1723
Have you tried @CheckServerInfo = 1? I wanna say it’s in there along with a lot of other informational, non-urgent stuff.

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2018-08-21 12:16] philipthatcher commented on #1723
I hadn't, but have now.  This certainly generates more useful output, including the SQL version number - which I can use.  Thx.

I've just run the latest sp_Blitz @CheckServerInfo = 1 against
Microsoft SQL Server 2012 (SP3) (KB3072779) - 11.0.6020.0 (X64)
	Oct 20 2015 15:36:27
	Copyright (c) Microsoft Corporation
	Enterprise Edition (64-bit)
and the text "2012" is not present in the sp_Blitz outpu

[2018-08-22 16:53] BlitzErik opened #1724 "sp_BlitzCache -- parse index spools to make missing index requests"
This ^

[2018-08-23 11:10] BrentOzar commented on #1719
Thanks, fixed!

[2018-08-24 18:19] dalehhirt opened #1727 "Ignore_Database in Restore_Worker table is not used."
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.
This is using the latest version.

**What is the current behavior?**
It does not honor the ignore_database field in

[2018-08-25 21:57] EmanueleMeazzo opened #1729 "[PowerBi] Feature Proposal: Agent Jobs Report"
**Do you want to request a *feature* or report a *bug*?**
I was working on a new report page for the PowerBi Dashboard (I have a few ideas for it), but at a certain point I wondered if it made any sense for the existing dashboard, so I wanted your opinion before refining stuff for public release.

The new report page would track in a visual way all the Job/JobStep information, such as which step f

[2018-08-26 13:11] BrentOzar commented on #1729
Ooo, that looks like a really neat idea! But yeah, I'd create a separate standalone report for this, and same thing with the stored procedure.

[2018-08-26 13:21] #1705 closed, assigned to nobody

[2018-08-26 13:28] #1719 closed

[2018-08-26 13:29] #1727 closed

[2018-08-26 13:31] BlitzErik commented on #1712
Is this still active?

[2018-08-26 13:34] BlitzErik commented on #1630
@ubidev we haven't heard back from you in a while on this, so I'm going to close it out. Feel free to reopen when you're ready to work on it.

Thanks!

[2018-08-26 13:34] #1630 closed

[2018-08-26 13:35] BlitzErik commented on #1713
@JulieOKC I know you worked with Brent a little on this -- gonna close it out until you're ready to pick things back up.

Thanks!

[2018-08-26 13:35] #1713 closed

[2018-08-26 14:14] #1724 closed

[2018-08-26 14:38] BlitzErik commented on #1729
@EmanueleMeazzo I have some code written that we use to look at agent job and maintenance plan history. If you'd like it to use here, let me know and I'll paste it into a gist.

[2018-08-26 15:30] BlitzErik commented on #1706
Taking a slightly different approach to this. The plan XML has a `MaxCompileMemory ` attribute that I think I'm going to use instead.

[2018-08-26 16:42] BlitzErik commented on #1707
The largest plan I can find in my cache currently is about 1500kb

[code]

BlitzCache can analyze it in 1 second/3 seconds depending on expert mode.

[code]

With bigger plans on crappier servers, this would likely get worse, but since expert mode is 0 by default, and if you're running in expert mode you're likely aware of the impact, I'm going to skip this one for now.

[2018-08-26 16:42] #1707 closed

[2018-08-26 16:49] JulieOKC commented on #1713
Have the script ready. Planned on uploading today.

[2018-08-26 18:27] JulieOKC commented on #1713
I believe I have uploaded the change, but am not sure how to check. Can you verify?

[2018-08-27 12:40] #1721 closed

[2018-08-28 13:03] incantius opened #1731 "*feature request* add @sortorder='QueryPlanCost'"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if

[2018-08-28 13:04] incantius commented on #1731
left out that this was on sp_BlitzCache

[2018-08-28 13:07] BrentOzar commented on #1731
Unfortunately, that's a no-go because it would involve querying the XML for every plan in the cache:

https://www.scarydba.com/2017/02/20/estimated-costs-queries/

[2018-08-28 13:07] #1731 closed

[2018-08-28 14:15] jadarnel27 commented on #1731
@BrentOzar Based on the timing of comments here, I'm not sure if you saw the issue author's second comment.  I could be missing something obvious here, but isn't that what BlitzCache does (query the XML for every plan in the cache)?

[2018-08-29 01:26] BlitzErik commented on #1723
Haven't heard back from you in a while, so closing this out. If you decide you want to work on it later, feel free to reopen the issue.

[2018-08-29 01:26] #1723 closed

[2018-08-29 02:02] BlitzErik opened #1732 "sp_BlitzCache - incorrect missing index counts"
Randomly figured this out.

[2018-08-29 02:03] #1732 closed

[2018-08-29 07:10] EmanueleMeazzo commented on #1729
@BlitzErik sure, let's not reinvent the wheel 👯‍♂️

[2018-08-29 12:57] BlitzErik commented on #1729
@EmanueleMeazzo here you go: https://gist.github.com/BlitzErik/dff0556c7aa1997dd304c9229bef88f4

It's kinda ugly, so let me know if you need any help with it. There may be more interesting stuff in the maintenance plan XML to pull out, too. I haven't revisited it in a while.

[2018-08-30 15:45] BlitzErik commented on #1352
I figured this out by accident.

We can resolve this by deleting out of the global temp table immediately after inserting to `#p` like this:

[code]
Doing this has the added bonus of leaving us with far fewer plans to analyze the XML for, that we don't end up using anyway. The proc runs much faster overall.

The downside is that we no longer show individual statements from inside stored procedures

[2018-08-30 15:47] BrentOzar commented on #1352
I'm so torn. I really, really like showing the individual statements. Maybe put that in ExpertMode only?

[2018-08-30 16:31] BlitzErik commented on #1352
If you wanna test: https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/pull/1734

[2018-08-30 21:33] BrentOzar opened #1735 "sp_BlitzFirst: don't show poison waits if total wait time < 1 second"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
During extremely low poison wait incidents, like with some quantity of waits but no wait time, you can get:

<img width="676" alt="1" src="https://user-images.githubusercontent.com/245462/44880565-b13a6700-ac61-11e8-85ce-327d8694df90.png">