[2018-08-31 11:29] MisterZeus opened #1738 "sp_Blitz only needs 3 tiny changes to make it run OK in SQL 2005"
**Do you want to request a *feature* or report a *bug*?**
Bug: even though we don't support SQL 2005, we can get sp_Blitz to run OK in it by changing 3 lines of code.

**What is the current behavior?**
Run the sp_Blitz creation script on a SQL 2005 server.

**What is the expected behavior?**
It should create the sp_Blit sproc OK and the sproc should run OK too.

**Which versions of SQL Server and

[2018-08-31 11:29] MisterZeus commented on #1738
Fixed in pull request #1737 !

[2018-08-31 12:40] BrentOzar commented on #1738
Howdy, and thanks for the contribution. Unfortunately, that's not the only change required - when you go to output the data to table, 2005 fails due to the SYSDATETIMEOFFSET we're using. (There are also gotchas around old compatibility levels in user databases, too.)

If these changes make it work well enough for your needs, you're totally okay to keep using it - this is one of the things I love a

[2018-08-31 12:40] #1738 closed

[2018-08-31 13:58] MisterZeus commented on #1738
Ah, makes sense, since there are extra hidden SQL 2005 problems that my limited testing didn't catch...
Thanks for considering it anyway!

[2018-08-31 14:56] #1735 closed

[2018-08-31 15:54] #1352 closed

[2018-08-31 15:55] BrentOzar commented on #1712
Yeah, we've had clients hit it, I just haven't had the time to dig into the analysis of why yet.

[2018-08-31 17:56] TaraKizer opened #1739 "Missing information when running Mode=4 for all databases - M4 tab in CCC"
**Do you want to request a *feature* or report a *bug*?**
Bug - Missing information, such as borderline duplicate key indexes when looking at the M4 tab in the CCC file. When I run Mode=4 manually in a particular database, they show up. The M4 tab has a much shorter list than when run manually for each database.

Compare the Sheet1 info to the M4 tab in 20180823_125000. M4 contains info for 2 data

[2018-08-31 17:57] BlitzErik commented on #1739
I kid, I kid.

[2018-09-04 04:49] pietie commented on #1729
This would be a very nice addition!

Is it possible to include the schedule detail somewhere? For example if I hover over the job I see "Occurs every 5mins".

It would also be useful to have a duration filter. So only show jobs with a duration greater than (x) seconds to reduce the clutter.

[2018-09-04 10:16] gavdraper opened #1741 "sp_AllNightLog/Setup CleanUpTime"
Take in CleanUpTime to sp_AllNightLogSetup and pass that down to sp_AllNightLog to then pass that into Ola's DatabaseBackup script for log retention.

For Example

EXEC sp_AllNightLogSetup @CleanUpTime = 24, @BackupPath......

This will delete log files older than 24 hours assuming a full backup has taken place since then.

I may be missing something and I've never contributed here before but it s

[2018-09-04 11:07] gavdraper opened #1742 "sp_AllNightLogSetup don't create agent jobs for Restore if only being used for backup"
**Do you want to request a *feature* or report a *bug*?**
Feature Request

**What is the current behavior?**
sp_AllNightLogSetup creates agent jobs for both restore and backup even if you're only setting it up for backups and the other way round if you're just configuring a server with it for restore it ends up with the backup agent jobs. I realise there is a switch to have them disabled.

**What

[2018-09-04 11:35] BrentOzar commented on #1742
Yes, because after failover, you may end up doing log shipping going in the other direction. If you don't need the extra jobs, you can delete those after installation.

If you'd like to code this yourself, though, you can: check out the Contributing.md file for how to get started.

If you want to code this yourself, leave a comment here and we'll reopen the issue and assign it to you.

Thanks!

[2018-09-04 11:35] #1742 closed

[2018-09-04 11:36] BrentOzar commented on #1741
Sure, go for it! Here's the contribution guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

[2018-09-05 13:40] RichBenner opened #1744 "sp_Blitz INCLUDES vs INCLUDE"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

This comes out of this week's index tuning class. When running sp_BlitzIndex we see things like this;

INEQUALITY: [Reputation], [UpVotes] INCLUDES: [DownVotes]

Brent mentioned this should be singular and it's a simple typo for the fix. Raised the bug because I'd forget about it if it were me :)

[2018-09-05 13:47] #1744 closed

[2018-09-05 13:47] BrentOzar commented on #1744
WOOHOO! Thanks for doing this, man!

[2018-09-05 15:35] bl4met opened #1746 "sp_BlitzFirst CPU Utilization and High CPU Utilization Mismatch"
**Do you want to request a *feature* or report a *bug*?**
Bug
Version 6.9
Version Date 2018-09-01

**What is the current behavior?**
Details for sp_BlitzFirst High CPU Utilization and General CPU Utilization are showing different values. I dont know if this is due to me running an ancient version of SQL Server but to my knowledge theses values reported the same a couple versions back. I have seen

[2018-09-05 15:39] BrentOzar commented on #1746
Yep, they're checked at different times. You can learn more about the background on that by reading the code. Thanks!

[2018-09-05 15:39] #1746 closed

[2018-09-05 20:31] EmanueleMeazzo commented on #1729
@pietie I like the duration filter idea, I've included it!
So far I have two pages, one for the Jobs overview, where you can analyze the duration and behavior of each Job, including drilling down to each step at any date to see if something was off on a single step on a single day.

![image](https://user-images.githubusercontent.com/1709105/45119048-874ddc80-b15a-11e8-924b-d058363752f9.png)

![ima

[2018-09-06 02:34] BlitzErik opened #1747 "BlitzCache divide by zero"
Reported here: https://dba.stackexchange.com/questions/216823/sp-blitzcache-gives-a-divide-by-zero-error-encountered

Fix should be easy enough.

[2018-09-06 02:37] BlitzErik commented on #1729
Tagging this with the next milestone for now. No pressure though, it can get pushed back if need be.

[2018-09-07 10:47] RichBenner commented on #1747
god dammit, just spent an hour narrowing this down myself only to find it's a known bug, at least it's not just me :)

[2018-09-07 10:48] BrentOzar commented on #1747
Think of it this way: you have verified your skills as a top-notch code investigator.

[2018-09-07 12:41] BlitzErik commented on #1747
@RichBenner since you did all that work, do you want the glory of adding the fix?

[2018-09-07 12:50] RichBenner commented on #1747
I'm happy to, I used CASE statements to fix it for my application, is this the approach you'd take in the actual scripts?

[2018-09-07 13:11] BlitzErik commented on #1747
@RichBenner yep, totally fine!

[2018-09-07 13:29] #1747 closed

[2018-09-07 14:22] CurryEleison opened #1750 "Get sp_DatabaseRestore working on Linux"
I propose to get sp_DatabaseRestore working on Linux. This would be useful for e.g. running test restores and checks of databases in containers.

Currently, attempts to use sp_DatabaseRestore on Linux result in failure. The problems are due to the difference in directory separators between Linux and Windows, and fix the involves some relatively minor adjustments to filename and path handling.

Is

[2018-09-07 19:34] #1739 closed

[2018-09-08 05:40] EvanCarroll commented on #1747
@RichBenner generally the trick to making this more painless when working with awesome Microsoft stuff is to subtract the line offset from the crap until the procedure starting point and start looking at the offset for the next few statements which may be hundreds of lines, but still. It shouldn't take that long.

[2018-09-09 08:34] hamidmira opened #1752 "sp_Blitz - dbo.sp_MSforeachdb vs master.sys.sp_MSforeachdb (?)"
Hello,
In the script file sp_Blitz.sql, I suggest, for greater clarity, that your replace
`EXEC dbo.sp_MSforeachdb '...'`
by
`EXEC master.sys.sp_MSforeachdb '...'`

Thank you very much for your contributions

[2018-09-09 13:06] BrentOzar commented on #1752
Thanks, glad you like our work! We're going to decline this for now just because it doesn't add functionality or fix a bug. We only have so many hours per week, and we need to focus on things that add value to the community scripts. If you'd like to tackle this yourself, though, you're welcome to read the contributing guide and get started. Thanks again!

[2018-09-09 14:56] MisterZeus opened #1753 "sp_Blitz - new check to point out alerts that send NULL error messages via email / pager / net-send?"
**Do you want to request a *feature* or report a *bug*?**
New Feature: Should sp_Blitz check whether people have a bunch of alerts set up to send NULL instead of the actual error message, when they get triggered and send out an email / pager / net-send message?

**What is the current behavior?**
sp_Blitz doesn't check for alerts WHERE include_event_description_in = 0

**What is the expected behavi

[2018-09-09 14:57] BrentOzar commented on #1753
Sure, sounds interesting! Check out the contributing guide to get started:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

I don't have any input on gotchas with this one - sounds like you've been burned by it so you'll know how to include testing instructions in the issue. Thanks!

[2018-09-09 15:08] MisterZeus commented on #1753
Thanks Brent!
Yup, I'll script out a way to test this weird situation, where you get an alert email that basically says "Hey! This thing happened! I won't tell you why (even though I can), cause you didn't tick the right box when you made me! Ha-ha!"

[2018-09-10 07:18] RichBenner commented on #1747
@EvanCarroll yeah, that's the way I debug this stuff too. The difficulty here was that I was logging sp_BlitzFirst to a table and it was at that point that I was getting errors. I had to dig down to find that it was BlitzCache throwing errors before then narrowing down the section of the code that was causing issues. I then replicated the issue and dug into the data to find exactly the plans that

[2018-09-10 12:55] AvP-DBA opened #1754 "Error Msg 357 running sp_BlitzCache"
**Do you want to request a *feature* or report a *bug*?**
 - I want to report a **bug** in version 6.9 (20180901)

**What is the current behavior?**
- RedGate SQLMonitor inserted something in a nvarchar(max) column.
- The compiled parameter in the query plan for this insertion looks like this:

ÍVXšº[©Ú?^3?ž©Ô™Z­ÂÐ·×wŠ=Kàï?Ð§€ÜÞ^K¶bƒ?Ðm?]/lI],5@yÅ2x³oèöXhÉ?%Åû{aL}›=?O•o¶ù:?ƒé\_é¯@\ÎzÆëÓ¿þñÖù?Z

[2018-09-10 13:04] BrentOzar commented on #1754
OK, great. Since you're able to reproduce the error (obviously I don't have an insert script that looks like that, hahaha) feel free to dig in and troubleshoot the script.

I would suggest, though, that I wouldn't bother tuning Redgate SQL Monitor's queries. If you have a question about one of their queries, go ahead and open a support call with them.

If you'd like to contribute a fix for this, y

[2018-09-10 13:04] #1754 closed

[2018-09-10 14:54] mabrahamsen opened #1756 "Database named ¯\_(?)_/¯ breaks sp_blitz"
Version: 6.9 / 20180901

**What is the current behavior?**
The database name ¯\\_(?)_/¯ was popularized by Brent Ozar in this article: https://www.brentozar.com/archive/2017/10/log-wait-stats-table-sp_blitzfirst/

Running sp_blitz with a database named ¯\\_(?)_/¯  on your server breaks the sp_blitz script:

---
Msg 103, Level 15, State 4, Line 1
The identifier that starts with '¯\_(¯\_(¯\_(¯\_(¯\_

[2018-09-10 14:55] BrentOzar commented on #1756
Hahaha, great catch! Sure, that'd be a fix we'd be totally okay with accepting. Here's the contributing guide on how to get started with the code:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

If you decide you don't want to code it, no problem - just let us know and we can close the issue. (We'll close it if we don't hear back from you in a few days

[2018-09-10 15:14] mabrahamsen commented on #1756
Hi @BrentOzar,

The bug seems to be deeper than I can reach:

Ultimately this breaks:
EXEC dbo.sp_MSforeachdb 'USE [?];  SELECT DB_NAME()';

While this works:
EXEC dbo.sp_foreachdb 'USE [?];  SELECT DB_NAME()';

And I don't have the required insight to understand why you are using the MS version and shipping the other one, but I assume it is hardly accidental.

[2018-09-10 15:15] BrentOzar commented on #1756
Yeah, it'll be quite a bit of work to add in the open source replacement for sp_MSforeachdb. I'd started down that road too and didn't have enough time myself either. No worries - I'll close it then. Thanks anyway for reporting it!

[2018-09-10 15:15] #1756 closed

[2018-09-10 18:58] BrentOzar opened #1757 "sp_Blitz - add check looking for statistics with no histogram contents"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
If an object does have rows, but the associated non-filtered statistic has no rows in the histogram (like if it hasn't had an update stats since upgrading/restoring), tell the user to update stats on that object.

Should only run when CheckUserDatabaseObjects = 1, and only if sys.dm_db_stats_histog

[2018-09-11 01:44] jerryhung opened #1759 "sp_BlitzIndex check 48 NVARCHAR(10) for Read/Write is too short"
**Do you want to request a *feature* or report a *bug*?**
BUG
sp_BlitzIndex(TM) v6.9 - September 01, 2018: Database [XXX] as of 2018-09-11 09:40

**What is the current behavior?**
Failed with error "Arithmetic overflow error converting expression to data type nvarchar."
at check_id 48 "Index with High Writes:Reads" as we have index with BIG numbers (see below)
1st one is Length 11 > NVARCHAR(10)

[2018-09-11 02:40] dallyhorton opened #1760 "sp_Blitz - Ignore Change Tracking for Databases in SkipChecks"
Howdy!

I've been playing around with an idea that makes my experiance with sp_Blitz better. I have the MDS database on my instance and I've added this to my BlitzChecksToSkip table. When I run sp_Blitz it warns me that Change Tracking is enabled for MDS. I don't want to ingore this CheckID, but I do want to ingore MDS.

I've tweaked the code for the SkipChecks section to ingore any databases in m

[2018-09-11 11:34] RichBenner opened #1761 "sp_Blitz - Trace File Issue"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**

I'm on a client server and somebody's been messing with the trace files by the looks of it. When it gets to the appropriate line it sets @TraceFileIssue to 1. This is expected, but it's then throwing errors on check number 106 (which uses this trace file).

**If the current behavior is a bug, please

[2018-09-11 12:04] hamidmira opened #1762 "sp_Blitz - CheckID 55 "Database Owner <> SA" - Add a new parameter for the database owner"
Feature request :
sp_Blitz - Version: 6.9   - Version date  : 20180901

For CheckID 55 "Database Owner <> SA", I suggest to make the database owner configurable.
Indeed, there are many SQL environments where the database owner is not necessarily 'SA', and this is not considered an anomaly.
For example, I suggest adding a new parameter named @UsualDBOwner to the sp_Blitz procedure

`@UsualDBOwner s

[2018-09-11 12:13] BrentOzar commented on #1762
Oh interesting! Sure, if that's important to you, that'd be a code contribution that would work out for the community. Here's the contributing guide on how to get started:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

If you change your mind and don't want to code it, no problem - just let us know and we'll close the issue.

[2018-09-11 12:41] BrentOzar commented on #1760
You're close! The columns in SkipChecks include both CheckId and DatabaseName. You would want to skip checks on a particular database if either:

* CheckID = 112 and DatabaseName is null (meaning, skip check 112 for all databases), or
* CheckID is null and DatabaseName = current database (meaning, skip all checks for this specific database)

[2018-09-11 12:46] hamidmira commented on #1762
I'm not yet comfortable with GitHub operation! I have to take the step one day.
For the time being, I would have preferred you to integrate this feature.
PS : I would look more closely at the link you indicated
Thank you.

[2018-09-11 12:47] BrentOzar commented on #1762
OK, cool. I'll go ahead and close it.

I understand that you'd like us to do the work, but open source doesn't mean free consulting. ;-)

[2018-09-12 07:42] grawerpl opened #1763 "when running sp_BlitzFirst recive error in sp_BlitzCache - Divide by zero"
i installed Core script without Store Query (newest stable release) and after start this

i got error:
**Msg 8134, Level 16, State 1, Procedure sp_BlitzCache, Line 3972 [Batch Start Line 0]
Divide by zero error encountered.**

full msg from query:

[2018-09-12 08:05] grawerpl commented on #1763
ooo and i forget to mention. SQL Server 2012 SP4

[2018-09-12 09:42] RichBenner commented on #1763
just a quick check, have you tried the latest version of the scripts? there was a bug in the initial release this month that caused a div/0 error.

[2018-09-12 11:39] BlitzErik commented on #1763
Thanks, but this is a duplicate of #1747

Please search issues before posting.

[2018-09-12 11:39] #1763 closed

[2018-09-12 18:49] MisterZeus opened #1764 "sp_Blitz - new parameter @RunOnlyTheseCheckIDs ?"
**Do you want to request a *feature* or report a *bug*?**
Feature: if a user (or a debugger) supplies something like @RunOnlyTheseCheckIDs = '1,2,3,4', could sp_Blitz NOT RUN any other checks? I appreciate the @IgnorePrioritiesAbove/Below parameters, but the fact is that sp_Blitz still runs everything and just hides the priorities people want to ignore.

This would help out debuggers run specific

[2018-09-12 18:54] BrentOzar commented on #1764
The amount of complexity that would add to the code is pretty high. How about, when you're debugging something, you comment out the code you're not using, or remove it?

[2018-09-12 18:57] BlitzErik commented on #1764
An easy way to do this would be:

If this param is not null
Insert SkipChecks numbers 1-10000 where number not in [parse skip check list]
Run the rest of the code as usual.

[2018-09-12 18:58] BrentOzar commented on #1764
Ooo, I love it.

On Wed, Sep 12, 2018 at 11:57 AM, BlitzErik <notifications@github.com>
wrote:

--
Brent Ozar
Brent Ozar Unlimited <https://www.brentozar.com/>
Our new SQL ConstantCare®
<https://www.brentozar.com/product/sql-constantcare/> turns you into a
database expert.

[2018-09-12 18:59] MisterZeus commented on #1764
Epic Erik Strikes Again. Is that a yes from everyone?

[2018-09-12 19:01] BrentOzar commented on #1764
Sounds good to me!

On Wed, Sep 12, 2018 at 11:59 AM, Orestes <notifications@github.com> wrote:

--
Brent Ozar
Brent Ozar Unlimited <https://www.brentozar.com/>
Our new SQL ConstantCare®
<https://www.brentozar.com/product/sql-constantcare/> turns you into a
database expert.

[2018-09-12 19:02] BlitzErik commented on #1764
Sure, as long as parsing the csv list of numbers doesn't require any additional code installs (like create function), and isn't copyrighted by another blog :)

[2018-09-12 19:17] MisterZeus commented on #1764
I was thinking of using this gem: http://www.sqlservercentral.com/articles/Tally+Table/72993/
I could ask Jeff Moden for his blessing, if required? (he's a nice dude, will prob say yes)

[2018-09-12 19:31] MisterZeus commented on #1764
Nice, cheers for the pointers both of you!

[2018-09-14 11:30] BlitzErik opened #1765 "All Scripts - Review version checks vs object existence checks"
In a lot of places, we identify which version we're on to dictate what queries we can run.

This can fail if a patch fails in some weird way, or if there's no restart. We can see the patched version number without having the new objects.

I don't think I'd go back to 2008/R2 checks, probably just 2012+ stuff.

Start with BlitzCache, and BlitzWho, then work through others. It may not matter in a lo

[2018-09-14 12:57] jadarnel27 commented on #1762
Hey, I can make this change, if you don't mind re-opening and assigning it to me.

[2018-09-14 13:04] BlitzErik commented on #1762
@jadarnel27 it's reopened, but I can't assign it to you for some reason (again).

[2018-09-14 13:08] jadarnel27 commented on #1762
@BlitzErik have you tried turning GitHub off and on again?

[2018-09-14 13:09] BlitzErik commented on #1762
I'm just waiting for the next time a Windows update hits it.

[2018-09-14 15:48] WinstonDba opened #1766 "Divide by zero Error in BlitzCache"
**BUG** - Latest Version - BlitzCache

Issue when I run BlitzCache in a Job Agent Job and write to a table (may happen elsewhere)
**Version**: SQL Server Version 2008 R2
**OS**: Windows Server 2008

Executed Code:

EXEC master.dbo.sp_BlitzCache
			@Top = 200, -- int
			@ExpertMode = 1, -- tinyint
			@OutputServerName = N'[SERVER NAME]', -- nvarchar(256)
			@OutputDatabaseName = N'[TABLE NAME]', --

[2018-09-14 15:49] BlitzErik commented on #1766
Duplicate of #1747 Please search closed issues before opening new ones.

Thanks!
Erik

[2018-09-14 15:49] #1766 closed

[2018-09-14 16:54] BlitzErik commented on #1712
I think I figured this out!

It's not actually catching cross-database dupes, it just looks like it is.

In our first CTE, we're getting all possible dupes, and when we join outside of it it, we're filtering on this:

`WHERE ips.total_reserved_MB >= CASE WHEN (@GetAllDatabases = 1 OR @Mode = 0) THEN @ThresholdMB ELSE ips.total_reserved_MB END`

In some cases, we'll only find one index that has a s

[2018-09-14 17:04] BlitzErik commented on #1759
While I'm in here, I also want to format these numbers better. They could probably use some commas if people are hitting 11 digit numbers in writes.

I'd also humbly suggest that if you have 11 digit number writes and four digit number reads, you're well overdue for some index tuning ;)

[2018-09-15 15:13] #1753 closed

[2018-09-15 15:14] #1757 closed

[2018-09-16 07:59] hamidmira commented on #1762
@jadarnel27
Thank you for proposing to make the changes.
This is what I had planned. But you can arrange it differently.
PS : The controls of the owner of the "system databases" remain unchanged
[code]

A+

[2018-09-16 11:27] EmanueleMeazzo commented on #1729
Well, I guess it's time to upload something for you guys to try out:  [FirstResponderKit Job Information BETA](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/files/2386519/FirstResponderKit.Job.Information.zip)

Let me know about all the issues I've implemented and how to steer it in the right direction 💃

[2018-09-17 07:10] gavdraper opened #1768 "sp_AllNightLog Is Somehow Missing Logs"
**Do you want to request a *feature* or report a *bug*?**
Bug in sp_AllNightLog Version 2.9 (And possibly other versions)

**What is the current behaviour?**
I have it setup to restore logs for several databases every 30 seconds. It works fine most of the time but overnight one of  the databases goes through batch processing and generates about 15GB of logs in 10 minutes, this seems to have a knoc

[2018-09-17 13:06] BrentOzar commented on #1768
Oh no, sorry to hear that! We (Brent Ozar Unlimited) aren't using sp_AllNightLog on any current projects, so I'm afraid we can't be too much help troubleshooting it at the moment.

If I were you, since you're experiencing the issue in production, I'd continue to keep digging and see if you can track down the issue. You could also set up a job to periodically check for restores that aren't happenin

[2018-09-17 19:24] arampendley opened #1769 "BlitzIndex: Select Op Stats columns when Mode=2"
**Do you want to request a *feature* or report a *bug*?**
Feature. I am saving BlitzIndex to a table, but the table is missing some index usage counters.

**What is the current behavior?**
Op Stats are not selected when Mode=2

**What is the expected behavior?**
Select
total_singleton_lookup_count as [Singleton Lookups],
total_range_scan_count as [Range Scans],
total_leaf_update_count as [Leaf Upd

[2018-09-17 20:43] BrentOzar commented on #1729
Thanks! I gave it a quick shot, running it with no parameters, and got:

[code]

I'm running case-sensitive SQL Servers, though, so that may have something to do with it?

[2018-09-17 21:46] EmanueleMeazzo commented on #1729
@BrentOzar , yes and no; I haven't enabled sp_BlitzJobinfo to run without parameters (i.e. "ALL" as a parameter) mostly because I think that all the data it returns (and it's _a lot_) doesn't make much sense without a decent presentation, but, if it makes sense to you guys, I can wrap it around something to make it readable (or maybe just return the list of available information, as below, when ca

[2018-09-18 07:01] pietie commented on #1729
I'm not too familiar with  PowerBI so I might have configured it wrong but I get the following

![image](https://user-images.githubusercontent.com/5171545/45669776-53db5c80-bb21-11e8-9f00-cd3fa970a80b.png)

If I got to *Edit Queries* all the tables there are populated.

[2018-09-18 07:16] pietie commented on #1729
Another useful de-cluttering filter to look at is the job's **Category**. I ran this on an instance where reporting service is installed and there are loads of subscription jobs created by RS. Some times I might not care about them. Fortunately they all have the **Report Server** category so they are easy to pick out.

A very very nice to have would be if you could translate the not-so-useful GUID

[2018-09-19 22:07] EmanueleMeazzo commented on #1729
Updated version as promised

- Added Category filter
- Reworked relationships in the model
- Added a timeline page to just see what did run in a specific timeframe with each duration, complete with time brush (for "wtf was going on at that time" scenarios)

I'll definitely write a quick goto guide upon release time

[FirstResponderKit Job Information v2](https://github.com/BrentOzarULTD/SQL-Server

[2018-09-20 15:08] baleng opened #1770 "sp_Blitz - check looking for statistics with no histogram contents enhancement: exclude CCI stats and add per partition resample"
**Do you want to request a *feature* or report a *bug*?**
i guess this is a bug

hi master Brent! .i'm so happy to be here!
as posted in your website (a comment) for https://www.brentozar.com/archive/2018/09/finding-fixing-statistics-without-histograms/ (closed pull request #1757  )

the query should exclude the CCI on a table (i use "where stat_id > 1 " to exclude them )
it could be better to hav

[2018-09-21 07:21] kevriley opened #1771 "sp_blitz - false positives for statistics without histograms"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Not sure which check in sp_blitz this is in as I was prompted to post here from the blog: https://www.brentozar.com/archive/2018/09/finding-fixing-statistics-without-histograms

The query is returning some false positives for me – when a column only has NULL values for every row DBCC SHOW_STATISTICS re

[2018-09-24 17:45] BrentOzar opened #1773 "sp_BlitzWho: add output to table"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Coulrophobia

**What is the expected behavior?**
Globophobia

[2018-09-24 19:49] BrentOzar commented on #1773
Just in case someone else runs across this - I'm working on this for a client. I wouldn't try to use it just yet - we'll be implementing it this week. Right now, it only works on SQL 2012 & newer. It's not that 2008R2 doesn't have the functionality necessary - it's just that there's a big IF branch in the code here, with different paths for 2008 & 2008R2 than everything else, and I didn't wanna bo

[2018-09-25 08:12] BrentOzar commented on #1773
Work remaining:

* Code 2008/2008R2 branch (use same output columns as 2012+ branch)
* Add MinBlockingSeconds parameter - only log when there's blocking, and include the lead blocker (which won't have blocks)
* Add output parameter for sp_BlitzFirst to call sp_BlitzWho with output to table
* Testing, including testing live query plans
* Write announcement post

[2018-09-25 18:56] BlitzErik commented on #1678
@ShawnCrocker closing this for now. If you wanna pick it back up anytime, reopen or start a new issue.

[2018-09-25 18:56] #1678 closed

[2018-09-25 18:56] #1741 closed

[2018-09-25 18:57] BlitzErik commented on #1750
@CurryEleison are you still interested in working on this? Doing some issue cleanup.

[2018-09-25 18:58] BlitzErik commented on #1760
@dallyhorton haven't heard back from you in a while on this, so closing it out. If you wanna work on it again in the future, feel free to reopen or start a new issue. Thanks!

[2018-09-25 18:58] #1760 closed

[2018-09-25 18:59] #1752 closed

[2018-09-25 18:59] BlitzErik commented on #1761
@RichBenner were you going to work on this one? Doing some issue cleanup before the next release.

[2018-09-25 19:00] BlitzErik commented on #1762
@jadarnel27 were you still going to work on this one? Doing some issue cleanup.

[2018-09-25 19:00] BlitzErik commented on #1764
@MisterZeus were you still going to work on this one? Doing some issue cleanup around here.

[2018-09-25 19:01] #1768 closed

[2018-09-25 19:02] BlitzErik commented on #1769
@arampendley were you going to work on this one?

[2018-09-25 19:05] RichBenner commented on #1761
Yep, was just waiting for the ok. I’ll submit code first thing tomorrow for
this :)

On Tue, 25 Sep 2018 at 20:00, BlitzErik <notifications@github.com> wrote:

[2018-09-25 19:06] BlitzErik commented on #1761
No need to wait for us!

[2018-09-25 19:36] jadarnel27 commented on #1762
@BlitzErik yep, and thanks for the reminder!  I'll get it in today or tomorrow so it can hopefully make the next release.

[2018-09-25 20:31] CurryEleison commented on #1750
@BlitzErik  Thanks for asking and yes I'm working on this. Code is done and I've tested in some challenging circumstances -- it looks good to me. There are a couple of corner cases I'd like to test before I submit though.
BTW if you have any advice on edge cases you think I should consider or test for I would be happy to work that in.

[2018-09-25 20:46] BlitzErik commented on #1750
@CurryEleison I wish that I did, but I don't use this proc all that regularly, and I don't use Linux at all. We're happy to take your contribution with the testing you've done. More documentation is always better, though it's a bit of a chore to write.

[2018-09-26 08:32] sqlenders opened #1775 "The [XXX] database file XXX_log has a max file size set to 2048MB. If it runs out of space, the database will stop working even though there may be drive space available."
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
The [XXX] database file XXX_log has a max file size set to 2048MB. If it runs out of space, the database will stop working even though there may be drive space available.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http:

[2018-09-26 08:57] BrentOzar commented on #1775
Sure, makes sense! To contribute the fix, you can grab the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

If you have any questions, holler, or check in with us in Slack. Thanks for reporting it!

[2018-09-26 09:31] MisterZeus commented on #1764
Yes, hope to work on this one this week. If the open issue is annoying, feel free to close it, I'll just reference it anyway when I do a pull request for it. Sound fair?

[2018-09-26 11:58] BlitzErik commented on #1769
Ah, great! Make sure to read the [contributing](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md) doc. You don't need any special privileges -- you're on the right track. Have a look at [this blog post for some instructions](https://www.brentozar.com/archive/2018/01/peoples-githubs-fork-clone-pull/).

[2018-09-26 11:59] BlitzErik commented on #1764
@MisterZeus nah, totally fine. I'd only close it if you weren't ready to work on it just yet.

[2018-09-26 19:11] dianetrcka commented on #221
I just tried this in version 6.9.  Have any idea when it will be functional?

[2018-09-26 20:39] BrentOzar commented on #221
@dianetrcka - hi! No, sorry no update on this. If you'd like to contribute code, you can check out the contributing guidelines here:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit

The code has already been adding to sp_Blitz, so it might be a great place for you to jump in and start contributing. We'd love the help - and it might be a great way for you to give back to the commun

[2018-09-28 14:47] githubsqltoolsse opened #1777 "sp_BlitzCashe throw divide by zero error."
VersionDate = 20180901

When running sp_BlitzCache I got this error messages:
Msg 8134, Level 16, State 1, Procedure sp_BlitzCache, Line 3972 [Batch Start Line 2]
Divide by zero error encountered.

It is thrown three times. I believe it has to do with MaxCompileMemory.

I got this error on some of my servers but not others. I have not enough information but think it might be due to some sql versio

[2018-09-28 14:49] BlitzErik commented on #1777
Closing as a duplicate #1747

[2018-09-28 14:49] #1777 closed

[2018-10-02 11:16] tellwade opened #1779 "Typo in sp_BlitzFirst"
CheckID 20 is being inserted into #BlitzFirstResults with a CheckID value of 19

[2018-10-02 11:39] #1712 closed

[2018-10-02 11:45] #1762 closed

[2018-10-02 11:45] #1769 closed

[2018-10-02 11:57] #1759 closed

[2018-10-02 11:58] #1729 closed

[2018-10-02 12:01] #1779 closed

[2018-10-02 12:04] BlitzErik commented on #1771
We're going to yank this check, it's kind of a hot mess. Thanks!

[2018-10-02 12:04] #1771 closed

[2018-10-02 12:04] BlitzErik commented on #1770
We're going to yank this check, it's kind of a hot mess. Thanks!

[2018-10-02 12:04] #1770 closed

[2018-10-02 14:35] ekholve opened #1783 "sp_blitz and Cluster Shared Volumes"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.
sp_Blitz Sep  1 2018 12:00AM

**What is the current behavior?**
Just run sp_blitz against failover clustered SQL ins

[2018-10-02 14:36] BlitzErik commented on #1783
Okay, cool! We don't use those, so you'd have to figure out how to detect and ignore this condition. Are you game for doing that?

[2018-10-02 14:46] ekholve commented on #1783
Thanks for the quick response! I am afraid that I am not able to contribute in any other way but testing the code. :(
Anyway, I just did a bit of a research on this matter and found that at least the existence of CSV clustering can be checked fairly easily like this:
SELECT * FROM sys.dm_io_cluster_valid_path_names;
https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-managemen

[2018-10-02 14:51] BlitzErik commented on #1783
Ah, alright. I'll leave this issue open for a bit to see if anyone else picks it up, but it's likely not something that we'd work on, because none of us are set up to write the code easily. If no one takes it in the next month, I'll close it out.

Thanks!

[2018-10-02 14:53] ekholve commented on #1783
Sounds like a plan. Thank you!

[2018-10-03 09:41] ShawnCrocker commented on #1750
@CurryEleison I can't test this on Linux, but I can retrogressively test it on Windows. I use it a lot (and pushed several changes back)

[2018-10-03 13:48] tellwade opened #1784 "sp_Blitz Typo"
The following lines in the script..
/* Target Recovery Time (142) can be either 0 or 60 due to a number of bugs */
 IF @CurrentCheckID = 142

The checkID value for Target recovery time is 141.
CheckID 142 is for Delayed Durability

[2018-10-03 13:51] tellwade commented on #1784
ID10T error on my side
Apologies

[2018-10-03 13:51] #1784 closed

[2018-10-03 14:42] tellwade opened #1785 "Duplicate checkID sp_Blitz"
Possible bug - Version 6.9
CheckID 216 is duplicated in sp_Blitz

First check on this ID is for SQL 2017 missing features (if 2017 but not CU3)
Then later on same CheckID (216) is used to check for a recent server restart

[2018-10-04 08:28] athurgar opened #1787 "sp_blitz new feature for database mail"
I would like to see sp_blitz check to see if database mail is enabled and started. See attached T-SQL as sample code
[Check Database Mail.txt](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/files/2445507/Check.Database.Mail.txt)

[2018-10-04 08:32] athurgar opened #1788 "sp_blitz enhancement for TCP port"
Previously I had raised this and it was closed but would like to gauge if there is any change in interest to this being added.
https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/issues/161

See attached for sample t-sql code to get this information.

[SQL TCP Port Reg Key.txt](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/files/2445525/SQL.TCP.Port.Reg.Key.txt)

[2018-10-04 11:11] BrentOzar commented on #1787
Sure, that sounds good. Here's how to get started contributing a new check:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

[2018-10-04 11:14] BrentOzar commented on #1788
We're steering clear of security checks for now. Other folks or repos in the community are welcome to get started building a security audit stored procedure, but we're not going to do that here. I think there's a great space in the community for a security auditing tool, but it just isn't what sp_Blitz is. Thanks for understanding.

[2018-10-04 11:14] #1788 closed

[2018-10-04 16:01] steffenengelhamburg opened #1789 "sp_BlitzFirst delta views: Wrong [sizeondiskmbgrowth] shown if data from several servers gathered"
***bug***
Bug on all versions of Blitz Scripts on all SQL Versions

**What is the current behavior?**
If you gather all Blitz Data from multiple Servers to one central Database the Deltas on Views are not counted or wrong.

This is needed in case you need to use the BI Dashboard for multiple Database Instances.

+ '; EXEC (''CREATE VIEW '
                + @OutputSchemaName + '.'
                +

[2018-10-05 10:02] steffenengelhamburg commented on #1789
Following are all changes i made:
Install-Core-Blitz-With-Query-Store.sql
Line 18911
[code]
Line 19083
[code]
Line 19386
[code]
Install-Core-Blitz-With-Query-Store.sql
Line 18911
[code]
Line 19083
[code]
Line 19386
[code]
Install-All-Scripts.sql
Line 21709
[code]
Line 21881
[code]
Line 22184
[code]
sp_BlitzFirst.sql
Line 2789
[code]
Line 2961
[code]
Line 3264
[code]

Happy Days
Steffen

[2018-10-05 11:09] BrentOzar opened #1790 "sp_Blitz blocked by temp object creation"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The below script gets blocked if someone's creating a temp table:

[code]

**What is the expected behavior?**
Use read uncommitted in here.

[2018-10-05 11:20] #1790 closed

[2018-10-05 11:22] BrentOzar opened #1792 "sp_Blitz: add DatabaseName to Change Tracking warnings"
**Do you want to request a *feature* or report a *bug*?**
Bugture

**What is the current behavior?**
Show database names when change tracking is enabled, which will then also let the SkipChecks functionality work with it.

[2018-10-05 11:23] #1792 closed, assigned to nobody

[2018-10-05 11:29] #1785 closed

[2018-10-05 11:29] BrentOzar commented on #1785
Great catch! Thanks for the heads up. Changed the recent restart check to be id 221.

[2018-10-05 11:48] #1775 closed

[2018-10-05 11:48] BrentOzar commented on #1775
I went ahead and coded it this morning because I was in sp_Blitz for other stuff. Closing - thanks again for the bug report!

[2018-10-05 12:00] BrentOzar commented on #1789
Great catch! Fixed. Thanks!

[2018-10-05 12:00] #1789 closed

[2018-10-05 12:01] BrentOzar commented on #1789
Also I should mention - if you ever want to contribute code again, all you have to do is fix the stored procs, not the install scripts. We generate the install scripts from the underlying stored procs. Just to make your life a little easier. :-D

[2018-10-05 12:02] BrentOzar commented on #1787
@athurgar did you want to contribute the code? If not, no worries - just let us know and we'll close the issue.

[2018-10-06 04:03] athurgar commented on #1787
Hi Brent,

I am currently recovering from a bone marrow transplant for a blood cancer.
I will not be able to look at this item until after this time.

Thanks,

Adam

Adam Thurgar
SQL Server Support
Mobile: +61 (0)419 290 524
http://www.sqlserversupport.com
-----------------------------------------------------------------------------------------------------------------------------------------------

[2018-10-06 12:38] BrentOzar commented on #1787
Oh wow! In that case, definitely focus on getting better. Sorry to hear that! I'll close the issue. Best wishes on the recovery!

[2018-10-06 12:38] #1787 closed

[2018-10-06 15:05] BrentOzar opened #1796 "sp_Blitz improvements for Azure Managed Instances"
**Do you want to request a *feature* or report a *bug*?**
Feature - better support for Azure Managed Instances

**What is the current behavior?**

* While a database is restoring, check 14 (Page Verification Not Optimal) fires. Exclude rows in sys.databases where state = 1 (restoring).
* Check 50 (Max Memory Set Too High) fires. Exclude this when edition = SQL Azure.
* Check 97 (Unusual SQL Server

[2018-10-06 19:45] #1796 closed

[2018-10-06 19:55] BrentOzar opened #1798 "Wait stats: filter out harmless Managed Instances waits"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The HADR_FABRIC_CALLBACK, SOS_WORK_DISPATCHER waits are reported in sp_Blitz CheckServerInfo = 1 and sp_BlitzFirst's wait stats list. Should filter those out as ignorable.

[2018-10-06 20:08] #1798 closed

[2018-10-07 19:36] imyourdba opened #1800 "sp_BlitzCache Invalid length parameter passed to the LEFT or SUBSTRING function"
BUG
Version 6.10 Date 20181001 (Even deleted SP's and Tables and re-ran setup)

**What is the current behavior?**
When running the following:
EXEC sp_BlitzFirst
  @OutputDatabaseName = 'SQLAdmin',
  @OutputSchemaName = 'dbo',
  @OutputTableName = 'BlitzFirst',
  @OutputTableNameFileStats = 'BlitzFirst_FileStats',
  @OutputTableNamePerfmonStats = 'BlitzFirst_PerfmonStats',
  @OutputTableNameWaitSta

[2018-10-07 19:39] BrentOzar commented on #1800
Thanks! It's been reported before - check this out:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/issues/1754

The difference between running it via sp_BlitzFirst versus running it with sp_BlitzCache is that sp_BlitzFirst can run sp_BlitzCache with different sort orders depending on what your server's bottleneck is at the moment. Try running sp_BlitzCache @SortOrder = 'all' and

[2018-10-08 01:43] imyourdba commented on #1800
Looks like it may have been some encrypted objects in a database, but it's not needed any longer so I detached it and reran this...everything seemed to work fine after that.  Thanks for the response.

[2018-10-08 01:43] #1800 closed

[2018-10-11 15:15] BlitzErik opened #1801 "sp_Bltz - querying sysalerts throws an error in RDS"
Need to skip those checks. Even running as root breaks.

[2018-10-15 22:42] #1801 closed

[2018-10-15 22:44] BlitzErik opened #1804 "Nothing special"
\\

[2018-10-17 14:11] Adedba commented on #1783
I have tried to replicate this issue on our SQL 2012 instance but unfortunately I cannot replicate it there, I know the issue mentions SQL 2016 and 2017 but thought it was worth a try. Looking at the code it appears to do a LEFT 1 on physical_name in sys.master_files and when this is equal to 'C' it will see this as the C drive, does the name of your volume/s start with the letter 'C'? A similar c

[2018-10-17 17:15] BlitzErik opened #1805 "sp_BlitzCache: Format numbers to make more readable"
Right now, big numbers in BC are hard to read.

They need some commas.

[2018-10-17 17:15] BlitzErik commented on #1805
This might make opserver stuff wonky. We'll see.

[2018-10-18 07:38] ekholve commented on #1783
Adedba. Thanks for your contribution here. Unfortunately it seems that you are not running your instance on CSVFS (cluster shared volume file system). When you enable that in your Failover Cluster, it creates folder structure C:\ClusterStorage\ where you mount your clustered volumes. Each LUN is then mounted on separate folders such as SQLSYSTEM, SQLDATA, SQLLOG etc. according to your plan/policy.

[2018-10-18 07:46] ekholve commented on #1783
Anyways, your finding in the code seems to be correct place to adjust.
So basically if you could check if the folder under the c:\folder contains mounted volume then the this matter is not reported?

[2018-10-19 13:59] #1805 closed

[2018-10-19 17:00] BrentOzar opened #1808 "sp_BlitzFirst: better compatibility with Azure SQL DB"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
sp_BlitzFirst doesn't run with Azure SQL DB, throwing a couple of errors about DMVs it can't access.

**What is the expected behavior?**
For one brief moment in time, before Microsoft pulls another fast one and changes more DMVs, get sp_BlitzFirst to run.

While I'm in there, add a check: if SERVE

[2018-10-19 20:58] hfleitas opened #1809 "Dashboards for Mobile View in Power BI template + training files"
**Do you want to request a *feature* or report a *bug*?**
The 💣 feature!

**What is the current behavior?**
The template and training file are missing mobile views to showcase the portability of the FRK visuals on a phone or tablet.

I can work on this item. Lmk who to send an updated .pbix or .pbt.

**What is the expected behavior?**
See the 💣 screenshots below...

**1. Overview:**
![img_1348](ht

[2018-10-19 21:05] BrentOzar commented on #1809
Ooo, looks awesome! Sure, do a pull request as described here:
https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

Or if you don't want to hassle with Github, email it to us at help@brentozar.com. Thanks!

[2018-10-21 14:26] BlitzErik opened #1811 "sp_BlitzCache: More defense in string splitting"
When I break down implicit conversion info, I tried to make the code less susceptible to errors by using computed columns to give me charindex values of markers I need to split on, and then making sure they're both usable before using them in substring.

[code]

I think they could be made safer by doing this:

[code]

[2018-10-21 16:13] BlitzErik commented on #1811
This was a terrible idea overall, but experimenting with it helped me track down some other bugs.

[2018-10-21 16:15] #1811 closed

[2018-10-21 16:15] #1804 closed

[2018-10-21 16:16] BlitzErik commented on #1750
@CurryEleison I'm going to be doing a FRK release in about a week -- do you wanna get this code in for that?

[2018-10-21 16:17] BlitzErik commented on #1764
@MisterZeus I'm gonna close this one out for now.

[2018-10-21 16:17] #1764 closed

[2018-10-21 16:33] BrentOzar opened #1813 "sp_Blitz: update out-of-support SQL Server 2012 SP3 version"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Like sands through the hourglass, so are the versions under support. 2012 SP3 (11.0.6020) is no longer under support. The minimum supported 2012 version is 11.0.6518.0.

[2018-10-21 17:20] BlitzErik opened #1816 "sp_BlitzCache - Differentiate between cursor and non-cursor plans"
When we insert into `#statements`, we make two passes of the plan XML. One parses regular query plans, and the other parses cursor plans. Later on, we run four checks for different types of cursors that might be harmful. We run these regardless of if there are any cursor plans.

This doesn't slow us down a ton that I've been able to see, but it seems like a good idea to only run these if we need t

[2018-10-21 17:53] BlitzErik opened #1817 "sp_BlitzQueryStore: collect dmv spill info when we can"
Will fill in later

[2018-10-21 18:04] BlitzErik opened #1818 "sp_BlitzCache: ALL/ALL AVG bug"
The recent number formatting change breaks the inserts we do for these

[2018-10-21 18:41] #1818 closed

[2018-10-21 18:42] #1813 closed

[2018-10-21 18:43] #1808 closed

[2018-10-21 19:40] BlitzErik commented on #1817
Holding off on this.

[2018-10-21 19:40] #1817 closed

[2018-10-21 19:40] #1816 closed

[2018-10-22 12:30] BlitzErik opened #1822 "Add sp_ineachdb to the frk"
WE HAVE LIFTOFF

[2018-10-22 14:20] darshanrampatel commented on #1822
Not sure if you will get the comment I left on #1821 but there is a typo in the code:

![image](https://user-images.githubusercontent.com/14162899/47297745-eafa6f00-d60d-11e8-83eb-6d29a18ef0b0.png)

[2018-10-22 15:20] BlitzErik commented on #1822
@darshanrampatel can you open a new issue for that?

Thanks!

[2018-10-22 15:27] BrentOzar opened #1823 "sp_BlitzFirst: break out TempDB separately for high forwarded fetches per second"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
In sp_BlitzFirst, we alert you on high number of forwarded fetches. I should add up user databases and TempDB separately. If it's user databases, have the sp_BlitzIndex command for the database in the HowToFixIt. If it's TempDB, guessing maybe look at sp_BlitzCache SortOrder = 'writes'.

[2018-10-22 15:31] darshanrampatel opened #1824 "Fix issue with creating sp_ineachdb"
**Do you want to request a *feature* or report a *bug*?**
Fix issue when creating `sp_ineachdb`

**What is the current behavior?**
Fails to run if sp_ineachdb already exists but sp_foreachdb does not

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via http://sqlfiddle.com**
![image](https://user-images.githubusercontent.com/1

[2018-10-22 15:32] darshanrampatel commented on #1822
@BlitzErik, sure #1824

I will create a PR to fix it.

[2018-10-23 15:46] Remindhere opened #1826 "BlitzFirst Delta views doesn't look on ServerName in order to get previous CheckDate"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

All of the delta views currently ordering rows only based on CheckDate ignoring ServerName which leads to incorrect result (missing rows) if there are more than one server in the underlying table.

BlitzFirst_WaitStats_Deltas
BlitzFirst_FileStats_Deltas
BlitzFirst_PerfmonStats_Deltas

[2018-10-23 15:55] #1824 closed

[2018-10-23 15:56] #1822 closed

[2018-10-23 16:15] Remindhere commented on #1826
Seems like that issue has been fixed in the last release.

[2018-10-24 12:52] ck75 opened #1827 "Add a slicer by server name to the Power BI Template"
**Do you want to request a *feature* or report a *bug*?**
Feature: Add a slicer by server name to the Power BI Template

**What is the current behavior?**
As Discussed on the #FirstResponder Slack Channel
I've setup a job on multiple servers to capture the blitz data for that particular SQL Server and then connect Power BI to the database that stores the information. This is resulting in multiple

[2018-10-24 20:08] EmanueleMeazzo commented on #1827
You're right, I've added the server selector on the new report pages, but it's missing in the original overview.
Since the process for sending PowerBI changes consists in listing the modifications to made, this pull request is basically already written.

However, one thing comes up in my mind, should we synchronize the server slicer in every page (in order to have it already on the previously sele

[2018-10-27 14:10] #1773 closed

[2018-10-27 15:14] BrentOzar opened #1830 "sp_BlitzFirst: add ability to log sp_BlitzWho to table"
**Do you want to request a *feature* or report a *bug*?**
Features:

* Code 2008/2008R2 branch (use same output columns as 2012+ branch)
* Add output parameter for sp_BlitzFirst to call sp_BlitzWho with output to table
* Add tab to First Responder Kit Power BI Dashboard
* Update SQL Server setup checklist with jobs for sp_BlitzFirst, sp_BlitzWho
* Write announcement post with use cases: watching f

[2018-10-30 18:19] Hydrogen76 opened #1831 "sp_Blitz: Finding 'TraceFlag On' URL invalid"
The sp_Blitz output provides an invalid URL for the 'TraceFlag On' finding (CheckID 74).  The URL in the output points to a HTTP 404 (Not Found) returning page.

https://www.BrentOzar.com/go/traceflags/

sp_Blitz version: 6.10

[2018-10-30 18:43] McA-the-dba commented on #1831
It appears that the correct URL is https://www.brentozar.com/blitz/trace-flags-enabled-globally/ - you can use that for reference until the sp is updated.

[2018-10-30 19:15] tboggiano opened #1832 "sp_BlitzQueryStore pull back by total and average"
**Feature request**
Currently the procedure returns the top x queries by max metrics. It would be useful to have an option to return it by max, total, or average metrics.

[2018-10-30 19:38] TurnerBurn opened #1833 "Page not found error from links inside sp_BlitzIndex"
I'm Running the latest version (Downloaded yesterday, 10/29) of sp_BlitzIndex and some of the URLs listed for certain index issues are pulling up a 'Page Not Found' error.

Here are the ones so far :
https://www.brentozar.com/go/IndexHoarder
https://www.brentozar.com/go/AbnormalPsychology
https://www.brentozar.com/go/Workaholics
https://www.brentozar.com/go/Indexaphobia
https://www.brentozar.com/g

[2018-10-30 22:37] wendydroid opened #1834 "sp_BlitzLock duplicate column names"
**Do you want to request a *feature* or report a *bug*?**
Both? It's a bug that only exposes itself after adding a new feature. Using version "sp_BlitzLock May  1 2018 12:00AM".

**What is the current behavior?**
Currently, the stored procedure runs fine on it's own but I am editing the procedure to store the two result sets to two tables. In the process it's complaining about duplicate column nam

[2018-10-31 03:29] jerryhung commented on #1833
I'll just also add here as well
sp_BlitzIndex
http://BrentOzar.com/go/AggressiveIndexes

I found it by Google
https://www.brentozar.com/blitzindex/sp_blitzindex-aggressive-indexes/

[2018-10-31 11:33] BrentOzar opened #1835 "sp_BlitzFirst: more accurate startup times for Azure SQL DB"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In Azure, sp_BlitzFirst was averaging several wait types to get a rough startup time, but some of those wait types are showing unpredictable runtimes even on idle servers.

**What is the expected behavior?**
I'll remove broker_task_stop and xe_dispatcher_wait per a reader's request (since it looks like

[2018-10-31 12:28] BrentOzar opened #1837 "sp_Blitz: add Azure Managed Instances CPU/memory to CheckServerInfo = 1"
**Do you want to request a *feature* or report a *bug*?**
Feature. Azure Managed Instances exposes your CPU and memory limits in the new sys.dm_os_job_object, like:

* cpu_rate
* memory_limit_mb
* process_memory_limit_mb
* workingset_limit_mb

Let's report those in the Server Info section.

[2018-10-31 12:54] BrentOzar opened #1838 "sp_Blitz falsely reports Linux OS when there are no rows in sys.traces"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When you run sp_Blitz CheckServerInfo = 1 on an Azure Managed Instance, the output is confusing:

![screen shot 2018-10-31 at 5 51 32 am](https://user-images.githubusercontent.com/245462/47789162-0f6edf00-dcd1-11e8-923a-7da031728b9f.png)

It's because this section of code is setting IsWindowsOperatingS

[2018-10-31 13:35] BrentOzar commented on #1834
Great catch, and thanks for the clear bug report! I just checked in a fix for it, and it'll be in the next release.

[2018-10-31 13:37] BrentOzar commented on #1831
Sorry about that! Fixed.

[2018-10-31 13:37] #1831 closed

[2018-10-31 13:40] BrentOzar commented on #1833
Thanks for the bug report! Fixed.

[2018-10-31 13:40] #1833 closed

[2018-10-31 15:27] wendydroid commented on #1834
Yay! Thank you! :)

[2018-10-31 23:45] BrentOzar commented on #1823
Dagnabbit, the Perfmon counter for forwarded fetches per second doesn't break out per database, only a total. Closing with sadness and regret.

[2018-10-31 23:45] #1823 closed

[2018-11-02 13:33] BrentOzar opened #1842 "sp_BlitzLock fails on Azure SQL DB and Managed Instances"
**What is the current behavior?**
sp_BlitzLock produces:

[code]

Will dig into why.

[2018-11-02 15:13] BlitzErik opened #1843 "sp_BlitzCache & BQS - Up stats mod counter to bigint"
@jobbish-sql hits an overflow BECAUSE HE HAS TOO MANY ROWS

Change to a bigint

[2018-11-03 17:21] BlitzErik opened #1844 "sp_BlitzWho - better THREADPOOL detection"
Sessions hitting threadpool waits often don't have a session id, they're waiting to be assigned one. We don't show those because of the way we join things, but we really should. They'll be in waiting tasks.

[2018-11-06 14:01] daviespaul opened #1845 "URL for finding "Agent Jobs Starting Simultaneously" is page not found"
Blitz version: sp_Blitz Oct  1 2018 12:00AM

Finding "Agent Jobs Starting Simultaneously" has help URL of "https://BrentOzar.com/go/busyagent/" which points to a 404 due to the trailing forward-slash - which *should* work anyway, but doesn't

[2018-11-09 12:16] BrentOzar commented on #1198
This issue is closed. If you have a support question, create a new issue or ask in Slack. Thanks!

[2018-11-11 16:11] BlitzErik opened #1846 "sp_BlitzIndex -- add a check for udfs in check constraints"
Ran into this with a client. We already have the check for computed columns that we can apply here.

[2018-11-13 22:14] BlitzErik commented on #1783
I think we've given this a fair shot to get picked up by someone. Gonna close this out for now. If you decide you want to work on it, feel free to open a new issue.

[2018-11-13 22:14] #1783 closed

[2018-11-13 22:20] #1835 closed

[2018-11-13 22:21] #1837 closed

[2018-11-13 23:12] #1846 closed

[2018-11-13 23:16] #1844 closed

[2018-11-13 23:18] BlitzErik commented on #1842
It's going to be for this section of code:

[code]

We can get to the system health file normally just by doing this:

`@EventSessionPath VARCHAR(256) = 'system_health*.xel', `

[2018-11-13 23:30] BlitzErik commented on #1832
Right now, we do everything by averages. If you ctrl+f for `Gathering intervals`, you'll hit the section where we figure out which time periods to focus on.

Ditto a ctrl + f for `Gathering longest duration plans` -- the query there follows the same pattern as all the others to find "worsts" -- we order everything by `avg_metric DESC`.

The way query store data is, doing it by totals would be kind

[2018-11-16 19:49] tboggiano commented on #1832
Pulling back MAXes would be cool as well.

[2018-11-19 15:28] BlitzErik opened #1849 "sp_BlitzFirst -- Go back to ignoring CLR waits?"
I know that we took them off the ignore list a while back, but I still haven't run across a situation where they've been helpful.

They're always up at the top, even when people aren't using CLR, and people ask about them. It's kinda awkward.

Anyway, if anyone has a reason for keeping them exposed, lemme know!

[2018-11-20 15:55] BlitzErik commented on #1827
@ck75 you haven't responded to @EmanueleMeazzo in about a month -- should we close this issue out?

[2018-11-21 01:46] BlitzErik opened #1850 "Review 2014 SP3 changes"
Might be some stuff we can use there now.

[2018-11-23 12:27] RichBenner opened #1851 "sp_BlitzLock - Treating triggers like Stored Procs"
**Do you want to request a *feature* or report a *bug*?**
Possibly a bug?

**What is the current behavior?**
I'm running BlitzLock on a client site and it looks like it treats triggers the same way as SP's for check_id 7.

check_id | database_name | object_name | finding_group | finding
------------ | ------------- | ------------- | ------------- | -------------
7| Database           | Database.db

[2018-11-27 12:37] jeffchulg opened #1852 "Move solution to its own schema"
**Do you want to request a *feature* or report a *bug*?**
If you're reporting a bug, include the version number of the script you're using. If it's not the current version, upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build.

Move all objects related to first responder kit to its own schema, so that any resource is isolated from any other

[2018-11-27 12:39] BrentOzar commented on #1852
What's the problem we're trying to solve?

I want to make sure the problem is severe enough that it warrants breaking a lot of peoples' scripts and blog posts which already call out dbo.

[2018-11-27 12:49] jeffchulg commented on #1852
There is no actual problem.

My point is that it could be cool to avoid object name collisions between eventual projects we put inside our "dbatools" database.

The same kind of discussion has been opened by Ola Hallengren (https://github.com/olahallengren/sql-server-maintenance-solution/issues/91)

[2018-11-27 12:55] BrentOzar commented on #1852
OK, gotcha. If there's not a problem, we're going to avoid changing it. If we changed it, it would *immediately* cause documentation problems for people who've already put a lot of work into this. Thanks though.

[2018-11-27 12:55] #1852 closed

[2018-11-27 16:44] dbaWJW commented on #1041
Please consider excluding application name "SQL Monitor - Monitoring", which is RedGate SQL Monitor, in the sp_Blitz section pertaining to Overall count of DBCC events.   Would need this added criteria added as I see it for my install:

   AND  d.application_name NOT LIKE '%SQL Monitor - Monitoring%'

[2018-11-27 16:47] BlitzErik commented on #1041
@dbaWJW can you open a new issue for this?

[2018-11-27 16:52] dbaWJW opened #1853 "sp_Blitz: DBCC command check should skip monitoring tools, additional exclusion"
New item pertaining to #1041

Please consider an additional exclusion of application name "SQL Monitor - Monitoring", which is RedGate SQL Monitor, in the sp_Blitz section pertaining to Overall count of DBCC events.

Would need this criteria added, as I see it, based on my install:

AND d.application_name NOT LIKE '%SQL Monitor - Monitoring%'

[2018-11-27 16:54] BlitzErik commented on #1853
Thanks, will get this in the next release.

[2018-11-28 10:01] ShawnCrocker opened #1854 "sp_databaserestore: Improve @MoveFiles behaviour"
**Do you want to request a *feature* or report a *bug*?**
Request

**What is the current behavior?**
Personally, I almost always have to set @MoveFiles = 1

**What is the expected behavior?**

***Option 1***
Change @MoveFiles to default NULL
..
If @MoveFiles IS NOT NULL, just use it as-is
If @RestoreDatabaseName= @DBName and @MoveFiles IS NULL, set @MoveFiles = 0
If @RestoreDatabaseName<> @DBName,

[2018-11-29 11:44] BrentOzar commented on #1851
@avdbosch for support questions, you're best off asking a question in Slack. Here's how to get started: https://www.brentozar.com/support/

The query hash is in the second result set of sp_BlitzLock, down at the bottom half of your screen. Keep reading down.

[2018-11-29 11:46] BrentOzar commented on #1851
@RichBenner sure, if you want to code that, that sounds interesting - give 'er a shot. Thanks sir!

[2018-11-29 11:47] BrentOzar commented on #1854
Oh, that's interesting - yeah, I agree that option 1 makes sense.

[2018-11-29 11:49] BrentOzar commented on #1845
Sorry about that, and thanks for the report! Fixed.

[2018-11-29 11:49] #1845 closed

[2018-11-29 16:57] BlitzErik commented on #1850
BlitzCache:
- https://support.microsoft.com/en-us/help/3170115/information-about-enabled-trace-flags-is-added-to-the-showplan-xml-in
- https://support.microsoft.com/en-us/help/4051361/optimizer-row-goal-information-in-query-execution-plan-added-in-sql-se

Blitz:
![image](https://user-images.githubusercontent.com/11590415/49238209-f0499700-f3cd-11e8-9a2d-abadaa2cb8fe.png)

[2018-11-29 17:54] BlitzErik commented on #1850
Hm. That column doesn't appear to be in 2014 SP3.

[2018-11-29 18:09] #1850 closed

[2018-11-29 18:12] #1853 closed

[2018-11-29 18:17] BlitzErik commented on #1750
@CurryEleison I'm going to close this out for now, since we haven't heard from you since September.

If you wanna get it to us at any point, just open a new issue and reference this one.

Thanks!

[2018-11-29 18:17] #1750 closed

[2018-11-29 19:39] #1809 closed

[2018-11-29 20:06] #1849 closed

[2018-11-29 20:29] #1851 closed, assigned to RichBenner

[2018-11-29 21:22] BlitzErik opened #1859 "Better compatibility with Azure"
BlitzQueryStore and BlitzLock can both work here, just need to tweak a couple things.

[2018-11-29 21:32] #1859 closed

[2018-11-29 21:37] BlitzErik commented on #1842
Closed via #1860

[2018-11-29 21:37] #1842 closed

[2018-11-29 21:43] #1827 closed

[2018-11-30 00:12] BlitzErik opened #1861 "sp_ineachdb - Add MIT license info, etc."
Nothing major, just good to have in there.

[2018-11-30 09:20] ShawnCrocker commented on #1854
I prefer option 2 (I made that upü as I wrote the request)

Any tie breaking opinions? Otherwise I'll go with what the boss says

[2018-11-30 11:08] BrentOzar commented on #1854
Oh sure, I’m okay with #2 too. They’re both good.

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2018-11-30 15:26] BlitzErik opened #1862 "sp_BlitzLock -- Any way to speed up initial XML grab?"
When we hit the system health XE, the plan is pretty stupid. Wondering if it's faster to filter the initial XML set, or do it afterwards? Might have to set up a process that'll generate a lot of deadlocks to test.

[2018-11-30 19:29] BlitzErik opened #1863 "sp_BlitzCache -- assign function parent to statement"
It occurred to me while adding the code to search for additional objects that we could also assign parent object names to statements the way we do stored procs. Has to be dynamic SQL for 2016+.

[2018-11-30 19:51] #1863 closed

[2018-11-30 20:16] BlitzErik opened #1865 "sp_BlitzLock - try to match Agent Job if possible"
When this comes back, try to track down the Job info:

![image](https://user-images.githubusercontent.com/11590415/49312684-e483d080-f4b2-11e8-9583-1d9e3058637a.png)

[2018-12-04 17:43] #1862 closed

[2018-12-04 17:45] #1865 closed

[2018-12-04 19:01] #1861 closed

[2018-12-05 14:22] BlitzErik opened #1868 "sp_ineachdb - sys.sp_MS_marksystemobject doesn't work in Azure/maybe RDS?"
🍁 👎

[2018-12-05 14:26] BlitzErik opened #1869 "sp_BlitzFirst - ignore PREEMPTIVE_XE_DISPATCHER?"
I don't think seeing this has helped with anything.

[2018-12-05 14:31] BlitzErik opened #1870 "sp_Blitz - don't fire warnings about alerts in MI"
There are no alerts there, like RDS.

[2018-12-05 14:51] BlitzErik opened #1871 "sp_BlitzFirst - Database size is NULL in Managed Instances"
SinceStartup = 1 shows this

[2018-12-05 16:55] BlitzErik opened #1872 "sp_BlitzCache/bqs -- Occasional failure when checking database validity"
If you run sp_BlitzCache/BQS from the context of a user database, and supply the database name of a different user database, you will occasionally get this error:

[code]

It looks like this is caused by collation, or something, though I'm not sure why since the results are ONLINE, but whatever. This is workaround-able by prefixing the proc: `master.dbo.sp_BlitzCache`

Which is fine, but which mig

[2018-12-05 16:58] #1872 closed

[2018-12-05 17:58] BrentOzar opened #1874 "sp_Blitz: capitalize No failsafe operator warning"
**Version of the script**
(Current)

**What is the current behavior?**
No failsafe operator warning is lower case. I would type more, but I'm in front of an audience.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Which versions of SQL Server and which OS are affected by this issue? Did this work in previous versions of our proc

[2018-12-05 18:00] BlitzErik commented on #1874
Brent will hug the first attendee who fixes the issue before his session is over.

[2018-12-05 18:10] #1874 closed

[2018-12-05 18:39] BlitzErik commented on #1868
This proc exists in RDS, but errors when you run it.

[2018-12-05 18:59] BrentOzar commented on #1874
HAHAHA

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2018-12-05 19:17] jadarnel27 commented on #1874
*Brent hugs himself*

[2018-12-05 22:37] BlitzErik commented on #1868
Some more notes:
 - This and `sp_foreachdb` should totally bail in Azure
 - RDS should still be okay, but maybe it can't run in all databases
 - Hasn't been tested without being marked as a system proc, same with `sp_foreachdb`

[2018-12-05 23:24] xHedra opened #1876 "Collation issue in sp_BlitzLock"
**Version of the script**
1.12 - 20181201

**What is the current behavior?**
The stp does not complete and returns the following error message

Msg 451, Level 16, State 1, Procedure sp_BlitzLock, Line 798
Cannot resolve collation conflict between "SQL_Latin1_General_CP1_CI_AI" and "SQL_Latin1_General_CP1_CI_AS" in UNION ALL operator occurring in SELECT statement column 8.
Msg 451, Level 16, State

[2018-12-05 23:45] BlitzErik commented on #1876
Thanks for submitting this. Were you planning on working on a fix?

[2018-12-06 16:49] BlitzErik opened #1877 "sp_BlitzIndex - show uptime somewhere"
Somewhere up in the top row, it would be helpful to display how many days the server has been up as a reference (especially for the estimated benefit per day part of missing index requests,).
.
.
.............

[2018-12-06 17:31] davidflett opened #1878 "Unable to apply scripts on AzureSQL instance"
I have been having issues applying the sp_BlitzFirst script (as of the current dev branch I believe) on an Azure SQL database instance.

With a bit of investigation it seems like the blocks of code which check for the azure instance, do not give the expected results, eg:

`SERVERPROPERTY('Edition') = 'SQL Azure'` & `SERVERPROPERTY('Edition') <> 'SQL Azure'`

For example, if I run `SELECT SERVERPRO

[2018-12-06 17:38] davidflett commented on #1878
I found I have access to another machine which I believe is hosted in "North Europe".

It gives the same result for both queries.

Just to be complete, these are the queries I am running:

[code]

[2018-12-06 18:03] BlitzErik commented on #1878
@davidflett can you check the collations?

[2018-12-06 18:52] davidflett commented on #1878
The master database for the UK South one is `SQL_Latin1_General_CP1_CI_AS`.

I'm not quite sure what you mean by user database, do you mean the database I'm trying to get this to run on?

[2018-12-06 18:53] BlitzErik commented on #1878
Yep, that's the one.

[2018-12-06 18:56] davidflett commented on #1878
Ah, well that's also `SQL_Latin1_General_CP1_CI_AS` as that's what I was running it on before.

[2018-12-06 19:04] BlitzErik commented on #1878
This is weird for three reasons:

1. I just did a round of testing installing the scripts in Azure SQLDB, and didn't run into issues
2. When I've run into issues with property functions, it's been because of conflicting database collations
3. I'm on our Azure instance now, and able to install it normally:

![image](https://user-images.githubusercontent.com/11590415/49605868-be04e000-f95f-11e8-9c07

[2018-12-06 21:31] davidflett commented on #1878
This looks a little specific to my specific instance.

This is the user database:

![image](https://user-images.githubusercontent.com/2144239/49612777-a77d7980-f99d-11e8-8eee-e37e6c5374ad.png)

However I noticed that in the database properties, there is a different collation:

![image](https://user-images.githubusercontent.com/2144239/49612837-c976fc00-f99d-11e8-9073-afe6b8a65321.png)

This partic

[2018-12-06 21:50] BrentOzar commented on #1878
Gotcha. You’re confusing a couple of things here: server collation and database collation. Server collation is the collation for the system databases. When you query for a system property - even in a user database - you’re seeing the system collation.

Generally speaking, when you set up a server, you want to use the same collation in your system databases that you use in your user databases. When

[2018-12-09 12:54] tboggiano opened #1879 "sp_BlitzQueryStore group by query_id"
**Is your feature request related to a problem? Please describe.**
When troubleshooting bad queries it would be helpful to have each query is split out by plan_id and some of my queries have 16 different plans so don't show up in the top X of queries.

**Describe the solution you'd like**
An option to group results by query_id and have a plan count or plan concatenated column instead of having eac

[2018-12-09 21:35] BlitzErik opened #1880 "sp_BlitzIndex - check for filtered indexes missing columns from the definition"
Thanks to @jobbish-sql for figuring the query out, and @jadarnel27 for putting together an [easy Q&A](https://dba.stackexchange.com/questions/224149/should-the-filtering-columns-always-be-in-the-keys-includes) for the documentation page.

[2018-12-10 20:53] imyourdba opened #1883 "sp_blitzindex warning about a heap with a nonclustered PK that might not be a heap"
**Version of the script**
6.12
20181201

**What is the current behavior?**
Priority 100 - Self Loathing Indexes: Heap with a Nonclustered Primary Key
This is showing "Heap with a NC PK", but the table has a clustered index, so it isn't a Heap.  Should the finding say something different or are we just lumping this in?

**If the current behavior is a bug, please provide the steps to reproduce.**
To

[2018-12-10 21:01] BrentOzar commented on #1883
I'm not seeing that. Your script doesn't insert any rows in the table, so it won't show up in sp_BlitzIndex's output. This one does:

[code]

But the output doesn't show anything about a heap with a nonclustered primary key:

![screen shot 2018-12-10 at 1 01 01 pm](https://user-images.githubusercontent.com/245462/49761338-abe6b280-fc7b-11e8-9df5-be096882e73b.png)

Can you try to produce a working

[2018-12-10 22:03] imyourdba commented on #1883
Here is the output for the row.  The code I provided before was the actual create statements generated from SSMS by right clicking and scripting the create statements for the table and indexes.  I'll see if I can create a new table with the same scripting and reproduce the same output.

**Priority:** 100
**Finding:** Self Loathing Indexes: Heap with a Nonclustered Primary Key
**Database Name:** {D

[2018-12-10 22:35] imyourdba commented on #1883
Here is a generated script of a new database with a new table built just for the purposes of illustrating the issue.

[sp_BlitzIndex Test Database.zip](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/files/2665213/sp_BlitzIndex.Test.Database.zip)

[2018-12-10 22:36] imyourdba commented on #1883
![image](https://user-images.githubusercontent.com/32579014/49766073-c6c81f80-fc99-11e8-8d06-7f9bcf02c776.png)

[2018-12-10 23:48] BrentOzar commented on #1883
Um...this is a ten thousand line file with sp_BlitzCache in it?

[2018-12-11 01:34] BlitzErik commented on #1883
It's not flagging all of them incorrectly, just yours, because you have a column called "CustomerID" and it's in the "Secret Columns" column of the output, that you didn't include in the screenshot.

When the code looks for `AND i.secret_columns LIKE '%RID%'`, it finds that row.

[2018-12-11 01:38] BlitzErik commented on #1883
@BrentOzar  you repro script catches it if you change it a little:

[code]

[2018-12-11 02:09] BlitzErik commented on #1883
@imyourdba can you confirm the version here works for you?

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/pull/1884/files

[2018-12-11 02:42] imyourdba commented on #1883
Yes sir, that removed it

[2018-12-11 15:10] RichBenner opened #1887 "sp_BlitzLock - NO_PERFORMANCE_SPOOL"
**Version of the script**
current dev script (1.12)

**What is the current behavior?**
syntax error when installing, NO_PERFORMANCE_SPOOL isn't available on my 2012 or earlier boxes (i don't have a 2014 box to test it on). Works fine on 2016<

**If the current behavior is a bug, please provide the steps to reproduce.**
Try to install on an older box, you'll get this error;

Msg 102, Level 15, Stat

[2018-12-11 15:13] BlitzErik commented on #1887
This is the dev branch, right?

[2018-12-11 15:14] RichBenner commented on #1887
yeah, should have made that clearer, sorry

[2018-12-11 15:56] BlitzErik commented on #1887
You can pull it out if you want, I don't think it's doing a whole lot.

[2018-12-11 16:02] #1880 closed

[2018-12-11 16:02] #1883 closed

[2018-12-11 16:04] #1854 closed

[2018-12-11 23:45] #1887 closed

[2018-12-12 01:15] #1868 closed

[2018-12-12 01:15] #1877 closed

[2018-12-12 01:15] #1869 closed

[2018-12-12 01:15] #1876 closed, assigned to BlitzErik

[2018-12-12 01:16] BlitzErik commented on #1878
Gonna close this one out for now since we haven't heard back from you. Feel free to open a new issue and reference this one if you want to work on it.

[2018-12-12 01:16] #1878 closed

[2018-12-12 09:15] RichBenner commented on #1887
Thanks for doing that Erik, I was away from my desk last night.

[2018-12-12 14:43] BlitzErik commented on #1870
Closing this for now. The wording seems to imply that it will be supported down the line. https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information#sql-server-agent

[2018-12-12 14:43] #1870 closed

[2018-12-12 16:45] #1832 closed

[2018-12-12 16:45] #1879 closed

[2018-12-13 03:45] pwsqldba opened #1893 "Incorrect control-of-flow code block and help text in sp_foreachdb"
Version 2.12, dated 20181201.

When executing the script, SQL Server throws an error when attempting to complete the ALTER PROCEDURE:

-----------
Msg 102, Level 15, State 1, Procedure sp_foreachdb, Line 266 [Batch Start Line 6]
Incorrect syntax near 'END'.
-----------

This is caused by a control-of-flow code block opened with BEGIN on line 44, but not closed with an END on line 90.

Additionally

[2018-12-13 12:06] BlitzErik commented on #1893
Thanks!

[2018-12-13 12:12] #1893 closed

[2018-12-13 12:34] BlitzErik commented on #296
Notes to self:
 - Use a VM because I don't want any Hekaton code paths opened up on an instance I normally use
 - Compare output of BlitzIndex to output of sp_BlitzInMemory
 - Make sure I check different kinds of in memory indexes
 - Check clustered and nonclustered columnstore
 - Figure out how to even create and index spatial data (there might be examples in AW?)
 - There are a bunch of differen

[2018-12-14 14:29] ShawnCrocker opened #1894 "sp_DatabaseRestore: validate @Database against FULL backup file"
**Version of the script**
Commit from Issue 1185

**What is the current behavior?**
Imagine one of these calls

EXEC _DBA.dbo.sp_DatabaseRestore
    @Database = 'SomeDB',
    @RestoreDatabaseName = 'SomeDB**Test**'
    @BackupPathFull = '\\blah\SomeDB**Copy**',
    @MoveFiles = 1,
   ...
 or

EXEC _DBA.dbo.sp_DatabaseRestore
    @Database = 'SomeDB',
    @BackupPathFull = '\\blah\SomeDB**Copy**',

[2018-12-20 09:06] jeffchulg opened #1895 "Installation of sp_foreachdb and sp_ineachdb in MASTER database"
**Version of the script**
sp_foreachdb @Version = '2.12'; @VersionDate = '20181201';
sp_ineachdb @Version = '1.12'; @VersionDate = '20181201';

**What is the current behavior?**
Installs in MASTER database

**If the current behavior is a bug, please provide the steps to reproduce.**
run the script
**What is the expected behavior?**

In my opinion, the installation should be without specifying the

[2018-12-22 15:18] #1895 closed

[2018-12-24 12:07] MisterZeus opened #1897 "sp_Blitz - missing info page: https://www.brentozar.com/go/reportservertempdb/"
**Version of the script**
sp_Blitz (TM) v41 as of Jun 18 2015 12:00AM

**What is the current behavior?**
URL goes to 404 page. The URL is from Check 127 in sp_Blitz

**If the current behavior is a bug, please provide the steps to reproduce.**
Go to https://www.brentozar.com/go/reportservertempdb/

**What is the expected behavior?**
A page describing the problem and steps to fix it.

[2018-12-24 12:40] BrentOzar commented on #1897
Great catch! Sorry about that, and fixed. Brent

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2018-12-26 15:37] #1897 closed

[2018-12-26 22:01] GustavoFischer opened #1898 "sp_Blitz not working on Azure PAAS (Azure SQL Databases)"
**Version of the script**
Version 7.1 (comes from the future as it says 20190101)

**What is the current behavior?**
Msg 40515, Level 15, State 1, Procedure sp_Blitz, Line 16 [Batch Start Line 3]
Reference to database and/or server name in 'master.sys.databases' is not supported in this version of SQL Server.

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a da

[2018-12-26 22:02] BrentOzar commented on #1898
Correct, check the readme on the home page here - Azure SQL DB isn’t supported. Brent

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2018-12-26 22:02] #1898 closed

[2018-12-27 14:16] GustavoFischer commented on #1898
Thank you and sorry to bother. Could this be added to the readme/known issues in-script?

[2018-12-27 14:18] BrentOzar commented on #1898
Sure, follow the instructions in the contributing guide and you can actually do that work if it’s important to you. (This is the fun thing about open source - your contributions are totally welcome!)

[2018-12-31 17:51] jadarnel27 opened #1899 "Tweak Criteria for "Busy Loops" Warnings in BlitzCache"
**Is your feature request related to a problem? Please describe.**
I noticed the BlitzCache ["busy loops" warning](https://www.brentozar.com/blitzcache/busy-loops/) on a stored procedure.  Here's the "Details" from that result for reference:

However, the operators in question had estimated rows of "0" and estimated execution of "1."  Running the query from the linked help page results in:

|node_

[2018-12-31 19:11] BlitzErik commented on #1899
Yep, this should be a pretty easy fix. Go for it!

[2018-12-31 19:47] jadarnel27 commented on #1899
Cool, I'll get it knocked out.

[2019-01-02 13:20] BrentOzar opened #1900 "sp_BlitzIndex: add statistics histograms for table-level detail"
**Is your feature request related to a problem? Please describe.**
When I'm explaining index designs, I like showing the selectivity of different indexes. It's a little painful to run DBCC SHOW_STATISTICS for each stat, or bust out DMV queries.

**Describe the solution you'd like**
When I run:

`sp_BlitzIndex @TableName = 'Users'`

When sys.dm_db_stats_histogram is available (2016+), I'd like to a

[2019-01-02 13:55] BrentOzar commented on #1900
Done! Here's what it looks like:

![screen shot 2019-01-02 at 5 54 26 am](https://user-images.githubusercontent.com/245462/50594815-e5fa3d00-0e52-11e9-9e27-19b3b58d4e89.png)

Not totally proud of the non-normalized format for last update date on stats, but I know that's the first thing people are gonna ask for.

[2019-01-03 12:43] #1900 closed

[2019-01-04 15:03] BrentOzar opened #1903 "sp_Blitz: Switch Critical Care Collector name to SQLServerCheckup"
**Is your feature request related to a problem? Please describe.**
When looking at DBCC events, we filter out application_name:

			AND d.application_name NOT LIKE 'Critical Care(R) Collector'

Need to add another line for:

			AND d.application_name NOT LIKE 'SQL Server Checkup'

[2019-01-04 15:03] M-Ron opened #1904 "sp_BlitzBackups should throw an error when it fails"
**Version of the script**
Bug in sp_BlitzBackups - (2.10)

**What is the current behavior?**
When executing sp_BlitzBackups from a SQL Agent job, it does not cause the job to fail if sp_BlitzBackups does not complete successfully.

**If the current behavior is a bug, please provide the steps to reproduce.**
For example if I were to execute this on a newly installed SQL Server without having first

[2019-01-04 15:31] BrentOzar opened #1905 "sp_BlitzIndex @Mode 4: remove BrentOzar.com link"
When @Mode 4 doesn't find any results, the Details column says:

http://www.BrentOzar.com/BlitzIndex | Server: SQL2017B Days Uptime: 0.83
-- | --
Time to go read some blog posts. | Server: SQL2017B Days Uptime: 0.83

Need to change it to:

http://FirstResponderKit.org | Server: SQL2017B Days Uptime: 0.83
-- | --

[2019-01-04 15:41] #1903 closed

[2019-01-04 15:44] #1905 closed

[2019-01-04 15:46] BrentOzar commented on #1904
M-Ron - thanks, but this isn't really free consulting here, unfortunately. You're absolutely welcome to point out the specific lines that need to be changed, and how to change them, but if you need a change made, you do need to roll up your sleeves and help. Is this something you want to tackle?

[2019-01-04 16:18] BrentOzar opened #1908 "Update copyright dates to 2019"
Glamorous.

[2019-01-04 16:23] #1908 closed

[2019-01-04 17:03] M-Ron opened #1910 "sp_BlitzFirst throws an error if it calls sp_BlitzCache with @SortOrder = 'memory grant' for SQL Server versions that do not support it"
**Version of the script**
Bug in sp_BlitzFirst - (6.10)

**What is the current behavior?**
When triggering sp_BlitzFirst as part of a SQL Agent job, this fails at the same time every day with this error:
	"Your version of SQL does not support sorting by memory grant or average memory grant. Please use another sort order."
While this error is valid based on the triggered query (i.e. sp_BlitzCache @

[2019-01-04 17:55] M-Ron commented on #1904
'free consulting', ha!  I'd never think of it.  The T-SQL change is quite straight forward, I can make the change.   I'd just need to get up the GiHub learning curve...

[2019-01-04 20:30] M-Ron commented on #1904
I have created my first Pull request for this issue.  Let me know if I missed anything.  Thanks!

[2019-01-04 23:12] BrentOzar commented on #1904
Great job! Congratulations on getting your first (two!) pull requests accepted. Thumbs up! Now go enjoy the beverage of your choice for the weekend. This will be in the Feb release of the First Responder Kit, and we'll credit you in the announcement.

[2019-01-04 23:12] #1904 closed

[2019-01-04 23:13] BrentOzar commented on #1910
Great job! Congratulations on getting your first (two!) pull requests accepted. Thumbs up! Now go enjoy the beverage of your choice for the weekend. This will be in the Feb release of the First Responder Kit, and we'll credit you in the announcement.

[2019-01-04 23:13] #1910 closed

[2019-01-08 23:44] BrentOzar opened #1914 "sp_BlitzIndex: lower severity level for > 100 partitions"
When sp_BlitzIndex detects over 100 partitions, it returns an error:

[code]

Let's go with a lower severity level (0) since we're injecting a line in the findings about skipping partitions anyway.

[2019-01-08 23:47] #1914 closed

[2019-01-09 09:19] HenrikStaunPoulsen opened #1916 "False alarm "x backups done on drive y:\ in the last two weeks, where database files also live. This represents a serious risk if that array fails.""
**Version of the script**
7.1 dated 20190101

**What is the current behavior?**
if reports
x backups done on drive y:\ in the last two weeks, where database files also live. This represents a serious risk if that array fails."
even if there are no databases on the y: drive _EXCEPT TempDb_

**If the current behavior is a bug, please provide the steps to reproduce.**
put tempdb on its own drive. bac

[2019-01-09 11:50] #1916 closed

[2019-01-09 11:51] BrentOzar commented on #1916
Great catch, and great bug report! You made the fix really easy, so I went ahead and did it. It's in the dev branch now, and it'll be in the next release. Thanks sir!

[2019-01-10 01:32] #1894 closed

[2019-01-10 01:32] BrentOzar commented on #1894
Nice job. Thanks, sir!

[2019-01-10 14:19] HenrikStaunPoulsen commented on #1916
great, then I did not have to learn to use GitHub, again.

[2019-01-10 16:08] Steve-OC opened #1918 "Databases with >32K Users"
**Version of the script**
Look in the stored procedure, and it'll have a version date & number near the top. Put that in here. If it's not the current version (dated in the last month), then upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build. We'll flat out close bug reports for older builds.

**What is the current behavior?**

**If the cu

[2019-01-10 16:11] Steve-OC commented on #1918
I am getting an error at CheckID 86 which I presume is related to the fact that one of our DBs has over 32K users in it (and each user relates to a SQL Server Login (as delivered by the package vendor).
Here is what I see in Debug Mode.

Running CheckId [86].
Msg 220, Level 16, State 1, Line 3
Arithmetic overflow error for data type smallint, value = 38906.
The statement has been terminated.
Runni

[2019-01-12 19:22] JocaPC opened #1919 "sp_Blitz updates specific for Azure SQL ManagedInstance"
There are some Azure SQL Managed Instance-specific changes that might be applied in sp_blitz:

1. In Azure SQL Managed Instance "sa" is disabled and the name of the real admin is specified when the instance is created. There are some info/warnings in sp_blitz that warn me that I'm not using "sa":
   - https://BrentOzar.com/go/sa - Login [.....] is a sysadmin - meaning they can do absolutely anythi

[2019-01-12 19:34] BrentOzar commented on #1919
For the login being a sysadmin - that is actually a legit warning. We want to warn folks of all sysadmins on the system. Is there a hard-coded MI sysadmin name that should be ignored on MIs?

[2019-01-12 19:44] BrentOzar commented on #1919
I've added a pull request with the changes. You can see 'em here:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/pull/1920/files

And you can download the updated version of sp_Blitz here:

https://raw.githubusercontent.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/a1d1d7a77415d49d1280b0a6c5570ce6d0489cd8/sp_Blitz.sql

There was already a section around line 343 that skipped s

[2019-01-12 20:33] JocaPC commented on #1919
I tried it and looks good.

There is no PITR for MSDB so I agree with MSDB decision.
I will need to check is it possible to use TSQL to determine who is sql admin set via portal (we are checking this in the background, but I don't see any user-visible flag in sys views for this login). For now, let's keep this warning, and I will file another issue once I find a way to distinguish the default sql

[2019-01-13 09:46] JocaPC commented on #1919
Another interesting thing I noticed - sp_Blitz told me that:
MSDB Backup History Not Purged - Database backup history retained back to **Jul 25 2014  1:14PM**

It seems that I restored old .bak file and info about the backup is placed in backupset table although this date is earlier than the time I created MI.
Since Azure is handling backups and backup space, I'm not sure is this applicable to MI:

[2019-01-13 14:22] BrentOzar commented on #1919
About the RCSI - can you include screenshots or a full copy/paste of the entire row from sp_Blitz when you report these? The full details (including the CheckID) are really helpful. I'm not seeing how it would fire, but I don't have an MI handy to test this (we talked about how having small or dev editions of this would really help, hint hint, hahaha.)

About MSDB - ooo, great catch! I've never se

[2019-01-13 18:58] BrentOzar opened #1921 "sp_BlitzIndex @Mode 2: add commands to drop, create index"
**Is your feature request related to a problem? Please describe.**
When I'm doing index tuning, I end up dropping indexes, plus I want to have an undo script to create them again if something goes wrong.

**Describe the solution you'd like**
For @Mode = 2, add columns for Drop Index and Create Index, populated with the commands to drop and recreate separately.

**Are you ready to build the code fo

[2019-01-14 13:12] #1765 closed

[2019-01-14 13:13] BrentOzar commented on #1254
Joe - did you want to move forward building this? If not, no worries - I'll close the issue. (Just didn't want to leave it lying around - it sounds pretty ambitious.)

[2019-01-14 14:37] JocaPC commented on #1919
I apologize, I made a mistake - RSCI is not default settings on MI. It seems that we decided to align with the SQL Server instead of Azure Singleton in this case, so this change should be reverted. I don't believe that this default will be changed in the near future. I debugged the script in sp_blitz and then I found the issue.

The thing that confused me was that check reported 'Enabled' while so

[2019-01-14 18:57] BrentOzar commented on #1919
OK, great! That's a good point about the "Enabled" wording on RCSI - I made those changes, and merged it into dev. This is now in the dev branch, and we'll do a release first thing in February and credit you. Thanks for the help!

[2019-01-14 18:57] #1919 closed

[2019-01-15 04:54] jobbish-sql commented on #1254
Hi Brent,

Okay to close. 2018 didn't go as planned and I ended up not making a lot of
progress on this.

On Mon, Jan 14, 2019 at 7:13 AM Brent Ozar <notifications@github.com> wrote:

[2019-01-15 12:04] BrentOzar commented on #1254
No worries at all! Just reading the issue made me tired, heh. It was ambitious. Thanks sir.

[2019-01-15 12:04] #1254 closed

[2019-01-17 12:51] Jhiggin commented on #1921
Hey @BrentOzar , Just dropping in as requested from Slack.  Seems like a pretty straight-forward change.  One question I do have as far as for visuals.  If the table is a heap,  would you say that the Drop Tsql column and the Create Tsql column should be blank or would you prefer to have a string in the column?  Example below for reference.

![image](https://user-images.githubusercontent.com/36967

[2019-01-17 13:01] BrentOzar commented on #1921
Oh great question - if it's a heap, yeah, it should be blank. Perfect! Thanks sir.

[2019-01-17 13:02] BrentOzar commented on #1921
Oh dang it, I can't assign you in here for some reason. Ah, at least people who find it will see that you're working on it!

[2019-01-17 13:20] Jhiggin commented on #1921
No worries.  Thanks again.

[2019-01-17 13:56] Dbakevlar opened #1922 "Slow Data Refreshes, Recommendation to Move to Direct Query"
Left intentionally blank.

[2019-01-17 14:06] Dbakevlar commented on #1922
Although there are other performance improvements that can be done, the data refresh once data begins to grow in the SQL database is one of large impact.  A peer of mine asked if I could look into it, using a copy of her database and dashboard.  Once the database reaches 20Gb + data refreshes can take hours or not return at all, (depending on the resources allocated to the desktop, data load cachi

[2019-01-17 18:22] Jhiggin commented on #1921
Pull request has been generated for code changes.  Let me know if this will work.  This is my first time trying to contribute to a project.  But believe I covered everything required.

[2019-01-17 19:22] BrentOzar commented on #1921
Great job, looks good! Merged, and I'll credit you in the next release. Thanks! That's a lot better than my first pull request went, hahaha!

[2019-01-18 02:16] rknight29 opened #1925 "sp_blitz incorrectly excludes checks on EC2 VM with default name"
**Version of the script**
7.1

**What is the current behavior?**
When running on an EC2 VM (actually an AWS workspace in this case) it will exclude the checks that don't work on RDS.  This is because it is looking at the server name to decide if its RDS or not.

**If the current behavior is a bug, please provide the steps to reproduce.**
Run on any server with a hostname staring with EC2AMAZ-.  It

[2019-01-18 14:39] BrentOzar commented on #1925
Awwww, c'mon, man, you're not even bothering to change your server names? ;-)

Yeah, I bet I can reverse engineer it based on some of the system objects they put in. I'll spin one up and check.

[2019-01-18 15:54] BrentOzar commented on #1925
Fixed. The dev branch now detects RDS by also looking for:

[code]

And then also adds a priority 0 (top) result noting that checks were skipped because RDS was detected. Also added that for Express Edition and Azure SQL DB Managed Instances while I was in there.

[2019-01-18 15:54] #1925 closed

[2019-01-18 15:56] BrentOzar commented on #1925
![screen shot 2019-01-18 at 7 56 11 am](https://user-images.githubusercontent.com/245462/51397706-9ecca700-1af6-11e9-982b-01d5b315cfb5.png)

[2019-01-18 16:41] BrentOzar opened #1927 "sp_BlitzIndex @GetAllDatabases = 1 failing in AWS RDS"
**Version of the script**
Jan 2019

**What is the current behavior?**
Run it with @GetAllDatabases = 1, and you get:

[code]

[2019-01-18 16:48] #1927 closed

[2019-01-18 17:36] rknight29 commented on #1925
It is admittedly an edge case ha.

From: Brent Ozar <notifications@github.com>
Sent: Friday, January 18, 2019 6:39 AM
To: BrentOzarULTD/SQL-Server-First-Responder-Kit <SQL-Server-First-Responder-Kit@noreply.github.com>
Cc: Randy Knight <randy@sqlsolutionsgroup.com>; Author <author@noreply.github.com>
Subject: Re: [BrentOzarULTD/SQL-Server-First-Responder-Kit] sp_blitz incorrectly excludes checks o

[2019-01-22 09:03] DatAssCode opened #1929 "sp_BlitzCache: An INSERT EXEC statement cannot be nested"
I'm running sp_BlitzCache, Version 6.12, in a wrapper procedure to store the query data. I'm getting a nester insert exec error as there is an insert exec, moving the insert into the dynamic SQL fixes the issue.

The insert exec is here:
https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/89ceb09c62b2074ff82c956a59151a439ec53345/sp_BlitzCache.sql#L1566

[2019-01-22 11:07] BrentOzar commented on #1929
Oh neat! It's cool that you're using it that way, very interesting. Sure, if you'd like to code that, check out the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

And if you have any questions, let me know. If you decide you don't wanna do it, no worries, just let me know and I can close the issue.

[2019-01-23 13:14] DatAssCode commented on #1929
Thanks for the response, I didn't realize I could make changes. I'll follow the contributing guide :D

[2019-01-23 21:36] Jhiggin commented on #1918
Steve, Is this still something you want addressed?  If so, I can make the change if you are not free to do so.  Would just need you to test to verify that it resolves your issue as I don't have something of that scale to test with.  LMK.

[2019-01-24 08:17] Steve-OC commented on #1918
Hello Joshua.

Thanks for the offer of assistance.
It would be great if you could do so as I am totally new to Github.

Thanks
Steve.O.

⁣Sent from BlueMail ​

On 23 Jan 2019, 21:36, at 21:36, Joshua Higginbotham <notifications@github.com> wrote:

[2019-01-24 11:10] Jhiggin commented on #1918
Cool, I’ll get started and send you a link to a copy when its ready for testing.

[2019-01-24 22:34] Jhiggin commented on #1918
Steve, a test version of the sp_blitz procedure can be found at the below link.  Give it a try and let me know if this fixes your issue.  Had to swap out the sysusers view for the database_principals table due a the uid column in the view being a smallint data type.

https://github.com/Jhiggin/SQL-Server-First-Responder-Kit/blob/BrentOzarULTD%231918/sp_Blitz.sql

[2019-01-25 12:45] Steve-OC commented on #1918
Thanks Joshua.

I am running the new version on Test and it doesn't error - however I don't have > 32K users in MSDB in Test so I guess this is
where it trips in Live, where we do. So really I am only regression testing in Test - the acid test is to rerun in Live later.
Yes the deprecated views seem to have an issue - sysprocesses also uses a smallint and this caused Solarwinds DPA
Blocking Displa

[2019-01-26 14:28] BrentOzar opened #1930 "sp_BlitzCache @SortOrder = 'executions' only returning 1 row when duplicate hashes exist"
**Version of the script**
Dev branch, most current code, VersionDate = 20190101 (also verified that it happens in the master branch from the Jan release.)

**What is the current behavior?**
Run sp_BlitzCache @SortOrder = 'executions' and it only returns one row, even when multiple queries are in the plan cache. Ran it with @Debug = 1, verified that the temp tables aren't getting populated correctl

[2019-01-28 20:03] imyourdba opened #1933 "sp_BlitzIndex DaysUptimeInsertValue variable NULL against Azure SQL DB"
**Version of the script**
7.2 (20190128)

**What is the current behavior?**
Throws a NULL value error:

check_id 120: Check Constraints That Reference Functions
Insert a row to help people find help
Failure analyzing temp tables.
Msg 50000, Level 16, State 2, Procedure dbo.sp_BlitzIndex, Line 4892 [Batch Start Line 0]
Cannot insert the value NULL into column 'index_definition', table 'tempdb.dbo.#

[2019-01-28 20:08] imyourdba commented on #1933
Just tested and it also throws the error at the same place in version 7.1 (20190101)

[2019-01-29 12:20] #1933 closed

[2019-01-29 12:21] BrentOzar commented on #1933
Great, thanks for the code! Committed the change, and it's in the dev branch now.

[2019-01-29 12:28] BrentOzar opened #1935 "sp_BlitzCache: compatibility with Azure SQL DB and Hyperscale"
Now that Hyperscale is in public preview, do a quick pass through to see which scripts work and which won't.

[2019-01-30 16:09] BrentOzar commented on #1922
Oof. I tried it this morning, and hit a few walls. I totally appreciate the work you put into this, but I'm going to deprecate the Power BI dashboard for now, move it into the deprecated folder here in this project. If other folks want to fork it and maintain it going forward, they're welcome to.

It's just a time thing: source controlling Power BI Desktop files, and dealing with contributions (by

[2019-01-30 16:09] #1922 closed

[2019-01-30 16:15] BrentOzar opened #1936 "Deprecate the Power BI Dashboard"
Sadly, Power BI + source control = terrible nightmare. It's a binary file, so it's damn near impossible to deal with code contributions from outsiders.

**Putting Power BI files in Github is bad for customers** because when we update the Power BI file, you have to take it whole-hog, as-is. You can't make your own tweaks, and then keep those tweaks with each release. You have to redo all your tweak

[2019-01-30 16:18] #1936 closed

[2019-01-31 08:35] Dbakevlar commented on #1922
Thank you, Brent..  I'll consider this!

On Wed, Jan 30, 2019 at 10:10 AM Brent Ozar <notifications@github.com>
wrote:

--

[image: Kellyn Pot'Vin on about.me]

*Kellyn Pot'Vin-Gorman*
DBAKevlar Blog <http://dbakevlar.com>
President Denver SQL Server User Group <http://denversql.org/>
about.me/dbakevlar

[2019-02-04 19:17] RichBenner opened #1938 "sp_BlitzIndex - Remove tablename from index create scripts"
**Version of the script**
current (7.2)

**What is the current behavior?**
table name is included in the INDEX CREATE scripts. In server tuning Brent mentioned he would prefer if this was removed. Going to also sort out capitalization while i'm there.

[2019-02-04 19:34] RichBenner commented on #1938
yeah, so i think i accidentally closed this from my branch, github sucks

[2019-02-04 21:40] RichBenner opened #1940 "sp_BlitzFirst - Show Batch Requests/sec and Wait time per core per second as decimal values"
**Version of the script**
Current (7.2)

**What is the current behavior?**
The counters `batch requests/sec` and `wait time per core per second` are currently rounded to whole numbers. It would be good if these showed decimal values.

[2019-02-05 00:05] #1940 closed

[2019-02-05 00:05] BrentOzar commented on #1940
Great job as always! Thanks sir. This will be in the Feb release with a shout-out. Thanks!

[2019-02-05 20:07] RichBenner opened #1943 "sp_Blitz - Check Running Services for SSIS, SSAS, SSRS"
**Is your feature request related to a problem? Please describe.**
Nope, just a feature.

**Describe the solution you'd like**
It would be good to run xp_cmdshell 'net start' to pull in services and flag up if SSRS/SSAS/SSIS and potentially more services are currently running.

**Describe alternatives you've considered**
Other than this it's a fairly manual process.

**Are you ready to build the c

[2019-02-05 20:12] richardlhughes opened #1944 "Feature Request - sp_BlitzIndex @GetAllDatabases = 1, @ExcludeDatabases"
**Do you want to request a *feature* or report a *bug*?**
Current Version

**What is the current behavior?**
EXEC sp_BlitzIndex @GetAllDatabases = 1

I want to run on all databases however I want to Skip partitioned databases like my MDS database.
Last @dsql: SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
                        SELECT @RowcountOUT = SUM(1) FROM [MDS].sys.partitions WHERE parti

[2019-02-05 21:47] RichBenner opened #1945 "sp_BlitzCache - Allows invalid @SortOrder values"
**Version of the script**
Current (7.2)

**What is the current behavior?**
if you pass @SortOrder = 'memory grants' for example the script runs fine but 'memory grants' (plural) isn't valid.

**What is the expected behavior?**
It would be nice to do 2 things here.
1. make the script accept all plural and singular versions of the sort orders.
2. pop up an informational message that the sort order w

[2019-02-05 23:03] RichBenner commented on #1943
I've got the code ready to go for this. I've set it as a 200 - Performance priority level. Do you have a handy url for that column in the output?

[2019-02-07 12:21] mabrahamsen opened #1947 "sp_BlitzIndex: Stats info running from wrong database"
**Version of the script**
sp_BlitzIndex(TM) v7.2 - January 28, 2019: Database [XYZ] as of 2019-02-07 13:15

**What is the current behavior?**
When you execute a BlitzIndex specifying a database name, and a index name (to get the stats view mode), it will pull stats / histogram from an index in the current database (aka the active database in your SSMS query view) - not the database specified.

**I

[2019-02-07 12:58] mabrahamsen commented on #1947
Seems there is no way to set the database for:
--
CROSS APPLY sys.dm_db_stats_properties(s.object_id, s.stats_id) AS props
CROSS APPLY sys.dm_db_stats_histogram(s.[object_id], s.stats_id) AS hist
--
So they would need to be executed in the correct database context. The system tables could be easily fixed by specifying database name. I couldn't get that to work correctly with the functions.

I am n

[2019-02-08 09:55] jeffchulg opened #1948 "sp_BlitzCache - Version Check returning datasets"
**Version of the script**
Look in the stored procedure, and it'll have a version date & number near the top. Put that in here. If it's not the current version (dated in the last month), then upgrade to the current version and test that before reporting a bug - we fix a lot of stuff in each new build. We'll flat out close bug reports for older builds.

2019.01.01
**What is the current behavior?**
I

[2019-02-08 12:13] BrentOzar commented on #1948
Sure, if you'd like to code that, we'd welcome that as a contribution. Here's the contributing guide to get started:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/CONTRIBUTING.md

If you didn't intend to code it, no worries - we'll close this in a few days if you don't respond. Thanks!

[2019-02-08 13:31] BrentOzar opened #1950 "sp_BlitzLock won't compile on Azure SQL DB Hyperscale"
**Version of the script**
SET @Version = '2.2';
SET @VersionDate = '20190128';

**What is the current behavior?**
When you try to install sp_BlitzLock in Azure SQL DB Hyperscale, you get:

[code]

**What is the expected behavior?**
We need to skip the sysjobs query on Hyperscale. (The rest of the functionality should be fine if we just skip that one query.)

**Which versions of SQL Server and whic

[2019-02-08 16:29] #1950 closed

[2019-02-08 17:25] arampendley opened #1952 "BlitzIndex output to table failing"
**Version of the script**
SET @Version = '7.2';
SET @VersionDate = '20190128';

**What is the current behavior?**
Output to table fails.

Starting run. sp_BlitzIndex(TM) v7.2 - January 28, 2019
Create temp tables.
Adding UQ index on #IndexSanity (database_id, object_id, index_id)
Inserting data into #IndexColumns for clustered indexes and heaps
Inserting data into #IndexColumns for nonclustered in

[2019-02-08 23:16] alchemistmatt commented on #1952
I am also seeing this on Microsoft SQL Server 2014; it was working last month.  Unfortunately, the reported line number (4892) isn't helpful.

[2019-02-09 00:16] alchemistmatt commented on #1952
Digging into this I found the issue: the `[Drop_Tsql]` and `[Create_Tsql]` columns are not in the correct position for the INSERT query at https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/a4bc3358b918c20de2dda17c7ffcfc9f4bdaaff5/sp_BlitzIndex.sql#L4572
They are currently between `[index_name]` and `[index_id]` but they need to be between `[more_info]` and `[display_order]`.

I'

[2019-02-09 13:25] #1947 closed

[2019-02-09 13:33] BrentOzar commented on #1947
Great catch, and thanks for the work reproducing it!

Yeah, looks like a bug in sys.dm_db_stats_histogram and sys.dm_db_stats_properties.

To work around it, I did two things:

1. Put a check in sp_BlitzIndex to only query statistics if we're checking the same database we're in (just to prevent the false alarm of stats), and
2. Filed a bug in SQL Server: https://feedback.azure.com/forums/908035-sq

[2019-02-09 13:39] #1952 closed

[2019-02-09 13:42] #1938 closed

[2019-02-09 13:59] #1948 closed

[2019-02-09 13:59] BrentOzar commented on #1948
Great job! Merged into dev, and it'll be in the February release along with your name in the credits. Love the idea and the execution.

[2019-02-09 14:04] BrentOzar opened #1956 "sp_BlitzCache missing join in missing index temp tables"
Filing an issue to track @RonMacNeil's changes.

[2019-02-09 14:05] BrentOzar commented on #1956
Fixed here: https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/pull/1953

[2019-02-09 14:07] #1956 closed

[2019-02-10 14:31] DatAssCode commented on #1929
I've been to told to change our implementation rather than fix this issue by my employee, so I'm closing this issue.

[2019-02-10 14:31] #1929 closed

[2019-02-10 14:32] BrentOzar commented on #1929
OK, no problemo! Thanks for submitting it anyway. Have a good weekend.

[2019-02-11 12:44] rasmus opened #1959 "sp_Blitz - limit to specific database"
**Is your feature request related to a problem? Please describe.**
I'm a developer that has access to a few databases on our production system and would like to be able to use `sp_Blitz` to analyse each database separately.

**Describe the solution you'd like**
While `sp_Blitz` has excellent support for omitting specific databases, servers and checks, it doesn't allow me to limit it to only one da

[2019-02-11 13:46] BrentOzar commented on #1959
Gotcha. That's what sp_BlitzIndex and sp_BlitzCache are for - developers that need to analyze queries and indexes. Those two procs have database name parameters.

sp_Blitz is for database administrators and systems administrators.

Closing.

[2019-02-11 13:46] #1959 closed

[2019-02-12 17:32] #1943 closed

[2019-02-12 18:22] BrentOzar commented on #1943
Perfect, thanks sir! I wrote up a blog post and added a URL. It'll be in the Feb release and I'll credit you in the release notes. Thanks!

[2019-02-13 08:33] RichBenner commented on #1945
I'm thinking something like this, thoughts?

[code]

[2019-02-13 08:42] jeffchulg opened #1961 "Make sp_BlitzQueryStore installable on versions lower than 2016 but failing"
**Is your feature request related to a problem? Please describe.**
I would like to be able to install all the stored procedures from this package.
In other FRK scripts, when something is not "as expected", the SP fails, like in sp_BlitzIndex when the script is outdated.

Plus, the FRK would have only one "all-in-one" installation script.

**Describe the solution you'd like**
As the QueryStore feat

[2019-02-13 11:58] BrentOzar commented on #1945
Yeah, that looks great!

[2019-02-13 12:02] BrentOzar commented on #1961
Hi Jeff. Ooo, thanks for the commit, but here's the thing: dynamic SQL is a whole lot harder to write and troubleshoot.

I recognize that this change would make your life a little easier around installation time, but it makes the maintainers' and authors' lives a lot harder. I need to make authoring and testing as easy as practical, which means unless dynamic SQL is really needed desperately for s

[2019-02-13 12:02] #1961 closed

[2019-02-14 09:02] RichBenner opened #1964 "sp_Blitz - Typo in check 222"
**Version of the script**
current dev script, but it's not new

**What is the current behavior?**
In the RAISERROR for check 222 it reports that it's actually check 114. Line 7799 of the current sp_Blitz script. Noticed this when adding the next check.

**If the current behavior is a bug, please provide the steps to reproduce.**
Run sp_Blitz @CheckServerInfo = 1 and you'll see the error

[2019-02-14 09:13] RichBenner opened #1966 "sp_Blitz - documentation update?"
**Version of the script**
current dev script, but this isn't new.

**What is the current behavior?**
in the documentation for sp_Blitz it shows that check 223 and 204 do the opposite to what they actually appear to do in the script. In sp_Blitz it shows that 223 is the check for @CheckUserDatabaseObjects disabled but the script actually does that in check 204. Does the documentation need to just s

[2019-02-14 09:34] RichBenner opened #1967 "sp_Blitz - Supported Version Check"
**Version of the script**
current dev script

**What is the current behavior?**
when running check 128 for the supported version of sql server, it's got the following check for SQL 2012.
[code]
Checking this on https://sqlserverupdates.com/sql-server-2012-updates/ it appears that SP4 is a necessity so I think it should be this as of October 2018
[code]

[2019-02-15 09:46] rogatec opened #1968 "sp_Blitz Find 'Memory Dumps Have Occurred' URL not found"
**Version of the script**
`Version = 7.2`
`VersionDate = 2019-01-28`

**What is the current behavior?**
Page not found

**If the current behavior is a bug, please provide the steps to reproduce.**
execute _sp_Blitz_ and browse to the URL given by Finding `Memory Dumps Have Occured`
given URL: https://BrentOzar.com/go/dump

**What is the expected behavior?**
Page found ;-)

**Which versions of SQL

[2019-02-15 11:50] BrentOzar commented on #1968
Yep, that's a new blog post going live next week. Stay tuned!

[2019-02-15 11:50] #1968 closed

[2019-02-15 14:05] #1945 closed

[2019-02-15 14:10] BrentOzar commented on #1945
Nice job, sir! Thanks. It's in, and it'll be in the Feb release.

[2019-02-15 14:13] #1964 closed

[2019-02-15 14:17] #1967 closed

[2019-02-15 14:17] BrentOzar commented on #1967
Great catch! Fixed. Thanks sir!

[2019-02-15 14:41] BrentOzar opened #1970 "sp_Blitz: Azure SQL DB and Hyperscale compatibility"
**Version of the script**
SET @Version = '7.2';
SET @VersionDate = '20190128';

**What is the current behavior?**

These databases don't allow direct references to master, model, msdb, etc. We're referring to a bunch of system objects, so we would need to move all of these to dynamic SQL to even get sp_Blitz to COMPILE, let alone even run:

- master.sys.databases
- master.sys.all_objects
- msdb.db

[2019-02-15 14:41] BrentOzar commented on #1935
sp_BlitzCache compilation fails on both Azure SQL DB and Hyperscale with:

[code]

[2019-02-15 14:45] BrentOzar commented on #1970
Ouch - no, removing "master" doesn't work in RDS when we're looking for non-system objects. This query was run in a user database, and note that the second query doesn't return results:

![screen shot 2019-02-15 at 6 44 07 am](https://user-images.githubusercontent.com/245462/52863603-30770680-30ed-11e9-983b-711a13667362.png)

So gonna need to wrap this in dynamic SQL for it to work in both RDS and

[2019-02-15 18:27] BrentOzar opened #1971 "sp_BlitzFirst and sp_Blitz: add POOL_LOG_RATE_GOVERNOR as poison waits"
**Is your feature request related to a problem? Please describe.**
In Azure SQL DB, when these waits show up, you're being limited as to how much data you can write.

**Describe the solution you'd like**
Add them to the poison wait list.

**Are you ready to build the code for the feature?**
Yep.

[2019-02-16 01:11] BrentOzar commented on #1935
It's this section (fixed):

[code]

[2019-02-16 18:37] #1935 closed

[2019-02-18 14:13] BrentOzar commented on #1944
Thinking about the design on this:

* The @ExcludeDatabases input parameter should mimic sp_BlitzCache's @IgnoreQueryHashes parameter, using the same naming style (@IgnoreDatabases) and use the same comma-delimited input and parsing, then dump the contents into an #IgnoredDatabases temp table
* When we do @GetAllDatabases = 1, the insert into #DatabaseList, do a where-not-exists subquery into the

[2019-02-18 14:14] BrentOzar commented on #1944
(Also - Richard, just so you know - I'm still wildly in love with this request and I'm absolutely determined to do it because I want it for the Consultant Toolkit too. It'll just likely be in the March release instead of the Feb one.)

[2019-02-18 16:15] richardlhughes commented on #1944
Brent,

This sounds great! Glad I could help with this idea.

Thanks,
Richard

On Feb 18, 2019, at 08:15, Brent Ozar <notifications@github.com<mailto:notifications@github.com>> wrote:

(Also - Richard, just so you know - I'm still wildly in love with this request and I'm absolutely determined to do it because I want it for the Consultant Toolkit too. It'll just likely be in the March release inste

[2019-02-19 13:38] BrentOzar opened #1973 "sp_BlitzIndex truncation error"
Reported via email by a user, copy/pasting into email here (he can chime in if he wants to be publicly named):

_sp_BlitzIndex failed with a truncation error which I've narrowed down to row 1843;

LEFT(MAX(data_compression_info.data_compression_rollup),8000),

It is being inserted into an NVARCHAR(4000) column and so throws an error if there are a large number of partitions present. In my case we

[2019-02-19 13:40] #1973 closed

[2019-02-19 13:44] #1971 closed

[2019-02-19 13:50] #1966 closed

[2019-02-19 13:50] BrentOzar commented on #1966
Great catch! Fixed. Thanks!

[2019-02-19 15:01] sivey42 opened #1978 "VersionDate variable defined twice in many scripts"
**Version of the script**
7.3, 20190219

**What is the current behavior?**
parameters...
    @Help BIT = 0,
    @Version     VARCHAR(30) = NULL OUTPUT,
	@VersionDate DATETIME = NULL OUTPUT,
    @VersionCheckMode BIT = 0,
    @VersionDate DATETIME = NULL OUTPUT
…
SET @Version = '7.3';
SET @VersionDate = '20190219';
DECLARE @Version VARCHAR(30);
SET @Version = '7.2';
SET @VersionDate = '20190128';

[2019-02-19 15:06] BrentOzar commented on #1978
Hi! You happened to get a mid-deployment version - hang tight. We're not quite done with the release yet. Thanks!

[2019-02-19 15:06] #1978 closed

[2019-02-20 01:44] jerryhung opened #1981 "Release 2019-02-19 @VersionCheckMode error (duplicate @Version variable)"
**Version of the script**
V7.2/V7.3 sp_Blitz (or any of them really)

**What is the current behavior?**
	SET @Version = '7.3';
	SET @VersionDate = '20190219';
	DECLARE @Version VARCHAR(30);
	SET @Version = '7.2';
	SET @VersionDate = '20190128';
	SET @OutputType = UPPER(@OutputType);
The variable name '@Version' has already been declared. Variable names must be unique within a query batch or stored

[2019-02-20 02:55] BrentOzar commented on #1981
Sorry about that - you caught us in the middle of a deployment. It's already fixed though - download a new copy. Thanks!

[2019-02-20 02:55] #1981 closed

[2019-02-20 16:55] RichBenner opened #1982 "sp_Blitz - EXECUTE vs sp_executesql"
**Version of the script**
current dev, not a new thing though

**What is the current behavior?**
I've noticed that sp_Blitz mixes using EXECUTE(@StringToExecute) and elsewhere uses EXEC sp_executesql (). Would there be an advantage at standardising this? With how often sp_Blitz is run (not very) I don't believe it to be a performance issue either way.

It may well be that EXEC is used because of p

[2019-02-20 18:05] bmrazik opened #1983 "sp_BlitzFirst passing invalid sort orders to sp_BlitzCache"
when running this as a part of blitzfirst, it errors out causing the agent job to error:
 Invalid sort order chosen, reverting to cpu [SQLSTATE 42000]

[2019-02-20 18:17] #1983 closed

[2019-02-20 18:18] BrentOzar commented on #1983
Sorry about that! Fixed in the dev branch. You can grab the updated version here:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/sp_BlitzFirst.sql

It was calling sp_BlitzCache @SortOrder = 'compilations', which should have been 'recent compilations'. Thanks!

[2019-02-22 10:16] HenrikStaunPoulsen commented on #1970
I'll try to push my version later today

[2019-02-22 16:08] HenrikStaunPoulsen commented on #1970
I think I've managed to publish my changes. Tested on 2008 R2, 2017 and Azure, where it compiles ok.
There are still things to fix, but I do not know how to.

[2019-02-23 12:23] BrentOzar opened #1985 "sp_BlitzCache: use the OS's default decimal separators (commas vs periods) in output"
**Version of the script**
SET @Version = '7.3';
SET @VersionDate = '20190219';

**What is the current behavior?**
When run on a VM with the default decimal separator as comma, and default digit grouping separator as period:

![screen shot 2019-02-23 at 4 21 28 am](https://user-images.githubusercontent.com/245462/53286389-8fa6cd80-3722-11e9-8da4-085a5c231299.png)

sp_BlitzCache isn't honoring that:

[2019-02-25 13:48] BrentOzar commented on #1970
OK, great. I verified that it compiles (but won't run) on Azure SQL DB and Hyperscale.

Just to set expectations though, for this to get merged in, sp_Blitz would actually need to *run* on Azure SQL DB. (I don't want to introduce a lot of changes only to get it to compile, but not run - changes = potential bugs, and there's a lot of code review that would need to be done here.)

If you want to kee

[2019-02-26 16:08] RichBenner commented on #1944
I've been working on it but haven't managed to get it completed this week.

This is the code I've currently got for the exclusion list passed by users;

[code]

Here's the cursor check code that I've made for databases with >100 partitions;

[code]

Putting it here in case anybody else wants a stab at it, I'm hoping to get it looked at next week if not.

[2019-02-27 18:22] troyjennings opened #1986 "sp_DatabaseRestore @StopAt ignored when @ContinueLogs = 1"
**Version of the script**
SET @Version = '7.3';
SET @VersionDate = '20190219';

**What is the current behavior?**
When @StopAt is not null and @ContinueLogs = 1, the StopAt value was not in the criteria for determining transaction log backups to apply.

**What is the expected behavior?**
When @StopAt is not null and @ContinueLogs = 1 only the transaction log backups up to the StopAt value would be

[2019-02-27 23:54] alchemistmatt opened #1988 "sp_BlitzIndex - Duplicate columns in Insert statement when writing to an existing table"
**Version of the script**
Version 7.3
VersionDate 20190219

**What is the current behavior?**
Running with `@outputToTables=1` leads to error
[code]
I have found the issue: Drop_Tsql and Create_Tsql are included twice in the Insert list.  See:
* https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/8778f770cc04b07c74547847f5ea4da7089cc758/sp_BlitzIndex.sql#L4578
* https://github.com

[2019-02-28 00:06] BrentOzar commented on #1988
Makes sense! Not sure what RunBlitzChecks is though. :-D

[2019-02-28 00:08] BrentOzar commented on #1986
Great catch! Merged it into the dev branch, and I'll credit you for the March release. Thanks, and good work!

[2019-02-28 00:08] #1986 closed

[2019-02-28 00:08] alchemistmatt commented on #1988
Oh, right, that's my wrapper procedure that calls several first responder stored procedures.

[2019-02-28 00:20] alchemistmatt commented on #1988
Corrected **steps to reproduce**
[code]

[2019-02-28 12:57] troyjennings commented on #1986
Great, thanks!

On Wed, Feb 27, 2019, 7:08 PM Brent Ozar <notifications@github.com> wrote:

[2019-03-02 21:26] lowellizaguirre opened #1990 "sp_Blitz Error related to @SkipChecks and not-null params"
**Version of the script**
	SET @Version = '7.1';
	SET @VersionDate = '20190101';

**What is the current behavior?**
Error occurs when running with parameters identified below: specific error,and command that is dynamically created are below: it looks like it is building an invalid FROM statement, might be legacy code?
The code that this occurs on is on line 231:
		IF @SkipChecksTable IS NOT NULL

[2019-03-02 22:41] BrentOzar commented on #1990
Hmm, have you read the documentation about what those parameters do? You don't pass numbers into those - they're for passing in the database, schema, and table name of your SkipChecks table.

[2019-03-02 22:41] #1990 closed

[2019-03-05 14:50] HenrikStaunPoulsen commented on #1970
I've found the first problem on **Azure SQL DB** with sp_blitz.
I had run out of disk space the first time I ran Data Migration Assistant, and that must have left non-clustered indexes disabled, because sp_blitz reported lots of CheckId = 47
So I had to run this:

declare @sql nvarchar(max)=''
select @sql += 'alter index ' + i.name + ' on ' + sc.name + '.' + t.name + ' Rebuild;' + char(10)
FROM sy

[2019-03-05 14:55] BrentOzar opened #1991 "sp_BlitzIndex: merge low-impact and high-impact missing indexes"
We have two findings:

* "Indexaphobia: High value missing index with Low Impact"
* "Indexaphobia: High value missing index with High Impact"

Let's just merge these together into:

* "Indexaphobia: High value missing index"

[2019-03-05 14:56] BrentOzar opened #1992 "sp_BlitzCache: Missing Index column should include all indexes"
Let's skip the judgment calls on which indexes should/shouldn't be added, and just show all of them from the plan.

[2019-03-06 10:53] jeffchulg opened #1994 "sp_Blitz - Add Check for all FRK SP version date is the same"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As I added the capability to run all the SP in VersionCheckMode, the next step could be to run a check for "schema consistency" (and I think sp_Blitzis the right candidate to do it).

**Describe the solution you'd like**
A clear and concis

[2019-03-06 11:44] BrentOzar commented on #1994
I love it! That's a great idea. Things to think about:

* One or more of the scripts may not exist (and that's OK, shouldn't flag a warning that there's an inconsistent installation)
* The scripts may be installed in the master database, but you may be in a different database context
* The scripts may be installed in a user database, and you may be in the same database context (example: users inst

[2019-03-06 11:52] jeffchulg commented on #1994
HI Brent,

the use of DB_NAME() inside sp_Blitz should solve the "the scripts may be installed" sentences, shouldn't it?

[2019-03-06 12:16] BrentOzar commented on #1994
Yes, as long as you use that to build fully qualified calls to the procs, that will work, I bet.

[2019-03-06 14:35] jeffchulg commented on #1994
Hi Brent,

could you please review the code attached... I don't want to insert it directly to sp_Blitz before it's ok for you...
[VersionCheck.sql.txt](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/files/2936684/VersionCheck.sql.txt)

[2019-03-07 23:57] BrentOzar commented on #1994
Can you do a regular pull request? I’m on the road, and a pull request will let other folks review the code easier. (Just don’t want it bottlenecked on me.) Thanks!

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2019-03-09 15:24] ucjonathan opened #1995 "sp_Blitz check ID 93 on Linux thinks backups exist on the same drive"
**Version of the script**
	SET @Version = '7.3';
	SET @VersionDate = '20190219';

**What is the current behavior?**
Check 93 thinks that backups are on the same drive as the database.   The layout is

/sql/data
/sql/backup

These are separate EBS volumes on the EC2 instance.  I know it's probably just doing string comparison, but I would recommend skipping this check on paths that start with /

**

[2019-03-09 20:30] BrentOzar commented on #1995
Sure, feel free to contribute the change per the contributing guide. (I don’t have SQL Server on Linux, so I can’t test it, but sounds like you can pretty quickly.) Thanks! Brent

[2019-03-14 20:33] bsquidwrd commented on #1995
I can implement this fix as it _seems_ simple enough to get my hands wet on this project 👍

[2019-03-18 21:51] erikdarlingdata commented on #1925
Just FYI, this breaks on RDS now. The stuff you're looking for in sysobjects doesn't show up.

![image](https://user-images.githubusercontent.com/2136037/54566128-633f4380-49a6-11e9-94ab-941e460f0f9d.png)

[2019-03-19 09:00] fvanderhaegen opened #1998 "No logs are restored when no diff backup has been taken yet"
When using sp_databaserestore to restore full, diff and log backups no logs are restored when no diff backup has been taken yet.

Sample:
[code]

If no DIFF backup has been taken yet and above script is executed, no logs will be applied.
This happens because @DiffLastLSN has not been set.

I solved the issue by adding following code at the of the IF-clause that checks if @BackupPathDiff is not emp

[2019-03-19 09:31] BrentOzar commented on #1998
OK, cool, did you want to check in the code for it so you can get credit? (Not sure by this issue if you meant you were going to check in the fix or not.) Thanks!

[2019-03-19 09:36] BrentOzar commented on #1995
Nice job! Added to the March release, and will credit you in the post. Thanks!

[2019-03-19 09:36] #1995 closed

[2019-03-19 09:41] #1988 closed

[2019-03-19 09:41] BrentOzar commented on #1988
Good job! Reviewed & tested, and merged in for the March release. I'll credit you in the release notes. Thanks, and have a good week!

[2019-03-19 12:38] fvanderhaegen commented on #1998
I'm rather a newbie in working with github, so I made the changes in my clone of the dev-branch but I'm unable to push my changes to origin.
This is the error message "remote: Permission to BrentOzarULTD/SQL-Server-First-Responder-Kit.git denied to fvanderhaegen."

[2019-03-19 14:26] BrentOzar commented on #1998
Yeah, you can’t push directly to ours - you have to open a pull request.

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2019-03-19 14:56] fvanderhaegen commented on #1998
The [pull request](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/pull/1999) has been opened

[2019-03-19 22:24] BrentOzar opened #2000 "sp_BlitzCache: add @SlowlySearchPlansFor parameter"
**Is your feature request related to a problem? Please describe.**

A few use cases:

* When people are doing index design on a table, they ask, "How do I know which queries are triggering this missing index?"
* When people are considering removing an index, they ask, "How can I tell which queries are using this index?"
* When people are researching a particular anti-pattern, like the usage of a s

[2019-03-20 15:11] BrentOzar commented on #1998
Good job! Thanks for that. Merged it in for the March release, and I'll credit you in the release notes. Thanks!

[2019-03-20 15:11] #1998 closed

[2019-03-20 16:24] BrentOzar commented on #1925
Hmm, you sure? I just created a new RDS instance and they were there:

![Screen Shot 2019-03-20 at 9 23 53 AM](https://user-images.githubusercontent.com/245462/54701292-f2a53d80-4af1-11e9-9229-204f4d6217c6.png)

(I know, I know, Azure Data Studio screenshot, hahaha)

[2019-03-20 16:26] erikdarlingdata commented on #1925
Yep, though in my case it was a permissions issue I think.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brent Ozar <notifications@github.com>
Sent: Wednesday, March 20, 2019 12:24:43 PM
To: BrentOzarULTD/SQL-Server-First-Responder-Kit
Cc: Erik Darling; Comment
Subject: Re: [BrentOzarULTD/SQL-Server-First-Responder-Kit] sp_blitz incorrectly excludes checks

[2019-03-20 16:31] BrentOzar commented on #1925
Ah. In order to run our scripts, you need to have SA-level permissions. If you're a lower-level user, like an outside contractor who's only trusted to run selects in tempdb, you may need to get someone more senior from the client to help.

![wham](https://user-images.githubusercontent.com/245462/54701799-e40b5600-4af2-11e9-94e7-0d20e17243dd.gif)

[2019-03-20 16:35] erikdarlingdata commented on #1925
I hear the Tiger Toolkit is a nice alternative for the security minded.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brent Ozar <notifications@github.com>
Sent: Wednesday, March 20, 2019 12:31:28 PM
To: BrentOzarULTD/SQL-Server-First-Responder-Kit
Cc: Erik Darling; Comment
Subject: Re: [BrentOzarULTD/SQL-Server-First-Responder-Kit] sp_blitz incorrectly ex

[2019-03-20 16:57] #1991 closed

[2019-03-20 17:00] BrentOzar commented on #1992
Screw it, leaving this as-is.

[2019-03-20 17:00] #1992 closed

[2019-03-20 17:01] #2000 closed

[2019-03-20 17:02] BrentOzar commented on #1918
No activity here in a couple of months, so closing.

[2019-03-20 17:02] #1918 closed

[2019-03-20 17:02] BrentOzar commented on #1899
@jadarnel27 is this something you still wanna do? If not, no worries, I'll close it.

[2019-03-20 17:03] BrentOzar commented on #1982
If you want to work on it, work in the #1970 issue where Henrik's been working a lot on getting it to work in Azure SQL DB and Hyperscale. (There's a ton of work there.)

[2019-03-20 17:03] #1982 closed

[2019-03-21 14:21] BrentOzar opened #2005 "Easier Github merges: set @Version and @VersionDate in a single line"
We're having difficulties automatically merging the dev & master branches because Github keeps thinking these lines should be copied into master multiple times:

[code]

Let's try using a single line instead to see if that gets past the merge logic:

`	SELECT @Version = '7.4', @VersionDate = '20190320';
`

[2019-03-21 14:34] #2005 closed

[2019-03-21 16:12] beckmanjm commented on #1991
This is an unfortunate change - we preferred the old way of doing things. For the most part, the Low Impact indexes were ones we ignored, but might look at if there were also high impact indexes. We break them out in reports. Any way this could be made optional?

[2019-03-21 16:17] BrentOzar commented on #1991
The problem is that the impact is SQL Server's guess, and that guess was often wrong. It might estimate that an index have low impact, but then the presence of the index radically changes the plan, and further opportunities arise. I just wouldn't put any credence in that number.

[2019-03-22 09:11] HenrikStaunPoulsen commented on #1970
fixed invalid cpu_count (thanks to Randi Vertongen)

[2019-03-23 15:21] BrentOzar opened #2009 "sp_BlitzFirst: call sp_BlitzCache differently during the Agent jobs"
**Is your feature request related to a problem? Please describe.**
Want to make it easier to see diagnostic data over time.

**Describe the solution you'd like**
Right now, sp_BlitzFirst runs in a 15-minute Agent job, it calls sp_BlitzCache with a guess based on the top wait type. (It's trying to minimize the amount of work required, and multiple sort methods get slow, fast.)

Instead, let's run s

[2019-03-24 17:21] BrentOzar opened #2010 "sp_Blitz: warn about resumable index operations that have been paused"
**Is your feature request related to a problem? Please describe.**
SQL Server 2019 adds resumable index operations, and they're displayed in sys.index_resumable_operations. If state <> 0 (running), warn users that they left work behind, how far complete it is, and give them the command to continue creating the index.

**Are you ready to build the code for the feature?**
Yes.

[2019-03-24 17:40] #2010 closed

[2019-03-25 14:24] NielsSchNL commented on #1985
This is my first-ever reply to a GitHub project. I'm eager to participate but please forgive me if I'm not following the correct code of conduct.

I'd be happy to take a swing at this if you'd like. However, I'm not clear on which regional settings should be honored. Are we trying to honor the server OS regional settings or the settings the client OS creating the session (for instance SSMS)?

AFAI

[2019-03-25 14:32] BrentOzar commented on #1985
Hi, and welcome to the project! It'd be the server's default settings - the same thing you see when you run this:

`SELECT CAST(1 AS DECIMAL(10,2)) / 10 AS OneTenth`

Depending on your server's defaults, you may see either comma separators or decimal separators there.

[2019-03-25 15:52] NielsSchNL commented on #1985
I've created a pull request with my changes ( #2012 ). I've tested it as far as I could. Seems to work just as expected now, based on the session's current language setting.

[2019-03-27 15:02] briangithex opened #2013 "Dead Link"
**Version of the script**
Latest raw source on Github as of this issue.

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/Documentation/sp_Blitz%20Checks%20by%20Priority.md

AND

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/sp_Blitz.sql

**What is the current behavior?**
https://www.brentozar.com/go/azurefiles returns a page not found.

**If the

[2019-03-29 15:18] BrentOzar commented on #2013
Sorry about that! Fixed. Thanks!

[2019-03-29 15:18] #2013 closed

[2019-03-29 18:44] BrentOzar opened #2015 "sp_BlitzCache sorts not working in Azure SQL DB for memory grant, spills"
**Version of the script**
SELECT @Version = '7.4', @VersionDate = '20190320';

**What is the current behavior?**
When you try SortOrder = memory grant, avg memory grant, spills, or avg spills in Azure SQL DB, you get an error saying this version of SQL Server doesn't support that.

It's because we're checking version numbers directly - we should be checking sys.all_columns instead to see if the co

[2019-03-29 18:45] #2015 closed

[2019-04-02 16:44] BrentOzar opened #2017 "sp_Blitz: add check for upcoming Evaluation Edition expiration"
**Is your feature request related to a problem? Please describe.**
I'm on Evaluation Edition, and I only have so much time before the server implodes.

**Describe the solution you'd like**
If edition = evaluation, check the countdown:

[code]

**Are you ready to build the code for the feature?**
No, but I know a guy who might.

[2019-04-05 12:46] ianmanton opened #2018 "SP_Blitz Cache Arithmetic Overflow Computing CPU, duration, read, and write metrics"
**Version of the script**
@Version = '7.3';
@VersionDate = '20190219';

**What is the current behavior?**
Intermittently - (every 3 hours but presumably thus coinciding with a big recurring job (CDR ETL)) the spblitz process fails at the "Computing CPU, duration, read, and write metrics" step with Msg 8115, Level 16, State 2, Procedure sp_BlitzCache, Line 2164 [Batch Start Line 69] Arithmetic over

[2019-04-07 15:43] BrentOzar opened #2019 "Feature request: sp_BlitzCache showing 2019's new air_quote_actual plans"
**Is your feature request related to a problem? Please describe.**
SQL Server 2019 adds sys.dm_exec_query_plan_stats. When that's available, let's include that in the output of sp_BlitzCache rather than the estimated plan.

Gotchas:

* Don't do version detection - just see if the DMF and field is available
* Try to detect whether the plan is an actual or an estimate - this DMF shows estimated (not

[2019-04-10 15:05] EamMur opened #2020 "sp_blitz report on User created Stored Procedures in the Master database"
Currently when sp_Blitz executes it reports on User created Tables in the Master database.

It does not report on user created Stored Procedures (SP) in the Master database.

It would be nice to include this.

(I will work on this over the next few days)

[2019-04-11 15:09] modernuniverse opened #2021 "The schedule for sp_AllNightLog_Backup_01 SQL Server Agent Job is not correctly setup."
**Version of the script**
SELECT @Version = '3.4', @VersionDate = '20190320';

**What is the current behavior?**
No matter what I specify for @RPOSeconds, the sql server agent job is always created with a 10 second schedule.

**If the current behavior is a bug, please provide the steps to reproduce.**
I run this and then check the schedule setup for sp_AllNightLog_Backup_01.

sp_AllNightLog_Setup

[2019-04-11 15:12] BrentOzar commented on #2021
That’s by design. The job schedule doesn’t need to match your RPO. The job just wakes up and checks to see if any databases need to be backed up or restored.

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2019-04-11 15:13] modernuniverse commented on #2021
I see. That makes sense. Thank you for the quick clarification.

[2019-04-11 15:13] #2021 closed

[2019-04-11 18:43] iamwyza opened #2022 "sp_BlitzCache on Azure SQL DB returns no Results"
**Version of the script**
Current version: 7.4 released on Mar 20 2019 12:00AM.

**What is the current behavior?**
Running `exec sp_BlitzCache` results in 2 outputs.  The first one has no rows, the 2nd one only has 3 rows (2 of which are the static pastetheplan and firstresponderkit rows).  The one row with data concerns the number of plans in the cache.

**If the current behavior is a bug, please

[2019-04-11 20:06] gliljas opened #2023 "sp_BlitzBackup - Centralize multiple servers, use Azure SQL"
We have many servers, some set up with HA, some with the older mirroring system. We use Hallengren's script to back them up into Azure.

To provide a full overview of the backups for all servers we would like to centralize backupset data. It would be convenient if the central DB could be an Azure SQL database.

This central data could also be used to create restore scripts and to handle deletion o

[2019-04-12 05:00] BrentOzar commented on #2023
@gliljas sure, you're welcome to work on that if you like! Here's the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

I'll leave this issue open for ~30 days, and if you change your mind and decide not to work on it, just close the issue, or leave a note for me and I can close it for you. (I wouldn't be able to work on it for free,

[2019-04-12 05:04] BrentOzar commented on #2022
It's working fine here - might be that you don't have anything in the plan cache at the moment, or that you're using a fairly small-sized Azure SQL DB instance that's under performance pressure?

[2019-04-12 14:54] iamwyza commented on #2022
Definitely have plans in the cache since this line is in the "Plan Cache Information" line of the 2nd output:

`You have 10094 total plans in your cache, with 58.00% plans created in the past 24 hours, 35.00% created in the past 4 hours, and 33.00% created in the past 1 hour.`

It's definitely not a small DB instance (though there are 500 DBs in the elastic pool. vCore type)

[2019-04-12 17:02] kculver14 commented on #2022
I'm seeing the same behavior. Not a small server, and not currently under performance pressure, 15393 plans in cache, empty results table. We do have high percentages on our query plans. Could plan cache instability cause this outcome?

[2019-04-15 18:54] EamMur commented on #2020
I have got the latest code down and I have read the  Code of Conduct and Contributing code. I also read the sp_Blitz check for priority.

My approach would be to

1. Add new CheckIds (226,227,228) based on the current max value (225) with a description of "Stored Tables in the nn Database" where nn is Master, Model, MSDB for 226 , 227, 229 respectively
2: Add a section to sp_blitz to check the dat

[2019-04-15 19:42] BrentOzar commented on #2020
Sounds good! I would just add one CheckID though, and put the database in the DatabaseName column of the output. (That’s how most of the other checks work.)

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2019-04-15 21:56] iamwyza commented on #2022
I'm more than happy to provide more diagnostic information if need be.

[2019-04-15 23:27] BrentOzar commented on #2022
Sure, can you start by turning on the Debug option, and then copy/pasting the info from the Messages tab in SSMS? Thanks!

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2019-04-16 10:29] BrentOzar opened #2024 "sp_BlitzQueryStore: "The multi-part identifier "s.is_cursor" could not be bound.""
Reported by ShaunScott in Slack:

[code]

[2019-04-16 10:31] BrentOzar commented on #2024
Looks like this section around line 3147:

[code]

The s.is_cursor in the where clause should be pointing to #statements. There are several similar queries in here, and in the rest, #statements was aliased as s, not qs. Changed the alias in this one to be s to be consistent with the rest.

[2019-04-16 10:33] #2024 closed

[2019-04-16 15:06] iamwyza commented on #2022
[code]

![image](https://user-images.githubusercontent.com/1375890/56221083-2ca12b00-602f-11e9-9efb-867ffa98cb71.png)
![image](https://user-images.githubusercontent.com/1375890/56221109-3b87dd80-602f-11e9-9ebe-58e700cf32e8.png)

[2019-04-18 13:22] BrentOzar opened #2026 "sp_BlitzCache: when a query has multiple plans, show the number"
**Is your feature request related to a problem? Please describe.**
When I see "Multiple Plans" as a warning in sp_BlitzCache, my first reaction is, "How many?" Because sometimes it's just a couple, but sometimes it's hundreds.

**Describe the solution you'd like**
In the Warnings list, after Multiple Plans, put the number in parenthesis, like "Multiple Plans (101)". I did a quick code search, and

[2019-04-18 15:12] BrentOzar commented on #1985
@NielsSchNL getting closer - does work on cost, but doesn't quite work as expected on most columns though, like weight and memory grants:

![Screen Shot 2019-04-18 at 8 10 48 AM](https://user-images.githubusercontent.com/245462/56371271-aeb95d00-61b1-11e9-8528-222edc6cab13.png)

![Screen Shot 2019-04-18 at 8 11 06 AM](https://user-images.githubusercontent.com/245462/56371278-b24ce400-61b1-11e9-9f5

[2019-04-18 20:45] sivey42 opened #2027 "sp_BlitzCache sometimes fails when there are readable secondaries on the server"
**Version of the script**
7.4, 20190320

**What is the current behavior?**
when I run the script as a scheduled job on a server that's an AG secondary, and has readable replica databases on it, I'll occasionally (~25% of job runs in my case) get a failure with the following message...

Msg 978, Level 14, State 1, Line 3
The target database ('MyDatabase') is in an availability group and is currentl

[2019-04-19 14:16] BrentOzar commented on #2027
OK, can you try turning off the plan cache collection? Remove the @OutputTableNameBlitzCache parameter and let's see if that does it. We've had reports of sp_BlitzCache not working when some of the databases are inaccessible.

[2019-04-22 13:33] BrentOzar commented on #1994
Awesome, thanks sir! I'm going to make a few tweaks, but great job. I've merged it, and it'll be in this month's release, along with credits for you in the blog post. Thanks!

[2019-04-22 14:25] #1994 closed

[2019-04-22 14:27] BrentOzar commented on #1899
Haven't heard back from Josh, so closing the issue.

[2019-04-22 14:27] #1899 closed

[2019-04-23 17:05] #1944 closed

[2019-04-23 17:22] BrentOzar commented on #2009
Turns out there's a related bug: when sp_BlitzCache is called with @SortOrder = 'all', it won't create the output table. Fixing...

[2019-04-23 17:57] #2009 closed

[2019-04-23 18:42] #2026 closed

[2019-04-23 18:58] #2017 closed

[2019-04-23 19:06] #2018 closed

[2019-04-23 19:06] BrentOzar commented on #2018
Thanks for the bug report, and sorry about that.

Researching it, yeah, looks like the August 2018 release changed from BIGINT to MONEY for those totals, here:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/commit/af71aabba80d73f021fd219af6d6ee4447531f84

It's been fixed in the dev branch, and it'll be in this month's release. Thanks!

[2019-04-23 19:24] BrentOzar commented on #2022
I'm totally stumped - I'm not able to reproduce this at all. Leaving it open in case someone else is able to reproduce it with details as to why it's happening.

[2019-04-23 21:34] #2019 closed

[2019-04-24 09:05] ianmanton commented on #2018
Thanks Brent 😊

From: Brent Ozar <notifications@github.com>
Sent: 23 April 2019 20:07
To: BrentOzarULTD/SQL-Server-First-Responder-Kit <SQL-Server-First-Responder-Kit@noreply.github.com>
Cc: Ian Manton <ian.manton@sure.com>; Author <author@noreply.github.com>
Subject: Re: [BrentOzarULTD/SQL-Server-First-Responder-Kit] SP_Blitz Cache Arithmetic Overflow Computing CPU, duration, read, and write metr

[2019-04-24 12:51] troyjennings opened #2036 "sp_DatabaseRestore t-log restores not applied when @BackupPathFull is null"
**Version of the script**
@Version = '7.4', @VersionDate = '20190320'

**What is the current behavior?**

When @BackupPathFull is null, @BackupPathLog is set and @ContinueLogs = 1, no transaction log backups are applied.

**What is the expected behavior?**

Transaction log backups should be applied when the database is already in recovery and only the path to the log backups is provided.

[2019-04-24 19:39] sivey42 commented on #2027
still trying to figure out a way to repro it, since it's pretty hit & miss. What you are suggesting does sound like the issue. In the job log, the print output immediately before the failure says it's getting plan information.

Collecting execution plan information. [SQLSTATE 01000] (Message 50000)  The target database ('MyDatabase') is in an availability group...

Disabling the output for cache i

[2019-04-24 19:50] BrentOzar commented on #2027
OK, perfect. In that case, give the dev branch of sp_BlitzFirst and sp_BlitzCache a shot too, just to see - I'd hate to have you troubleshoot something only to find out it's been fixed in the recent changes.

[2019-04-26 14:01] BrentOzar opened #2037 "sp_BlitzLock fails on Amazon RDS"
**Version of the script**
All versions

**What is the current behavior?**
When you run sp_BlitzLock in RDS SQL Server, you get an error:

It's because [AWS RDS doesn't support the stats streams options for UPDATE STATISTICS](https://dba.stackexchange.com/questions/236790/update-statistics-options-fail-in-amazon-rds-sql-server).

**What is the expected behavior?**
If we're running on AWS RDS, skip

[2019-04-27 17:39] #2037 closed

[2019-04-27 17:41] BrentOzar commented on #2036
OK, cool. Do you want to make the changes? (I don't personally use this script these days, so I don't have a testing environment for it.) You can check out [the contributing guide](https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md) for more info on how to do it, or check in with the Slack channel in there to see if someone else may be able to help you do i

[2019-04-27 17:42] BrentOzar commented on #2020
@EamMur - is this something you still want to tackle, or should I close the issue?

[2019-04-28 17:24] reharmsen commented on #2036
I did notice this in February or March, hence we reverted to an older version we were running and which functions for us (6.9).  Did not find time yet to dive in to this further.

If @troyjennings is not able to look into this, I might try to find some time in May to look in to this and hopefully fix this, at least for our setup.

[2019-04-29 12:11] troyjennings commented on #2036
@reharmsen I have a fix for it that I was testing over the weekend. I plan on pushing it today.

[2019-05-01 06:22] reharmsen commented on #2036
@troyjennings If you need help reviewing or testing I am glad to help

[2019-05-01 08:56] ianmanton commented on #2018
Hi @BrentOzar - just to check - do we need to change the datatype of the blitzcache table columns back to something else - have now installed the updated FRK (thanks!) but I'm now getting LOTS of Arithmetic Overflow errors on execution instead of the one from before!

Output below:

Setting up configuration variables
Now starting diagnostic analysis
Capturing first pass of wait stats, perfmon coun

[2019-05-01 09:24] ianmanton commented on #2018
Possibly a clash here?

![image](https://user-images.githubusercontent.com/49268750/57011776-3a43dc80-6bfb-11e9-9954-295f31bb5d5c.png)

[2019-05-01 10:55] BrentOzar commented on #2018
Can you go ahead and start debugging it? It sounds like you’re able to reproduce the issue easily and it sounds like you’ve got a good idea of what you’re looking for - jump in and give ‘er a shot. I’m tied up for the next few days teaching a class, and I don’t want to hold you back from getting a solution that works for you. Thanks!

---
Tiny glass keyboard
Typos flowing like rivers
As winter sno

[2019-05-01 11:16] ianmanton commented on #2018
That’s about as much as I could work out! The gargantuan code of yours is rather beyond my skill level lol!

All I can see is that the table data type definitions don’t necessarily align with the sections that are casting memory usage/spills to money still.

If I get chance I’ll have a go though but may have to roll back as it now doesn’t run for me at all instead of only failing intermittently lo

[2019-05-01 11:18] BrentOzar commented on #2018
OK, cool. If you have time to debug & find it, feel free to open a new issue - I'm going to leave this one closed though. Thanks!

[2019-05-01 14:07] troyjennings commented on #2036
Thanks @reharmsen   You can get a copy of the procedure change here
https://github.com/troyjennings/SQL-Server-First-Responder-Kit/blob/Issue_2036_2/sp_DatabaseRestore.sql

[2019-05-02 10:33] BilliousBT opened #2041 "sp_Blitz - URL for Instance Stacking Dead link"
**Version of the script**
sp_Blitz Mar 20 2019 12:00AM

**What is the current behavior?**
sp_Blitz @CheckServerInfo = 1

**If the current behavior is a bug, please provide the steps to reproduce.**
deadlink: https://www.brentozar.com/go/babygotstacked/

**What is the expected behavior?**
webpage present

**Which versions of SQL Server and which OS are affected by this issue? Did this work in previ

[2019-05-02 10:35] BilliousBT commented on #2041
Maybe point at https://www.brentozar.com/archive/2016/12/install-multiple-instances-sql-server/

[2019-05-02 10:43] BrentOzar commented on #2041
Sorry about that, and thanks for the bug report. Fixed.

[2019-05-02 10:43] #2041 closed

[2019-05-02 11:11] BrentOzar commented on #2036
Merged the fix - thanks @troyjennings! Will be in the May release and credit you.

[2019-05-02 11:11] #2036 closed

[2019-05-06 18:16] BrentOzar opened #2042 "sp_Blitz & sp_BlitzFirst: make implicit transaction troubleshooting easier"
**Is your feature request related to a problem? Please describe.**
When you're troubleshooting an implicit transaction that holds locks open, it's hard to tie the results together across all the tools.

**Describe the solution you'd like**

* In sp_Blitz checkid 215, the details say "The database StackOverflow2010 has 1 open implicit transactions  with an oldest begin time of May  6 2019 11:09AM".

[2019-05-06 18:47] #2042 closed

[2019-05-07 20:43] IndexSeek opened #2044 "sp_Blitz - New Windows 10 Power Setting (CheckID 211)"
**Version of the script**
Version = 7.4
Version Date = 20190320

**What is the current behavior?**
Running EXEC sp_Blitz @CheckServerInfo = 1; returns the Power Plan finding in unknown power mode. Windows 10 Pro for Workstations OS supports a new power setting named "Ultimate Performance."

**What is the expected behavior?**
Your server has X.XXGHz CPUs, and is in ultimate performance power mode.

[2019-05-07 20:49] IndexSeek commented on #2044
![UltimatePerformancePowerSetting](https://user-images.githubusercontent.com/50381805/57332103-19422680-70e8-11e9-839f-1770c23dfe89.PNG)

[2019-05-08 07:16] ejustu opened #2045 "Outdated Component message for sp_blitz"
**Version of the script**
Version 7.5 27/04/2019

**What is the current behavior?**
Run on 8 May 2019 gave message Outdated Component.

**If the current behavior is a bug, please provide the steps to reproduce.**
Could be related to the fact that I am working on an Australian website and the date is not formatted in an expected way?  This gives the same error wherever I run it every time.

**What

[2019-05-09 03:08] ejustu commented on #2045
Hi,

Sigh, it’s face palm time.  The message did not relate to sp_blitz but to sp_blitzcache which I thought that I had updated but appear not to have done in most environments.

I think I must have been looking at my excel spreadsheet and did not expand the column fully to see the full name.  This is an explanation but not really an excuse.

A waste of time on all counts, I am so sorry but thank

[2019-05-09 03:09] BrentOzar commented on #2045
No problem at all! That's good, that means it's working. Have a good one!

[2019-05-09 03:09] #2045 closed

[2019-05-10 11:10] RichBenner opened #2047 "sp_Blitz - @OutputType = 'XML' option"
**Is your feature request related to a problem? Please describe.**
I've got a requirement for a sp_Blitz output as XML, no downsides to it as far as i can see.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
I *could* format the output as XML elsewhere but why not use SQL's inbuilt tools?

**Are you read

[2019-05-10 14:35] sivey42 commented on #2027
Update on this - it's been failing every time since I updated to the April release. Removing the @OutputTableNameBlitzCache does appear to solve the issue. I do have non-AG databases on the server too, so I'm throwing out collecting info on those databases too.

[2019-05-10 14:36] BrentOzar commented on #2027
OK, _**can you give the dev branch of sp_BlitzFirst and sp_BlitzCache a shot too please?**_ Thanks.

[2019-05-10 14:39] sivey42 commented on #2027
Tried dev branch, same issue...

Msg 978, Level 14, State 1, Line 120
The target database ('XXX') is in an availability group and is currently accessible for connections when the application intent is set to read only. For more information about application intent, see SQL Server Books Online.

[2019-05-10 14:40] BrentOzar commented on #2027
OK, great, thanks!

[2019-05-10 15:18] sivey42 commented on #2027
I think have a fix for this. Will create pull request, and tag this. Should I use dev or some other branch?

[2019-05-13 13:02] LowlyDBA opened #2050 "sp_DatabaseRestore - Delete backup files after restore"
**Describe the solution you'd like**
After restoring database file(s), it'd be helpful to have an option to clean up the source backup files from the local directory. For example, if I'm testing a restore on a separate server the backup was taken from, it is difficult to associate the specific backup files with the restored copy outside the context of the stored procedure, and thus difficult to cl

[2019-05-13 13:06] BrentOzar commented on #2050
Hmm - sp_DatabaseRestore tries to only restore the files that are necessary to get to the latest point in time. So say you have:

* Monday - full backups, differential backups, log backups
* Tuesday - full backups, differential backups, log backups
* Wednesday - differential backups, log backups

sp_DatabaseRestore (should) pick up Tuesday's full, Wednesday's most recent diff, and all the log back

[2019-05-13 13:17] LowlyDBA commented on #2050
Just the ones it used. In your example it might not make sense to use this proposed feature, since you'd then be left with a weird mismatch of files.

But if you had a folder containing a random ad-hoc backup someone took 6 months ago (that "needs" to be kept), the one you need to restore from Monday, and who knows what else, the idea would be to only delete the file(s) the sproc is ultimately goi

[2019-05-13 13:18] BrentOzar commented on #2050
Yeah, I'm gonna be honest - this sounds like it's going to cause more problems than it's going to solve. If you don't need leftover files in a directory when sp_DatabaseRestore is done, then...delete those. Probably time to start doing some organization over there. ;-)

[2019-05-13 13:18] #2050 closed

[2019-05-14 22:09] BrentOzar opened #2051 "sp_BlitzCache: add @SortOrder = 'query hash'"
**Is your feature request related to a problem? Please describe.**
A lot of folks aren't parameterizing their queries, so the plan cache is full of one-offs. They want to solve performance issues, but they're not sure where to start.

**Describe the solution you'd like**
Either of these would be good:

* @SortOrder = 'query hash' - get the top 10 query hashes grouped from sys.dm_exec_query_stats,

[2019-05-14 22:12] BrentOzar opened #2052 "sp_BlitzCache: change priority of "Plan Cache Information" warning when most of the plan cache is new"
**Is your feature request related to a problem? Please describe.**
Priority 254 "Plan Cache Information" shows what percentage of the plans in the cache were generated recently. If they have a mostly unparameterized plan cache, it'd be cool to bubble that up to priority 1 if, say, 75% of their plan cache was generated in the last day.

[2019-05-16 02:08] shaneholder commented on #2022
I too am having problems running sp_BlitzCache on our Azure DB’s.  I have localized it to a commit made 21 days ago #1e6bee2 air_quote_actual plans (#2034)

The commit just prior #7433274 works.

I also checked the most recent commit e0ce995 and it still returns no results for my Azure SQL databases.

[2019-05-16 03:05] shaneholder commented on #2022
I started working through the changes in 1e6bee2 and the problem seems to be stemming from the detection of   @VersionShowsAirQuoteActualPlans but I'm not sure.  When I run the query

SELECT * FROM sys.all_columns WHERE OBJECT_ID = OBJECT_ID('sys.dm_exec_query_plan_stats') AND name = 'query_plan'

on my Azure databases it returns a row which sets @VersionShowsAirQuoteActualPlans to 1 however if I

[2019-05-16 19:12] erikdarlingdata opened #2053 "sp_BlitzIndex: @IgnoreDatabases only works if names are on a single line"
**Version of the script**
7.5

**What is the current behavior?**
If you have a list of database names with carriage returns (say you're pasting from a query or Excel or something), carriage returns and line breaks prevent database names from matching correctly.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Carriage returns

[2019-05-16 19:16] BrentOzar commented on #2022
Ooo, interesting - your Azure SQL DB isn't populating valid data in sys.dm_exec_query_plan_stats then! Gotta love the cloud. Alright, I'm on it.

[2019-05-17 05:34] lvikstro opened #2054 "sp_AllNightLog and sp_DatabaseRestore for SQL Server on Linux"
Hi,
as sp_AllNightLog and sp_DatabaseRestore require xp_cmdshell it isn't possible to use with SQL Server on Linux.

Are there any plans on rewriting with support for Linux? Or adding new scripts for Linux?

[2019-05-17 11:01] BrentOzar commented on #2054
No, no plans for that. Your best bet would be the https://dbatools.io PowerShell project - they have restore tools too, and they're more interested in cross-platform work. Hope that helps!

[2019-05-17 11:01] #2054 closed

[2019-05-20 09:30] RichBenner opened #2055 "sp_Blitz typo in hyperlink"
**Version of the script**
Current Dev - 20190417

**What is the current behavior?**
at approx line 2355 on 'alerts disabled' there's a hyperlink given as https://www.BrentOzar.com/go/alerts/ which returns 'page not found'.

To match the other links it should be https://BrentOzar.com/go/alert

[2019-05-20 23:26] #2055 closed

[2019-05-20 23:27] BrentOzar commented on #2055
Awesome, thanks sir! Good catch.

[2019-05-21 13:25] visionthroughdesign opened #2057 "sp_BlitzLock: add ability to log sp_BlitzLock to table / excel friendly format"
Do you want to request a feature or report a bug?
Features: Add output parameter for sp_blitzlock to excel format or even @outputtotdatabase like sp_blitz / blitzcache

[2019-05-21 14:23] BrentOzar commented on #2057
Sure, that totally sounds like a contribution we'd be willing to accept.  To code it, check out the contributing guide:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/master/CONTRIBUTING.md

If you don't feel like coding it, no problem - let me know and I can close the issue. (As much as we'd love to build everything for free, open source doesn't mean free consulting & devel

[2019-05-23 16:11] sivey42 commented on #2027
This looks stalled. @BrentOzar - anything you need me to do to get it moving forward? I have a pull request submitted, but not sure if there is anything else I need to do to get that committed.

[2019-05-23 18:59] BrentOzar commented on #2027
@sivey42 thanks for the contribution! I'm a little bit busy right now, but I'll work on it when I get time. If you'd like to chat with folks in the Slack channel (it's in the readme.md and the contributing guide), other folks may be able to help you test it sooner.

[2019-05-23 19:03] sivey42 commented on #2027
OK, no worries. Wasn't sure if I tied this back to the pull request correctly, so just wanted to make sure it wasn't getting lost in the shuffle.

[2019-05-23 19:03] sm8680 opened #2058 "sp_ineachdb"
Keep up the excellent work and give backs to the community.  This could be considered petty.  Since as is it would only potentially affect a small amount of servers.  Also in the section of the code refers to AG checks and this could be irrelevant.  But for your consideration.  I’d consider flipping out the following

@@SERVERNAME
For
CONVERT(sysname, SERVERPROPERTY('ServerName'))

Occasionally th

[2019-05-24 12:29] gliljas commented on #2023
FYI. Working on it.

[2019-05-28 13:42] sm8680 opened #2059 "SqlServerVersions.sql DataPoint Issue"
(12, 5626, 'SP2 CU17', 'https://support.microsoft.com/en-us/help/4491540', '2019-04-16', '2020-01-14', '2020-01-14', 'SQL Server 2014', 'Service Pack 2 Cumulative Update 17'),
    (12, 5626, 'SP2 CU16', 'https://support.microsoft.com/en-us/help/4482967', '2019-02-19', '2020-01-14', '2020-01-14', 'SQL Server 2014', 'Service Pack 2 Cumulative Update 16'),

Based on the above data in the overall file

[2019-05-30 09:59] rentadba opened #2060 "sp_BlitzFirst - CheckID 40 - Arithmetic overflow error converting expression to data type int."
**Version of the script**
 sp_BlitzFirst: @Version = '7.5', @VersionDate = '20190427'

**What is the current behavior?**
Getting error when running: EXEC dbo.sp_BlitzFirst @ExpertMode = 1;
Msg 8115, Level 16, State 2, Procedure sp_BlitzFirst, Line 1670 [Batch Start Line 3947]
Arithmetic overflow error converting expression to data type int.

**If the current behavior is a bug, please provide the s

[2019-06-01 19:39] zulander1 commented on #607
I am having the same issue, not sure if it is fixed or  not, db collation is SQL_Latin1_General_CP1_CI_AI

Msg 451, Level 16, State 1, Procedure dbo.sp_BlitzIndex, Line 2448 [Batch Start Line 0]
Cannot resolve collation conflict between "SQL_Latin1_General_CP1_CI_AS" and "SQL_Latin1_General_CP1_CI_AI" in add operator occurring in ORDER BY statement column 3.

[2019-06-04 10:00] Adedba commented on #2027
Just given it a test as we are experiencing the same issue at the moment, Looks like is_primary_replica is not available as a column in sys.dm_hadr_database_replica_states for SQL 2012. To test further I replaced the new code with `SELECT DBs.database_id
FROM sys.databases DBs
INNER JOIN sys.availability_replicas Replicas ON DBs.replica_id = Replicas.replica_id
WHERE replica_server_name NOT IN (SE

[2019-06-04 14:54] sm8680 commented on #2058
Created a pull #2061 and that fixes this issue as well as a backward compatible with SQL Server 2008 and SQL Server 2008 R2 issue on the Hadr DMV's

[2019-06-04 14:54] #2058 closed

[2019-06-05 16:04] BrentOzar opened #2062 "sp_BlitzFirst: index reorgs reported as CHECKDB running"
**Version of the script**
SELECT @Version = '7.5', @VersionDate = '20190427';

**What is the current behavior?**
During index reorgs (but not rebuilds), sp_BlitzFirst reports that CHECKDB is running. The reason why is that in sys.dm_exec_requests, ALTER INDEX REORGANIZE shows up with command = 'DBCC'. This same behavior doesn't happen with ALTER INDEX REBUILD, which shows up correctly.

<img width

[2019-06-05 16:05] BrentOzar commented on #2062
Forgot to mention - shout-out to @BlitzErik for finding this.

[2019-06-07 09:46] erikdarlingdata opened #2063 "sp_BlitzCache: Selects that cause writes"
**Is your feature request related to a problem? Please describe.**
When a query is only doing a select, but writes are registered, it probably did something bad. This is a good way to catch spills (especially pre-DMV data) and spools.

**Describe the solution you'd like**
Something like [here](https://erikdarlingdata.com/2019/04/selects-that-cause-writes/).

**Describe alternatives you've consider

[2019-06-07 19:52] sivey42 commented on #2027
that makes sense - I haven't been able to test with anything but 2016 AG.

[2019-06-07 21:38] EamMur commented on #2020
I still want to tackle it but my day job suddenly got very busy!

[2019-06-10 14:03] ianmanton commented on #2018
(I raised a suggested fix as a proposed merge the other month - not sure if I did it right as still pending review - but it's there in any case!)

[2019-06-10 14:17] ianmanton opened #2064 "Checkdate for spblitzcache out of alignment with everything else (powerbi relationship key)"
**Version of the script**
@Version = '7.5', @VersionDate = '20190427';

**What is the current behavior?**
Entries in SPBlitzcache do not record the same checkdate as every other spblitz table - so when the powerbi report is used the relationship finds no match between spblitzcache and the checkdate dimension so shows no results when date filtering is used.

**If the current behavior is a bug, plea

[2019-06-12 13:24] erikdarlingdata opened #2065 "sp_BlitzIndex - getting partition compression info is very slow on large databases"
**Is your feature request related to a problem? Please describe.**
The section of code that figures out compression info (that I wrote, ha ha ha perf guy) stalls out pretty hard on large databases. Nothing a couple temp tables can't fix to materialize the interim results.

**Describe the solution you'd like**
IT'S SLOW AND I WANT IT FAST

**Describe alternatives you've considered**
It could be quo

[2019-06-12 19:09] erikdarlingdata opened #2066 "sp_BlitzWho: Asks for a large memory grant, shows up in BlitzCache for being naughty"
**Is your feature request related to a problem? Please describe.**
BlitzWho runs a fairly big, complicated select query and returns some big columns (query text, xml), ordered by earliest query start time. As a result, I've seen it ask for 6-7GB memory grants, and then hardly use any.

**Describe the solution you'd like**
Big top, little optimize for trick.

**Describe alternatives you've consider

[2019-06-13 20:14] LowlyDBA opened #2067 "sp_DatabaseRestore - Add compatibility to restore to BLOB URL"
**Is your feature request related to a problem? Please describe.**
Have sp_DatabaseRestore support [BLOB as a restore destination](https://docs.microsoft.com/en-us/sql/relational-databases/tutorial-use-azure-blob-storage-service-with-sql-server-2016?view=sql-server-2017#4----restore-database-to-virtual-machine-from-url). Currently the only blocker for this is the "fixing" logic that auto-appends `

[2019-06-20 10:23] erikdarlingdata opened #2068 "sp_BlitzQueryStore: performance on large stores is terrible"
I'm working around the usual format a bit because this is a very specific problem.

When Query Store is large (like around 100MB or so), BQS performance tanks on the initial data grabs. There are two issues with them:

1. Validating that the query plan column is not null takes minutes sometimes
2. A performance spool gets added for ???reasons???

It's easier to deal with the possibility of a NULL

[2019-06-25 15:20] ktaranov opened #2069 "New CheckID 225 "Some Databases has more than one log files.""
**Describe the solution you'd like**
Add new CheckID 225 **Some Databases has more than one log files. Database need only ONE transaction log file. See ...**

Detailed explanation from Kimberly Tripp https://www.sqlskills.com/blogs/kimberly/8-steps-to-better-transaction-log-throughput/ :

**Are you ready to build the code for the feature?**
I am ready to build this feature.

[2019-06-25 16:11] BrentOzar commented on #2069
It's already covered by check 170, multiple logs on the same drive letter.

There's a valid use case for multiple logs on different drives - a main log file with a fixed size on a smaller drive, and an "emergency vent valve" log file at 1MB with autogrowth on in the event of an emergency.

[2019-06-25 16:11] #2069 closed

[2019-07-02 13:51] #2047 closed

[2019-07-02 14:20] BrentOzar commented on #2027
Great work! I fixed it up to make it work with 2008-2012. Thanks, will get this into the July release and credit you.

[2019-07-02 14:20] #2027 closed

[2019-07-02 14:23] BrentOzar commented on #2067
Haven't heard any complaints - seems like this would be a good one. Do you still want to code it? If not, let me know and I'll close this, either way. Thanks!

[2019-07-02 14:23] BrentOzar commented on #2068
Makes sense! You wanna go for it? (We'll sponsor the work if you wanna tackle it.)

[2019-07-02 14:24] BrentOzar commented on #2066
Makes sense! You wanna go for it? (We'll sponsor the work if you wanna tackle it.)

[2019-07-02 14:24] BrentOzar commented on #2065
Makes sense! You wanna go for it? (We'll sponsor the work if you wanna tackle it.)

[2019-07-02 14:25] BrentOzar commented on #2064
OK, cool. Do you want to tackle this? (I don't personally use that feature these days, and I'm booked solid right now, so I can't contribute code on it.) If you don't want to, I totally understand, and we can leave this as a known issue.

[2019-07-02 14:26] BrentOzar commented on #2063
Makes sense! You wanna go for it? (We'll sponsor the work if you wanna tackle it.)

[2019-07-02 14:33] ianmanton commented on #2064
TBH – I did try lol – but I couldn’t work out why it wasn’t working.  I.e. I can only see the checkdate being set at the point of execution so didn’t see why it was changing only for the splblitz execution?

Could just add a new slicer in power bi for the spblitz chkdate version but imagine the drillthrough to querydetails wouldn’t sit very well with that?

From: Brent Ozar <notifications@github.c

[2019-07-02 14:33] BrentOzar opened #2070 "sp_BlitzCache showing duplicated missing indexes"
**Version of the script**
SELECT @Version = '7.5', @VersionDate = '20190427';

**What is the current behavior?**
Incorrect missing index counts. To repro:

* Run sp_BlitzCache in one session, show a query with a single missing index warning
* Run it in another session, and the missing index warning will show 2 missing indexes
* Run it in a third session, and the missing index warning will show 3 m

[2019-07-02 14:39] erikdarlingdata commented on #2063
Yes, I'll get to this (and all the issues I opened) when I have some downtime. Been bonkers over here lately. I haven't forgotten about them.

[2019-07-02 14:40] BrentOzar commented on #2063
No worries, just wanted to put it in publicly so people knew where we were at. No rush.

[2019-07-02 15:29] BrentOzar commented on #2059
Good catch! Fixed. Going forward you can just submit pull requests along with the issue for this kind of thing.

[2019-07-02 15:29] #2059 closed

[2019-07-03 10:57] Adedba commented on #2027
Unfortunately looks like the new version is still hitting some issues - I am looking into it to see if I can get to the root of the problem - I will update as soon as I know more.

[2019-07-03 11:09] BrentOzar commented on #2027
Yeah, not surprised. If you find something with the new code in the July release, can you start a new issue? Thanks!

[2019-07-03 11:42] Adedba opened #2072 "sp_BlitzFirst and sp_BlitzCache - Sometimes fail when there are readable secondary databases on the server"
**Version of the script**
sp_BlitzFirst - Version = '7.6', VersionDate = '20190702';
sp_BlitzCache - Version = '7.6', VersionDate = '20190702';

**What is the current behavior?**
When I run the BlitzFirst collection to log output to tables using the following command on a Read intent secondary server it can error.

Command:

EXEC sp_BlitzFirst
  @OutputDatabaseName = 'DBA',
  @OutputSchemaName = '

[2019-07-03 11:47] BrentOzar commented on #2072
Great bug report! Nice job. (For folks reading here and not Slack, Adrian's working on tweaks to the code.)

[2019-07-16 21:24] brokenthorn opened #2074 "sp_AllNightLog uses unsupported parameter value for sp DatabaseBackup call"
Olla Hallengren DatabaseBackup Version: 2019-06-14 00:05:34

`EXEC sp_AllNightLog @Backup = 1, @Debug=1`

prints:

[code]

L1183:

[code]

Secondary issue is that the backup jobs don't fail because DatabaseBackup returns null for the error code when it fails above and `sp_AllNightLog @Backup = 1` treats that as success.

[2019-07-17 21:29] ssodba2 opened #2075 "sp_Blitz causing MSSQLSERVER & SQLSERVERAENT services to stop"
Version 7.6

Run:
EXEC sp_Blitz @CheckUserDatabaseObjects = 1, @CheckServerInfo = 1;

Result:
RegOpenKeyEx() returned error 2, 'The system cannot find the file specified.'
Msg 22001, Level 1, State 1
Warning: Null value is eliminated by an aggregate or other SET operation.
Msg 64, Level 20, State 0, Line 0
A transport-level error has occurred when receiving results from the server. (provider: TCP

[2019-07-25 13:34] BrentOzar commented on #2075
My guess - and this is just a guess - is that you're hitting corruption issues. I'd check your SQL Server logs.

[2019-07-25 13:36] BrentOzar commented on #2074
Yep, that's here: https://github.com/olahallengren/sql-server-maintenance-solution/pull/13

[2019-07-25 13:36] #2074 closed

[2019-07-26 08:53] brokenthorn commented on #2074
My bad. I feel stupid. I should have read the description more carefully.

[2019-08-01 10:10] Scotti85 opened #2076 "sp_BitzIndex throw ArithmeticOverflowException for clustered columnstore indexes with >100 columns"
Latly the "sp_BlitzIndex" raise an Exceptions on one of our servers if we want to save the result in an Outputtable. The source of our problem is an table with ClusteredColumnstoreIndex and 143 columns. Because of this setup the "index_definition" for the resulttable becomes greater then 4000 Letters and throw an ArithmeticOverflowException.

A possible solution would be to truncate the  "index_de

[2019-08-05 01:09] gdoddsy opened #2077 "sp_Databaserestore doesn't restore diffs by default"
If the @BackupPathDiff is specified in sp_DatabaseRestore then it should restore the diff backups unless RestoreDiff is specifically set to 0.

[2019-08-05 10:45] howarthcd opened #2078 "sp_Blitz - Plan Guides and QUOTED_IDENTIFIER OFF"
**Version of the script**
@Version = '7.6', @VersionDate = '20190702'

**What is the current behavior?**
If a plan guide's query text uses quoted identifiers then the 'Plan Guides Failing' is returned by sp_Blitz even if the plan guide's query text is valid with QUOTED_IDENTIFIER set to ON.

It seems that plan guides are being validated as if QUOTED_IDENTIFIER were set to OFF.

**If the current be

[2019-08-05 13:26] BrentOzar commented on #2077
Ooo, interesting. So are you saying it doesn’t work when RestoreDiff is set to 1 and the diff path is populated? Can you be more specific about the scenario where it’s not working or giving you an error? Thanks!

[2019-08-07 02:35] gdoddsy commented on #2077
Nope. It works fine when you do that, everything works as designed.

I'm questioning the design. If I specify the Full and Log paths then it automatically restores the full and log. If I specify the Full and Diff and Log paths then it still only restores the Full and Log, not the Diff.

I've created a pull request (I think correctly) on how I think it should work: If you go to the effort of specif

[2019-08-07 07:37] BrentOzar commented on #2077
Gotcha. If we were designing a new script from scratch, I'd be totally open to this, but once the script is out in the wild, I'm not a big fan of changing its behavior. Thousands of people download these scripts every month, and I don't want to change the way they work by default unless there's a really, really compelling reason - as in, the way they work is broken.

It's nothing against your requ

[2019-08-07 07:37] #2077 closed

[2019-08-09 19:17] ShawnPOWER opened #2080 "Uninstall (remove) First Responder Kit"
It would be awesome to be able to run some SQL in order to remove all items after running Install-All-Scripts. I haven't found this feature in any of the documentation thus far.

[2019-08-09 19:46] BrentOzar commented on #2080
Sure, that's a neat feature request. If you'd like to code it, go ahead and read the contributing guide in this repo for how to get started. For example, you might call it Uninstall.sql.

[2019-08-11 21:56] gdoddsy opened #2081 "Set the owner of the database after restore"
**Is your feature request related to a problem? Please describe.**
We always want to set the database owner after a restore, so we'd like to specify the owner as part of the restore script.

**Describe the solution you'd like**
Provide an extra parameter to sp_DatabaseRestore that sends in the desired owner username. After restoring the database, validate that it's actually a user and then set the

[2019-08-11 21:57] BrentOzar commented on #2081
Makes sense! I like it. Go for it!

[2019-08-11 22:06] gdoddsy commented on #2081
@BrentOzar - do you have a suggestion for how to validate the user exists and what to do if they don't?

I'm currently thinking something like:
[code]

[2019-08-11 22:11] BrentOzar commented on #2081
No, no opinion here (out on vacation this month) - but other folks might have an opinion, will let them chime in.

[2019-08-11 22:25] gdoddsy commented on #2081
Pull request sent through.

[2019-08-12 15:15] EmanueleMeazzo commented on #2080
I'll code it if @ShawnPOWER doesn't have the time, let me know

[2019-08-12 15:28] ShawnPOWER commented on #2080
I unfortunately don't have the time at the moment to assist. Thank you @EmanueleMeazzo!

[2019-08-12 15:29] EmanueleMeazzo opened #2083 "Drop Support for SQL Server 2008(R2)"
Since Microsoft has dropped support for SQL Server 2008, should we drop the requirement for the FirstResponderKit to support it too?
In this way TSQL code from SQL Server 2012+ could be used, which would allow to create a more compact and faster code, e.g.:

- TRY_CONVERT
- IIF
- CONCAT
- FORMAT
- Offset Windowing Functions

What do you think?

[2019-08-12 16:00] BrentOzar commented on #2083
"More compact and faster code" isn't really a benefit here - it would require rewriting the code to use the newer features, which requires volunteer labor. Same thing with testing - code rewrites introduce the possibility of bugs.

So all I'm seeing here is more work and more bugs - not really a benefit there.

If, during the course of developing something new inside the First Responder Kit, that

[2019-08-12 20:42] EmanueleMeazzo commented on #2083
Indeed, a rewrite would be too much of a hassle and absolutely impractical; what I'm proposing is not a refactoring but a formal drop of the _support requirement_ from the project, i.e. :

- Changing the Readme
- Any issue regarding SQL 2008 specifically will be dismissed as "not suported"
- Any future development will not be bound by the 2008 constraints

That's it, just saying "guys, we won't gu

[2019-08-12 20:44] BrentOzar commented on #2083
Gotcha - no, given the huge, huge adoption rate of SQL Server 2008, I don't think it makes sense. There are more servers on 2008 and 2008R2 than on 2016 and 2017 *combined*: https://app.spotlightcloud.io/public/collectiveiq

[2019-08-12 20:44] #2083 closed

[2019-08-18 14:31] BrentOzar opened #2084 "sp_BlitzIndex deadlocking itself on SQL Server 2019 CTP 3.2"
**Version of the script**
SELECT @Version = '7.6', @VersionDate = '20190702';

**What is the current behavior?**
Run sp_BlitzIndex with any parameters, and it pauses during execution. If you run sp_WhoIsActive @get_locks = 1, it shows that it's waiting on (1247ms)LCK_M_X, and the statement running is:

[code]

Locks involved:

[code]

After the deadlock resolves, sp_BlitzLock shows the transaction

[2019-08-18 14:44] BrentOzar commented on #2081
Good job! I've merged it into the dev branch, and it'll be in the August release, with credit to you in the release notes. Thanks!

[2019-08-18 14:44] #2081 closed

[2019-08-18 14:46] #2072 closed

[2019-08-18 14:46] BrentOzar commented on #2072
Looks good! Merged into the dev branch, and it'll be in the August release and I'll credit you in the release notes. Thanks!

[2019-08-18 14:49] #2067 closed

[2019-08-18 14:51] BrentOzar commented on #2067
Great work! Merged into the dev branch, and this will be in the August release with you in the credits. Thanks!

[2019-08-18 15:15] BrentOzar commented on #2078
Yeah, after some investigation, looks like sp_msforeachdb isn't honoring the database's quoted_identifier setting:

/* Check your current session settings: */
if ((256 & @@options) = 256) print 'quoted_identifier is on' else print 'quoted_identifier is off';

/* Check each database's settings: */
SELECT name, is_quoted_identifier_on FROM sys.databases;

/* Check how sp_msforeachdb works: */
sp_msf

[2019-08-18 15:18] BrentOzar commented on #2078
The section of the code involved is here:

[code]

If you want to code this fix, doing this right would probably involve looping through the databases, checking their quoted_identifier settings, and then running the right SET QUOTED_IDENTIFIER settings for that particular database. Is that something you want to tackle? (If not, I totally understand - it's beyond something I can do quickly too.)

[2019-08-18 15:32] BrentOzar commented on #2076
Thanks! Repro script:

[code]

[2019-08-18 15:34] #2076 closed

[2019-08-18 15:36] BrentOzar commented on #2076
Fixed in the dev branch, will be in August's release. Thanks!

[2019-08-18 15:37] BrentOzar commented on #2075
Haven't heard back from you, closing. If you have additional questions just let us know, though.

[2019-08-18 15:37] #2075 closed

[2019-08-18 15:38] BrentOzar commented on #2064
OK, go ahead and feel free to make whatever changes you want to your Power BI Desktop files and go from there. (We no longer maintain that.)

[2019-08-18 15:38] #2064 closed

[2019-08-18 15:48] #2060 closed

[2019-08-18 15:49] BrentOzar commented on #2060
Woohoo! Love that 2.3TB RAM, sounds awesome. OK, fixed in the dev branch, and will be in August's release. Thanks!

[2019-08-18 16:05] #2053 closed

[2019-08-18 16:05] BrentOzar commented on #2053
Good catch! I should have fixed this earlier, doh. Merged into dev, will be in the August release.

[2019-08-18 16:07] BrentOzar commented on #2057
Haven't heard back from you for a few months, so closing.

[2019-08-18 16:07] #2057 closed

[2019-08-18 16:08] BrentOzar commented on #2020
OK, if you decide you want to work on it again sometime, you can reopen the issue. Closing for now. Thanks!

[2019-08-18 16:08] #2020 closed

[2019-08-18 16:09] BrentOzar commented on #2023
Haven't heard back from you for a while - no problem, just if you decide you want to actively work on it again, you can reopen this issue. Thanks!

[2019-08-18 16:09] #2023 closed

[2019-08-18 16:12] #2022 closed

[2019-08-18 16:15] BrentOzar commented on #2022
Thanks for the debugging, everybody! I removed air_quote_actuals from sp_BlitzCache for now. (They're still not working in SQL Server 2019 CTP 3.2, either.) Will revisit this later if MS gets it working.

[2019-08-18 16:18] #2044 closed

[2019-08-18 16:20] BrentOzar commented on #2044
Perfect, thanks for the bug report and the code! Sorry this one took so long to get in - especially considering how easy you made it! It's in the dev branch now, and it'll be in the August release, along with a thanks to you in the change log.

[2019-08-19 17:20] SakariForsberg commented on #2052
Hi! It would be a good idea to make it configurable same way than 'long running query warning (seconds)'. We have dedicated servers (couple of databases) where 25% would be real high value and maybe needed some inspecting meanwhile our shared server (several score databases) would do almost fine if their percentage is 90%. 75% would be a good default value.

Thank you for the nice kit.

[2019-08-26 12:37] BrentOzar commented on #2078
@howarthcd is this something you want to tackle, or should I close it?

[2019-08-26 12:37] BrentOzar commented on #1830
Closing this since sp_WhoIsActive is open source now, not doing new development on sp_BlitzWho.

[2019-08-26 12:37] #1830 closed

[2019-08-26 12:46] BrentOzar commented on #2062
This is a really duct-tape way of fixing it, and it's not going to work in all situations:

[code]

[2019-08-26 12:47] erikdarlingdata commented on #2068
This should be closed. The fix I had ended up not working in all cases, and coming up with a fix to work in all cases is impossible because of the way data gets read from the in memory tables when query store is active. Detailed a bit [here](https://erikdarlingdata.com/2019/08/for-better-query-store-adoption-make-querying-it-easier/).

[2019-08-26 12:47] erikdarlingdata commented on #2066
Can close this if it's being deprecated.

[2019-08-26 12:48] #2066 closed

[2019-08-26 12:48] #2068 closed

[2019-08-26 12:49] erikdarlingdata commented on #2084
Does this still happen in the RC?

[2019-08-26 12:55] #2062 closed

[2019-08-26 13:45] BrentOzar commented on #2084
Yay! No, doesn't appear to be happening on the RC, closing. The best kind of bugs.

[2019-08-26 13:45] #2084 closed

[2019-08-26 13:52] #2052 closed

[2019-08-26 13:53] BrentOzar commented on #2052
@SakariForsberg thanks for the input, but I just made it 75% for now. For a configurable high-priority warning, sp_Blitz is probably a better place.

[2019-08-27 08:12] howarthcd commented on #2078
Sorry @BrentOzar , I missed the email notifications in respect of your earlier replies. I'll take a look into it and let you know. Thanks, Chris.

[2019-08-27 14:21] planetmatt opened #2096 "BlitzFirst incorrectly skipping Plan Cache Analysis due to British Summer Time"
**Version of the script**
7.7

**What is the current behavior?**
Running BlitzFirst with @CheckProcedureCache=1 never does the Plan Cache Analysis on systems where SYSDATETIMEOFFSET() returns a positive Time Zone offset value.

 Script constantly outputs

'Query Stats', 'Plan Cache Analysis Skipped', http://www.BrentOzar.com/go/topqueries', 'Due to excessive load, the plan cache analysis was skipp

[2019-08-27 17:54] sm8680 opened #2097 "sp_DatabaseRestore unresolved reference type to dbo.SYSNAME"
**Version of the script** 7.7
New functionality that should effect all versions of SQL Server

**What is the current behavior?**
Parameter declaration
@DatabaseOwner SYSNAME = NULL,
Errors comes up with unresolved reference type to dbo.SYSNAME

**If the current behavior is a bug, please provide the steps to reproduce.**
compile the code with a case sensitive collation

**What is the expected behav

[2019-08-28 11:48] petervandivier opened #2099 "Dead links"
**Version of the script**
As noted in #2013 , #6 , #2041 sometimes links break. So clearly we need a [new internet](https://en.wikipedia.org/wiki/Project_Xanadu). While we wait on that though, we must toil in the DNS mines to harvest the raw URL ore necessary to feed the ever-hungering Beast. This issue is such toil

**What is the current behavior?**

I've flagged two (2) links that point to dead

[2019-08-30 11:51] #2097 closed

[2019-08-30 16:54] erikdarlingdata commented on #1930
One quick and dirty fix for this might be to do this. Someone smarter could probably figure out a better way, but I lost my mind trying to figure out what was going wrong with the weighting.

This would mess up the weighting when you sort by executions, obviously.

[code]

[2019-09-02 12:49] renegm opened #2106 "Unsafe string aggregation in sp_DatabaseRestore (code done, testing needed)"
sp_DatabaseRestore
Unsafe string aggregation.

1.Variable accumulation: `SELECT @sql = @sql + N'KILL ' + CAST(spid as nvarchar(5)) + N';' + NCHAR(13) etc
`This works almost everytime except, well, when it doesn't. Result is unpredictable.
(Also kill connections or Set single user its not enough.) Quote
https://docs.microsoft.com/en-us/sql/relational-databases/databases/set-a-database-to-single-use

[2019-09-02 12:51] BrentOzar commented on #2106
Ok, cool. Thanks for catching this. Read through the Contribution Guide and then I’ll get your pull request in pretty quickly. Thanks!

---
Tiny glass keyboard
Typos flowing like rivers
As winter snow thaws

[2019-09-02 13:07] renegm commented on #2106
That was fast.
I'll do it.

[2019-09-03 13:02] sm8680 commented on #2106
Pertaining to the Kill statement in this sproc.  I wasn't sure why the kill statements are needed in this sproc or I'm just clueless and losing my mind.

In my past for restores.  If a database already exists I’ve always found it best to take the database offline and restore over the existing database.  I almost never use single user mode or kill spids.  For their not fail proof IMO.
ALTER DATABAS

[2019-09-03 14:22] renegm commented on #2106
I think the user must be able to do whatever he want. So activity param must address don’t restore, single user or offline. And other  param to restore db settings maybe?

[2019-09-05 03:23] aelmi opened #2108 "duplicate version"
There are 2 values for
major = 10 and minor = 1600

10.50.1600. = Server 2008 R2 RTM  RTM
please refer to https://sqlserverbuilds.blogspot.com

So you need to remove the the last linebefore go - line 334
(10, 1600, 'RTM ', '', '2008-08-06', '2014-07-08', '2019-07-09', 'SQL Server 2008', 'RTM ')

[2019-09-09 22:10] BrentOzar opened #2109 "sp_BlitzCache: check database-scoped configurations to enable sys.dm_exec_query_plan_stats"
We disabled air_quote_actual plans because it wasn't reliably working:

https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/issues/2022

But now that we're on SQL Server 2019 RC1, check database-scoped configurations to see if it's been enabled, something like this:

[code]

And turn it on if the feature is enabled.

**Are you ready to build the code for the feature?**
Yep

[2019-09-09 22:18] BrentOzar commented on #2109
Ugh, here comes the crappy part: since it's database-scoped, we're going to have to:

* Loop through the databases with sp_foreachdb and grab the setting for all of them (which can fail if it's an AG secondary and it's not available for readable queries)
* Then, in the main dynamic SQL to pull the actual plans, do a CASE statement depending on this setting, and either set the plan to the estimated

[2019-09-12 00:13] roy-tate opened #2110 "Reports an error ... missing object sp_DatabaseRestore on first install"
**Version of the script**
@Version = '3.7', @VersionDate = '20190826';

**What is the current behavior?**
Reports an error for a procedure CONTAINED in the script!

The module 'sp_AllNightLog' depends on the missing object 'DbTools.dbo.sp_DatabaseRestore'. The module will still be created; however, it cannot run successfully until the object exists.

**If the current behavior is a bug, please prov

[2019-09-12 00:15] BrentOzar commented on #2110
OK, whenever you've got time to push a change, feel free to reopen the issue. Thanks!

[2019-09-12 00:15] #2110 closed

[2019-09-14 10:34] BrentOzar commented on #2109
Possibly a simpler way: check the size of the air_quote_actual plan, and when it's over a few KB, then use it.

[2019-09-17 16:07] ChadMasti commented on #2096
I too confirm hitting the same bug, looking forward to a fix, TIA Brent :-)
Invocation to sp_BlitzFirst is via:
EXEC sp_BlitzFirst  @CheckProcedureCache = 1,  @CheckServerInfo = 1,  @ExpertMode =1 ;
Results of above queries in above mentioned bug/post is below (in order):
SYSDATETIME	@FinishSampleTime
2019-09-17 17:58:27.6815061	2019-09-17 17:58:32.6815061 +02:00
(No column name)
7195
My instance

[2019-09-19 02:05] TheUsernameSelectionSucks opened #2111 "sp_BlitzCache - Missing UNION ALL in @Help query"
It looks like there is a missing UNION ALL in the query that returns the result set with @Help = 1 right before the MinSpills SELECT. This is causing two resultsets to be returned for the columns.
![Annotation](https://user-images.githubusercontent.com/26902750/65207676-05281180-da58-11e9-87ef-e167a2cc8a04.jpg)

[2019-09-19 17:07] BrentOzar commented on #2063
Great job! Thanks sir, merging, will be in this month's release, and I'll fix the collector for it too.

[2019-09-19 17:07] #2063 closed

[2019-09-19 17:16] BrentOzar commented on #2065
Looks good! Thanks sir!

[2019-09-19 17:16] #2065 closed

[2019-09-19 17:36] BrentOzar commented on #2051
@erikdarlingdata I was testing it, and it's reeeeally close, but the qhg variable ends up with a leading single quote, so the first hash doesn't go in. To see what I mean:

[code]

Only the lowers show up. To diagnose it, in sp_BlitzCache, I went to where you're setting qhg, and added a couple of diagnostic lines at the end of this:

[code]

And that's how I found the leading single quote:

<img w

[2019-09-19 17:38] erikdarlingdata commented on #2051
Oh, duh. I'm a dummy. I pulled the code from the dynamic SQL we use for all/all avg and forgot to remove the doubled up quote: `N''''` Just change it to `N''` if you want a quick fix. Lemme know!

[2019-09-19 17:39] BrentOzar commented on #2051
Woohoo! Perfect, I can do that. Thanks man!

[2019-09-19 17:44] #2051 closed

[2019-09-19 17:50] BrentOzar commented on #2099
Great job, thanks sir!

[2019-09-19 17:50] #2099 closed

[2019-09-19 17:53] #2111 closed

[2019-09-19 18:03] BrentOzar commented on #2108
Hmm, I don't see what you see? Here's what's in the file currently:
https://github.com/BrentOzarULTD/SQL-Server-First-Responder-Kit/blob/dev/SqlServerVersions.sql

[code]
Can you be more specific, or include a screenshot? Thanks!

[2019-09-19 18:08] BrentOzar commented on #2080
Great job, @EmanueleMeazzo! Merged it into the dev branch, and it'll be in the September release with credit to y'all. Thanks!

[2019-09-19 18:08] #2080 closed

[2019-09-19 19:39] erikdarlingdata opened #2113 "BlitzCache: Selects with writes roll up warning"
**Version of the script**
Most recent commit to dev

**What is the current behavior?**
Warnings roll up looks at the wrong thing

**If the current behavior is a bug, please provide the steps to reproduce.**
It should look at `select_with_writes = 1` instead of the current where clause. This might pick up non-select queries.

**What is the expected behavior?**
Only pick up queries tagged as selects

[2019-09-19 19:41] erikdarlingdata opened #2114 "Recently added UNION ALL syntax is incorrect"
**Version of the script**
Most recent dev commit

**What is the current behavior?**
Can't install the proc:
![image](https://user-images.githubusercontent.com/2136037/65275561-eb3c0c80-daf3-11e9-9d4e-577aa321a63b.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
Try to install the proc

**What is the expected behavior?**
I should be able to install the proc

**Whic

[2019-09-19 21:12] #2114 closed

[2019-09-19 21:12] #2113 closed

[2019-09-19 21:24] #2096 closed